<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{ btnContent }} REPORTS META</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
        <i class="icon close-icon"></i>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Report Name</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Report Name"
                        [(ngModel)]="reportName"
                        (ngModelChange)="reportNameChanged($event)"
                    />
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <label class="control-label">Duration</label>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input
                            type="radio"
                            class="form-check-input"
                            [(ngModel)]="duration"
                            (ngModelChange)="durationChanged($event)"
                            name="optradio"
                            value="monthly"
                        />Monthly
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input
                            type="radio"
                            class="form-check-input"
                            [(ngModel)]="duration"
                            (ngModelChange)="durationChanged($event)"
                            name="optradio"
                            value="quarterly"
                        />Quarterly
                    </label>
                </div>
                <div class="form-check-inline disabled">
                    <label class="form-check-label">
                        <input
                            type="radio"
                            class="form-check-input"
                            [(ngModel)]="duration"
                            (ngModelChange)="durationChanged($event)"
                            name="optradio"
                            value="yearly"
                        />Yearly
                    </label>
                </div>
            </div>
        </div>
        <div class="text-left mt-3">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span (click)="selectUnselectAll(data)" class="select-all-text">
                                <span *ngIf="data.isAllSelected; else noneSelected">Unselect All </span>
                                <ng-template #noneSelected>Select All </ng-template>
                            </span>
                            <span (click)="expandCollapseAll(data)">
                                <i class="fa fa-caret-up" *ngIf="data.isAllCollapsed; else isCollapsed"></i>
                                <ng-template #isCollapsed><i class="fa fa-caret-down"></i></ng-template>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of data.ParentChildchecklist">
                            <input
                                type="checkbox"
                                [(ngModel)]="item.isSelected"
                                name="list_name"
                                value="{{ item.value }}"
                                (ngModelChange)="parentCheck(item)"
                            />
                            {{ item.value | underscoreReplace }}
                            <span (click)="expandCollapse(item)"
                                ><i class="fa fa-caret-up" *ngIf="item.isClosed; else isCollapsed"></i>
                                <ng-template #isCollapsed><i class="fa fa-caret-down"></i></ng-template>
                            </span>
                            <div class="child-list" [hidden]="item.isClosed">
                                <ul class="list-group level-two">
                                    <li class="list-group-item level-two" *ngFor="let itemChild of item.childList">
                                        <input
                                            type="checkbox"
                                            [(ngModel)]="itemChild.isSelected"
                                            name="list_name_child"
                                            value="{{ itemChild.value }}"
                                            (ngModelChange)="childCheck(item, item.childList)"
                                        />
                                        {{ itemChild.value | underscoreReplace }}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="selected-items-sec">
                        <p *ngIf="isAnyCheckboxSelected" class="select-all-text"><b>Selected Items </b></p>
                        <ul *ngFor="let parent of data.ParentChildchecklist">
                            <li class="list-item" *ngIf="checkChildExistOrNot(parent.childList)">
                                {{ parent.value | underscoreReplace }}
                                <ul *ngIf="parent.childList.length > 0">
                                    <div *ngFor="let child of parent.childList">
                                        <li *ngIf="child.isSelected" class="list-item">{{ child.value | underscoreReplace }}</li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!--

                     {{stringify(data)}}
-->
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <button
                    type="button"
                    class="btn btn-success"
                    (click)="saveReport()"
                    [disabled]="
                        reportId
                            ? !(
                                  (childItemlistChange ||
                                      parentItemListChange ||
                                      selectUnselectAllChange ||
                                      isReportNameChanged ||
                                      isDurationChanged) &&
                                  duration &&
                                  reportName &&
                                  isAnyCheckboxSelected
                              )
                            : !(
                                  (childItemlistChange || parentItemListChange || selectUnselectAllChange) &&
                                  duration &&
                                  reportName &&
                                  isAnyCheckboxSelected
                              )
                    "
                >
                    {{ btnContent }}
                </button>
            </div>
        </div>
    </div>
</div>
