<div class="modal-content dependency-modal-content">
    <div class="modal-header text-white dependency-modal">
        <h4 class="modal-title" id="myModalLabel">
            Dependencies
        </h4>
        <button type="button" class="close" (click)="passBack()">
            <img src="../../../../../../../assets/images/close-icon.png" class="img-fluid" />
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" novalidate>
            <div class="row m-0 mb-2" *ngFor="let dependencyType of selectedDependencyTypes; index as i">
                <div *ngIf="i < dependencyTypes.length" class="col-12 dep-sec">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="selectedDependencyType{{ i }}" class="control-label">Dependency Type</label>
                            <div class="input-group" *ngIf="!shouldDisableDependencyDropDown(i)">
                                <select
                                    class="form-control"
                                    name="selectedDependencyType"
                                    id="selectedDependencyType{{ i }}"
                                    [(ngModel)]="dependencyType"
                                    [ngModelOptions]="{ standalone: true }"
                                >
                                    <option value="0" selected disabled>Select Dependency</option>
                                    <option
                                        *ngFor="let dependency of dependencyTypes"
                                        [value]="dependency.dependencyId"
                                        [disabled]="dependency.isSelected"
                                    >
                                        {{ dependency.dependencyName }}
                                    </option>
                                </select>
                                <span class="input-group-prepend dropdown-toggle-icon">
                                    <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                                </span>
                            </div>
                            <div class="input-group" *ngIf="shouldDisableDependencyDropDown(i)">
                                <input
                                    name="dependencyType"
                                    value="{{ getDependencyValueByName(dependencyType) }}"
                                    type="text"
                                    class="form-control"
                                    readonly
                                />
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4 add-more">
                            <label class="control-label"></label>
                            <button
                                *ngIf="selectedDependencyTypes.length - 1 === i"
                                class="btn btn-default btn-min-width w-r-btn-100 ml-0 project-summery-button"
                                [disabled]="dependencyType === 0"
                                type="button"
                                (click)="addMore(dependencyType)"
                            >
                                Add More
                            </button>
                        </div>
                    </div>
                    <div *ngIf="dependencyType == 1" class="row dependency-wrapper">
                        <div class="col-12 no-gluter clearfix">
                            <label class="control-label label pl-3">Software</label>
                            <div formGroupName="softwareDependency">
                                <div class="col-md-4 form-group dep-owner" *ngIf="dependencyType">
                                    <label class="control-label">Dependency Owner</label>
                                    <div class="input-group">
                                        <select class="form-control" name="selectedDependencyType" formControlName="dependencyOwnerId">
                                            <option
                                                *ngIf="myForm.controls.softwareDependency.get('dependencyOwnerId').value === 0"
                                                [value]="myForm.controls.softwareDependency.get('dependencyOwnerId').value"
                                                selected
                                                disabled
                                                >Select Dependency Owner</option
                                            >
                                            <option
                                                *ngIf="myForm.controls.softwareDependency.get('dependencyOwnerId').value === ''"
                                                value=""
                                                selected
                                                disabled
                                                >Select Dependency Owner</option
                                            >
                                            <option *ngFor="let dependencyOwner of dependencyOwnerList" [value]="dependencyOwner.id">
                                                {{ dependencyOwner.name | titlecase }}
                                            </option>
                                        </select>
                                        <span class="input-group-prepend dropdown-toggle-icon">
                                            <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="details" formArrayName="details">
                                    <div
                                        *ngFor="let software of myForm.controls.softwareDependency.controls.details.controls; let i = index"
                                        class="dependency-input-group row"
                                    >
                                        <div class="col-9 software-dependency" [formGroupName]="i">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Jira Ticket No</label>
                                                <input
                                                    name="crnNo{{ i }}"
                                                    id="crnNo{{ i }}"
                                                    formControlName="crnNo"
                                                    type="number"
                                                    class="form-control"
                                                    placeholder="Jira Ticket No"
                                                />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Release Date</label>
                                                <div class="input-group">
                                                    <input
                                                        type="text"
                                                        placeholder="YYYY-MM-DD"
                                                        [container]="''"
                                                        #resolutionDate="bsDatepicker"
                                                        bsDatepicker
                                                        class="form-control"
                                                        name="resolutionDate"
                                                        formControlName="resolutionDate"
                                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                                                        readonly
                                                    />
                                                    <span
                                                        class="input-group-prepend"
                                                        (click)="resolutionDate.toggle()"
                                                        [attr.aria-expanded]="resolutionDate.isOpen"
                                                    >
                                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Remarks</label>
                                                <input
                                                    name="remarks{{ i }}"
                                                    id="remarks{{ i }}"
                                                    formControlName="remarks"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Remarks"
                                                    (keypress)="omitSpecialChar($event)"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-3 software-dependency-btn">
                                            <div class="form-group ">
                                                <button
                                                    class="btn-del"
                                                    [disabled]="isFirstSoftwareDependency()"
                                                    type="button"
                                                    (click)="removeSoftwareDependency(i)"
                                                >
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                            <div
                                                *ngIf="
                                                    !isLastSoftwareDependencyIsEmpty() &&
                                                    i === myForm.controls.softwareDependency.controls.details.controls.length - 1
                                                "
                                                class="form-group"
                                            >
                                                <button class="btn-add" type="button" (click)="addSoftwareDependency()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dependencyType == 2" class="row dependency-wrapper">
                        <div class="mt-1 col-12 no-gluter clearfix">
                            <label class="control-label label pl-3">Hardware</label>
                            <div formGroupName="hardwareDependency">
                                <div class="col-md-4 form-group dep-owner" *ngIf="dependencyType">
                                    <label class="control-label">Dependency Owner</label>
                                    <div class="input-group">
                                        <select class="form-control" name="selectedDependencyType" formControlName="dependencyOwnerId">
                                            <option
                                                *ngIf="myForm.controls.hardwareDependency.get('dependencyOwnerId').value === 0"
                                                [value]="myForm.controls.hardwareDependency.get('dependencyOwnerId').value"
                                                selected
                                                disabled
                                                >Select Dependency Owner</option
                                            >
                                            <option
                                                *ngIf="myForm.controls.hardwareDependency.get('dependencyOwnerId').value === ''"
                                                value=""
                                                selected
                                                disabled
                                                >Select Dependency Owner</option
                                            >
                                            <option *ngFor="let dependencyOwner of dependencyOwnerList" [value]="dependencyOwner.id">
                                                {{ dependencyOwner.name | titlecase }}
                                            </option>
                                        </select>
                                        <span class="input-group-prepend dropdown-toggle-icon">
                                            <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="details" formArrayName="details">
                                    <div
                                        *ngFor="
                                            let dependency of myForm.controls.hardwareDependency.controls.details.controls;
                                            let i = index
                                        "
                                        class="row"
                                    >
                                        <div class="col-6 dependency software-dependency" [formGroupName]="i">
                                            <div class="form-group">
                                                <label class="control-label">Expected Hardware Date</label>
                                                <div class="input-group">
                                                    <input
                                                        type="text"
                                                        placeholder="YYYY-MM-DD"
                                                        [container]="''"
                                                        #resolutionDate="bsDatepicker"
                                                        bsDatepicker
                                                        class="form-control"
                                                        name="resolutionDate"
                                                        formControlName="resolutionDate"
                                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                                                        readonly
                                                    />
                                                    <span
                                                        class="input-group-prepend"
                                                        (click)="resolutionDate.toggle()"
                                                        [attr.aria-expanded]="resolutionDate.isOpen"
                                                    >
                                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group dependency-details">
                                                <label class="control-label">Remarks</label>
                                                <input
                                                    name="remarks"
                                                    formControlName="remarks"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Remarks"
                                                    (keypress)="omitSpecialChar($event)"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dependencyType == 3" class="row dependency-wrapper">
                        <div class="mt-1 col-12 no-gluter clearfix">
                            <label class="control-label label  pl-3">Cust/Dep</label>
                            <div formGroupName="customerDependency">
                                <div class="col-md-4 form-group dep-owner" *ngIf="dependencyType">
                                    <label class="control-label">Dependency Owner</label>
                                    <div class="input-group">
                                        <select class="form-control" name="selectedDependencyType" formControlName="dependencyOwnerId">
                                            <option
                                                *ngIf="myForm.controls.customerDependency.get('dependencyOwnerId').value === 0"
                                                [value]="myForm.controls.customerDependency.get('dependencyOwnerId').value"
                                                selected
                                                disabled
                                                >Select Dependency Owner</option
                                            >
                                            <option
                                                *ngIf="myForm.controls.customerDependency.get('dependencyOwnerId').value === ''"
                                                value=""
                                                selected
                                                disabled
                                                >Select Dependency Owner</option
                                            >
                                            <option *ngFor="let dependencyOwner of dependencyOwnerList" [value]="dependencyOwner.id">
                                                {{ dependencyOwner.name | titlecase }}
                                            </option>
                                        </select>
                                        <span class="input-group-prepend dropdown-toggle-icon">
                                            <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="details" formArrayName="details">
                                    <div
                                        *ngFor="
                                            let dependency of myForm.controls.customerDependency.controls.details.controls;
                                            let i = index
                                        "
                                        class="row"
                                    >
                                        <div class="col-3 pl-0 dependency" [formGroupName]="i">
                                            <div class="form-group">
                                                <label class="control-label">Remarks</label>
                                                <input
                                                    name="remarks"
                                                    formControlName="remarks"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Remarks"
                                                    (keypress)="omitSpecialChar($event)"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dependencyType == 4" class="row dependency-wrapper">
                        <div class="mt-1 col-12 no-gluter clearfix">
                            <label class="control-label label pl-3">Paperwork</label>
                            <div formGroupName="paperworkDependency">
                                <div class="col-md-4 form-group dep-owner" *ngIf="dependencyType">
                                    <label class="control-label"
                                        >Dependency Owner {{ myForm.controls.paperworkDependency.get('dependencyOwnerId').value }}</label
                                    >
                                    <div class="input-group">
                                        <select class="form-control" name="selectedDependencyType" formControlName="dependencyOwnerId">
                                            <option
                                                *ngIf="myForm.controls.paperworkDependency.get('dependencyOwnerId').value === 0"
                                                [value]="myForm.controls.paperworkDependency.get('dependencyOwnerId').value"
                                                selected
                                                disabled
                                                >Select Dependency Owner
                                                {{ myForm.controls.paperworkDependency.get('dependencyOwnerId').value }}</option
                                            >
                                            <option
                                                *ngIf="myForm.controls.paperworkDependency.get('dependencyOwnerId').value === ''"
                                                value=""
                                                selected
                                                disabled
                                                >Select Dependency Owner
                                                {{ myForm.controls.paperworkDependency.get('dependencyOwnerId').value }}
                                            </option>
                                            <option *ngFor="let dependencyOwner of dependencyOwnerList" [value]="dependencyOwner.id">
                                                {{ dependencyOwner.name | titlecase }}
                                            </option>
                                        </select>
                                        <span class="input-group-prepend dropdown-toggle-icon">
                                            <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="details" formArrayName="details">
                                    <div
                                        *ngFor="
                                            let paperwork of myForm.controls.paperworkDependency.controls.details.controls;
                                            let i = index
                                        "
                                        class="row"
                                    >
                                        <div class="col-6 pl-0 dependency" [formGroupName]="i">
                                            <div class="form-group dependency-details">
                                                <label class="control-label">Expected Paperwork Closure</label>
                                                <div class="input-group">
                                                    <input
                                                        type="text"
                                                        placeholder="YYYY-MM-DD"
                                                        [container]="''"
                                                        #resolutionDate="bsDatepicker"
                                                        bsDatepicker
                                                        class="form-control"
                                                        name="releaseDate"
                                                        formControlName="resolutionDate"
                                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                                                        readonly
                                                    />
                                                    <span
                                                        class="input-group-prepend"
                                                        (click)="resolutionDate.toggle()"
                                                        [attr.aria-expanded]="resolutionDate.isOpen"
                                                    >
                                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group dependency-details">
                                                <label class="control-label">Remarks</label>
                                                <input
                                                    name="remarks"
                                                    formControlName="remarks"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Remarks"
                                                    (keypress)="omitSpecialChar($event)"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isOtherDependency(dependencyType)" class="row dependency-wrapper">
                        <div class="mt-1 col-12 clearfix">
                            <label class="control-label label  pl-3">{{ getDependencyName(dependencyType) }}</label>
                            <div formGroupName="{{ dependencyType }}">
                                <div class="col-md-4 form-group dep-owner" *ngIf="dependencyType">
                                    <label class="control-label">Dependency Owner</label>
                                    <div class="input-group">
                                        <select class="form-control" name="selectedDependencyType" formControlName="dependencyOwnerId">
                                            <option
                                                *ngIf="myForm.controls[dependencyType].get('dependencyOwnerId').value === 0"
                                                [value]="myForm.controls[dependencyType].get('dependencyOwnerId').value"
                                                selected
                                                disabled
                                                >Select Dependency Owner
                                                {{ myForm.controls.paperworkDependency.get('dependencyOwnerId').value }}</option
                                            >
                                            <option
                                                *ngIf="myForm.controls[dependencyType].get('dependencyOwnerId').value === ''"
                                                value=""
                                                selected
                                                disabled
                                                >Select Dependency Owner
                                                {{ myForm.controls.paperworkDependency.get('dependencyOwnerId').value }}
                                            </option>
                                            <option *ngFor="let dependencyOwner of dependencyOwnerList" [value]="dependencyOwner.id">
                                                {{ dependencyOwner.name | titlecase }}
                                            </option>
                                        </select>
                                        <span class="input-group-prepend dropdown-toggle-icon">
                                            <span class="input-group-text"><i class="fa fa-angle-down"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="details" formArrayName="details">
                                    <div
                                        *ngFor="let dependency of myForm.controls[dependencyType].controls.details.controls; let i = index"
                                        class="row"
                                    >
                                        <div class="col-3 pl-0 dependency" [formGroupName]="i">
                                            <div class="form-group">
                                                <label class="control-label">Remarks</label>
                                                <input
                                                    name="remarks"
                                                    formControlName="remarks"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Remarks"
                                                    (keypress)="omitSpecialChar($event)"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-min-width w-r-btn-100 ml-0 project-summery-button" (click)="passBack()">Save</button>
    </div>
</div>
