.dependency-input-group {
    display: flex;
    justify-content: space-around;
}

/*button*/
.project-summery-button {
    border: 1px solid #365661;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    background: #365661;
    color: #ffffff;
    padding: 6px 40px;
}
.project-summery-button:hover {
    background: #365661;
    color: #ffffff;
}
.project-summery-button img {
    margin-right: 10px;
}

.add-more {
    padding-top: 29px;
}

select::-ms-expand {
    display: none;
}

select,
select:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    z-index: 2;
    background: transparent;
}

.dependency-wrapper {
    /*!*
    border-bottom: 1px solid #dddddd;
    *!
    margin: 1rem 0;*/
}

.software-dependency,
.dependency {
    display: flex;
    justify-content: space-around;
}

.dependency-details {
    margin: 0 16px;
}

.software-dependency-btn {
    padding-top: 32px;
    display: flex;
}

.btn-del,
.btn-add {
    outline: 0;
    color: #ffffff;
    border: 0;
    margin-right: 1rem;
}

.btn-del {
    background: red;
}

.btn-add {
    background: #365661;
}

.dependency-modal {
    background: #6f97a8 !important;
}

.dropdown-toggle-icon {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;
}
.dependency-modal-content .modal-footer {
    justify-content: flex-start;
}

.no-gluter {
    /*padding-left: 0;
  padding-right: 0;*/
}

/*.dep-owner{
  margin-top: -103px;
  margin-left: 350px;
}

.details{
  margin-top: 42px;
}*/

.dep-sec {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

select:focus {
    border-color: #365661 !important;
}

.btn-add:focus {
    background: transparent;
    color: #365661;
    border: 1px solid #365661;
}

.btn-del:focus {
    background: transparent !important;
    color: red !important;
    border: 1px solid red;
}
