<h4 class="page-title">REPORTS</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        Billing backlog waterfall report
    </div>

    <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
        <div class="mb-4">
            <div class="w-150 float-left">
                <select
                    class="form-control"
                    [(ngModel)]="selectedYear"
                    name="selectedYear"
                    (change)="selectedYearOnChange(selectedYear)"
                    title=""
                >
                    <option value="">Select Year</option>

                    <option *ngFor="let i of yearList" [value]="i.id">{{ i.value }}</option>
                </select>
            </div>
            <div class="">
                <div class="text-right">
                    <button
                        type="button"
                        class="btn btn-sm filled-btn btn-filled-no-hover"
                        (click)="export()"
                        [disabled]="billingBacklog?.length === 0"
                    >
                        <i class="icon excel-icon"></i> Export Excel
                    </button>
                </div>
            </div>
        </div>
        <!--<button type="button" class="project-summery-button" (click)="viewHistory()">
    view
    history
  </button>-->
        <div class="table-responsive gatepass-table billing-backlog-parent-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <!--table-->
            <table
                id="first-table example"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                #db
                class="table table-bordered billing-backlog-table"
            >
                <thead>
                    <tr>
                        <th class="opp-id" style="border-left: 1px solid #dee2e6 !important;">OPP ID</th>
                        <th>BOOKING QTR</th>
                        <th>YEAR</th>
                        <th>BOOKING DATE</th>
                        <th>REGION</th>
                        <th>PROJECT CODE</th>
                        <th>OPP NAME</th>
                        <th>PROJECT TYPE</th>
                        <th>ENTITY</th>
                        <th>CURRENCY</th>
                        <th>AMOUNT</th>
                        <th>PROJECT BOOKING</th>
                        <th>MNT BOOKING</th>
                        <th>GRAND TOTAL</th>
                        <th>TOTAL {{ currentYear - 1 }} BILLING</th>
                        <th>BILLING BACKLOG {{ currentYear - 1 }}</th>
                        <th>Q1 BILLING</th>
                        <th *ngIf="currentQtr == 'Q1'">TOTAL BILLING {{ currentQtr }}</th>
                        <th>Q2 BILLING</th>
                        <th *ngIf="currentQtr == 'Q2'">TOTAL BILLING {{ currentQtr }}</th>
                        <th>Q3 BILLING</th>
                        <th *ngIf="currentQtr == 'Q3'">TOTAL BILLING {{ currentQtr }}</th>
                        <th>Q4 BILLING</th>
                        <th *ngIf="currentQtr == 'Q4'">TOTAL BILLING {{ currentQtr }}</th>
                        <th>Total {{ currentYear }} BILLING</th>
                        <th>{{ currentYear + 1 }} BILLING</th>
                        <th>{{ currentYear + 2 }} BILLING</th>
                        <th>BUSINESS LINE</th>
                        <th>BIG DATA ANALYTICS</th>
                        <th>ROAMING</th>
                        <th>ROAMING ANALYTICS</th>
                        <th>SECURITY</th>
                        <th>TEST FACTORY</th>
                        <th>TOTAL OF BUSINESS LINE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of billingBacklog">
                        <td>{{ b.oppId }}</td>
                        <td>{{ 'Q' + b.bookingQtr }}</td>
                        <td>{{ b.dealYear }}</td>
                        <td>{{ b.closeDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ b.region }}</td>
                        <td>{{ b.projectCode }}</td>
                        <td>{{ b.oppName ? b.oppName : '--' }}</td>
                        <td>{{ b.oppType }}</td>
                        <td>{{ b.entityCompanyCode ? b.entityCompanyCode : '--' }}</td>
                        <td>{{ b.currency }}</td>
                        <td>{{ b.amount | currency: 'USD' }}</td>
                        <td>{{ b.projectBookingAmount | currency: 'USD' }}</td>
                        <td>{{ b.mntBookingAmount | currency: 'USD' }}</td>
                        <td>{{ b.grandTotalBooking | currency: 'USD' }}</td>
                        <td>{{ b[totalBillingLastYear] | currency: 'USD' }}</td>
                        <td>{{ b[billingBacklogLastYear] | currency: 'USD' }}</td>
                        <td>{{ b.Q1 | currency: 'USD' }}</td>
                        <td *ngIf="currentQtr == 'Q1'">{{ b[totalBillingCrntQtr] | currency: 'USD' }}</td>
                        <td>{{ b.Q2 | currency: 'USD' }}</td>
                        <td *ngIf="currentQtr == 'Q2'">{{ b[totalBillingCrntQtr] | currency: 'USD' }}</td>
                        <td>{{ b.Q3 | currency: 'USD' }}</td>
                        <td *ngIf="currentQtr == 'Q3'">{{ b[totalBillingCrntQtr] | currency: 'USD' }}</td>
                        <td>{{ b.Q4 | currency: 'USD' }}</td>
                        <td *ngIf="currentQtr == 'Q4'">{{ b[totalBillingCrntQtr] | currency: 'USD' }}</td>
                        <td>{{ b[billingCurrentYear] | currency: 'USD' }}</td>
                        <td>{{ b[billingNextYear] | currency: 'USD' }}</td>
                        <td>{{ b[biliingAfter2yr] | currency: 'USD' }}</td>
                        <td>{{ b.businessLines ? b.businessLines : '--' }}</td>
                        <td>{{ b.BigDataAnalytics ? b.BigDataAnalytics : '--' }}</td>
                        <td>{{ b.Roaming ? b.Roaming : '--' }}</td>
                        <td>{{ b.RoamingAnalytics ? b.RoamingAnalytics : '--' }}</td>
                        <td>{{ b.Security ? b.Security : '--' }}</td>
                        <td>{{ b.TestFactory ? b.TestFactory : '--' }}</td>
                        <td>{{ b.totalBusinessLines ? b.totalBusinessLines : 0 }}%</td>
                    </tr>
                </tbody>
                <tbody *ngIf="billingBacklog?.length == 0">
                    <tr>
                        <td colspan="31" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
