<div id="Billing" class=" tab-pane active">
    <div class="card-body">
        <h2 class="table-title">SWDep</h2>
        <div class="table-responsive gatepass-table">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered dataTable sw-dep-table" #db id="example first-table">
                <thead>
                    <tr>
                        <th>BOOKING QTR</th>
                        <th>YEAR</th>
                        <th>REGION NAME</th>
                        <th>CUSTOMER NAME</th>
                        <th>GP PROJECT CODE</th>
                        <th>OPPORTUNITY TYPE</th>
                        <th>OPPORTUNITY NAME</th>
                        <th>CR/PRN</th>
                        <th>Q1-{{ currentYear }} BILLING</th>
                        <th>Q2-{{ currentYear }} BILLING</th>
                        <th>Q3-{{ currentYear }} BILLING</th>
                        <th>Q4-{{ currentYear }} BILLING</th>
                        <th>TOTAL {{ currentYear }}</th>
                        <th>{{ currentYear + 1 }}</th>
                        <th>{{ currentYear + 2 }}</th>
                        <th>{{ currentYear + 3 }}</th>
                        <th>OWNER</th>
                        <th>REMARKS</th>
                    </tr>
                </thead>
                <tbody *ngIf="swDepData?.length !== 0">
                    <tr *ngFor="let sw of swDepData">
                        <td>{{ sw.proj_deal_qtr ? 'Q' + sw.proj_deal_qtr : '' }}</td>
                        <td>{{ sw.dealYear }}</td>
                        <td>{{ sw.region }}</td>
                        <td>{{ sw.customerName | titlecase }}</td>
                        <td>{{ sw.proj_project_id }}</td>
                        <td>{{ sw.oppType }}</td>
                        <td>{{ sw.proj_opp_name }}</td>
                        <td>{{ sw.crnNo }}</td>
                        <td>{{ sw.Q1 | currency: 'USD' }}</td>
                        <td>{{ sw.Q2 | currency: 'USD' }}</td>
                        <td>{{ sw.Q3 | currency: 'USD' }}</td>
                        <td>{{ sw.Q4 | currency: 'USD' }}</td>
                        <td>{{ (sw.totalBilling ? sw.totalBilling : 0) | currency: 'USD' }}</td>
                        <td>{{ sw[billingNextYear] | currency: 'USD' }}</td>
                        <td>{{ sw[biliingAfter2yr] | currency: 'USD' }}</td>
                        <td>{{ sw[biliingAfter3yr] | currency: 'USD' }}</td>
                        <td class="owner-list">{{ getUniqOwner(sw.owner) }}</td>
                        <td class="remarks-td">
                            <p *ngFor="let r of sw.remarks">
                                Date: {{ r.resolutionDate | date: 'dd-MM-yyyy' }} &nbsp; &nbsp; Remarks: {{ r.remarks }}
                            </p>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="swDepData?.length === 0">
                    <tr>
                        <td colspan="18" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
