<h4 class="page-title">SW Dep</h4>
<div class="card mb-4">
    <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
        <div class="mb-4">
            <div class="w-150 float-left">
                <select
                    class="form-control"
                    [(ngModel)]="selectedYear"
                    name="selectedYear"
                    (change)="selectedYearOnChange(selectedYear)"
                    title=""
                >
                    <option value="">Select Year</option>

                    <option *ngFor="let i of yearList" [value]="i.id">{{ i.value }}</option>
                </select>
            </div>
            <div class="">
                <div class="text-right">
                    <button
                        type="button"
                        class="btn btn-sm filled-btn btn-filled-no-hover"
                        (click)="export()"
                        [disabled]="swDepData?.length === 0"
                    >
                        <i class="icon excel-icon"></i> Export Excel
                    </button>
                </div>
            </div>
        </div>

        <div class="table-responsive gatepass-table revenue-backlog-parent-table mt-5">
            <!--table-->
            <table
                id="first-table example"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                #db
                class="table table-bordered billing-backlog-table"
            >
                <thead>
                    <tr>
                        <th>BOOKING QTR</th>
                        <th>YEAR</th>
                        <th>REGION NAME</th>
                        <th>CUSTOMER NAME</th>
                        <th>GP PROJECT CODE</th>
                        <th>OPPORTUNITY TYPE</th>
                        <th>OPPORTUNITY NAME</th>
                        <th>CR/PRN</th>
                        <th>Q1-{{ currentYear }} BILLING</th>
                        <th>Q2-{{ currentYear }} BILLING</th>
                        <th>Q3-{{ currentYear }} BILLING</th>
                        <th>Q4-{{ currentYear }} BILLING</th>
                        <th>TOTAL {{ currentYear }}</th>
                        <th>{{ currentYear + 1 }}</th>
                        <th>{{ currentYear + 2 }}</th>
                        <th>{{ currentYear + 3 }}</th>
                        <th>OWNER</th>
                        <th>REMARKS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sw of swDepData">
                        <td>{{ sw.proj_deal_qtr ? 'Q' + sw.proj_deal_qtr : '' }}</td>
                        <td>{{ sw.dealYear }}</td>
                        <td>{{ sw.region }}</td>
                        <td>{{ sw.customerName | titlecase }}</td>
                        <td>{{ sw.proj_project_id }}</td>
                        <td>{{ sw.oppType }}</td>
                        <td>{{ sw.proj_opp_name }}</td>
                        <td>{{ sw.crnNo }}</td>
                        <td>{{ sw.Q1 | currency: 'USD' }}</td>
                        <td>{{ sw.Q2 | currency: 'USD' }}</td>
                        <td>{{ sw.Q3 | currency: 'USD' }}</td>
                        <td>{{ sw.Q4 | currency: 'USD' }}</td>
                        <td>{{ (sw.totalBilling ? sw.totalBilling : 0) | currency: 'USD' }}</td>
                        <td>{{ sw[billingNextYear] | currency: 'USD' }}</td>
                        <td>{{ sw[biliingAfter2yr] | currency: 'USD' }}</td>
                        <td>{{ sw[biliingAfter3yr] | currency: 'USD' }}</td>
                        <td class="owner-list">{{ getUniqOwner(sw.owner) }}</td>
                        <td class="remarks-td">
                            <p *ngFor="let r of sw.remarks">
                                Date: {{ r.resolutionDate | date: 'dd-MM-yyyy' }} &nbsp; &nbsp; Remarks: {{ r.remarks }}
                            </p>
                        </td>
                    </tr>
                </tbody>
                <!--
              <tbody *ngIf="swDepData?.length == 0">{{swDepData?.length == 0}}</tbody>
-->
                <tbody *ngIf="swDepData?.length == 0">
                    <tr>
                        <td colspan="18" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
