<h4 class="page-title">REPORTS</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        Revenue backlog waterfall report
    </div>

    <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
        <div class="mb-4">
            <div class="w-150 float-left">
                <select
                    class="form-control"
                    [(ngModel)]="selectedYear"
                    name="selectedYear"
                    (change)="selectedYearOnChange(selectedYear)"
                    title=""
                >
                    <option value="">Select Year</option>

                    <option *ngFor="let i of yearList" [value]="i.id">{{ i.value }}</option>
                </select>
            </div>
            <div class="">
                <div class="text-right">
                    <button
                        type="button"
                        class="btn btn-sm filled-btn btn-filled-no-hover"
                        (click)="export()"
                        [disabled]="revenueBacklog?.length === 0"
                    >
                        <i class="icon excel-icon"></i> Export Excel
                    </button>
                </div>
            </div>
        </div>
        <!--<button type="button" class="project-summery-button" (click)="viewHistory()">
  view
  history
</button>-->
        <div class="table-responsive gatepass-table revenue-backlog-parent-table mt-5">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <!--table-->
            <table
                id="first-table example"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                #db
                class="table table-bordered billing-backlog-table"
            >
                <thead>
                    <tr>
                        <th class="opp-id" style="border-left: 1px solid #dee2e6 !important;">OPP ID</th>
                        <th>DEAL QTR</th>
                        <th>DEAL YEAR</th>
                        <th>BOOKING DATE</th>
                        <th>REGION</th>
                        <th>PROJECT CODE</th>
                        <th>OPP NAME</th>
                        <th>PROJECT TYPE</th>
                        <th>CONVERSION ANALYSIS</th>
                        <!--
              <th>REVENUE PROFILE</th>
-->
                        <th>CASH BASIS</th>
                        <th>ENTITY</th>
                        <th>STATUS</th>
                        <th>CURRENCY</th>
                        <th>AMOUNT</th>
                        <th>PROJECT BOOKING</th>
                        <th>MNT BOOKING</th>
                        <th>TOTAL BACKLOG {{ currentYear - 1 }}</th>
                        <th>TOTAL BACKLOG {{ currentYear }}</th>
                        <th>MNT BACKLOG {{ currentYear - 1 }}</th>
                        <th>MNT BACKLOG {{ currentYear }} BILLING</th>
                        <th>MNT Q1</th>
                        <th>PROJECT Q1</th>
                        <th>MNT Q2</th>
                        <th>PROJECT Q2</th>
                        <th>MNT Q3</th>
                        <th>PROJECT Q3</th>
                        <th>MNT Q4</th>
                        <th>PROJECT Q4</th>
                        <th>TOTAL FORECAST MNT Q1</th>
                        <th>TOTAL FORECAST Q1</th>
                        <th>TOTAL FORECAST MNT Q2</th>
                        <th>TOTAL FORECAST Q2</th>
                        <th>TOTAL FORECAST MNT Q3</th>
                        <th>TOTAL FORECAST Q3</th>
                        <th>TOTAL FORECAST MNT Q4</th>
                        <th>TOTAL FORECAST Q4</th>
                        <th>BUSINESS LINE</th>
                        <th>BIG DATA ANALYTICS</th>
                        <th>ROAMING</th>
                        <th>ROAMING ANALYTICS</th>
                        <th>SECURITY</th>
                        <th>TEST FACTORY</th>
                        <th>TOTAL OF BUSINESS LINE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of revenueBacklog">
                        <td>{{ b.oppId }}</td>
                        <td>{{ 'Q' + b.bookingQtr }}</td>
                        <td>{{ b.dealYear }}</td>
                        <td>{{ b.closeDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ b.region }}</td>
                        <td>{{ b.projectCode }}</td>
                        <td>{{ b.oppName ? b.oppName : '--' }}</td>
                        <td>{{ b.oppType }}</td>
                        <td>{{ b.conversionType }}</td>
                        <td>{{ b.revenueProfileCash === 1 ? 'YES' : 'NO' }}</td>
                        <td>{{ b.entityCompanyCode ? b.entityCompanyCode : '--' }}</td>
                        <td>{{ b.oppStatus }}</td>
                        <td>{{ b.currency }}</td>
                        <td>{{ b.amount | currency: 'USD' }}</td>
                        <td>{{ b.projectBookingAmount | currency: 'USD' }}</td>
                        <td>{{ b.mntBookingAmount | currency: 'USD' }}</td>
                        <td>{{ b[totalBacklogLastYr] | currency: 'USD' }}</td>
                        <td>{{ b[totalBacklogCrntYr] | currency: 'USD' }}</td>
                        <td>{{ b[mntBacklogLastYr] | currency: 'USD' }}</td>
                        <td>{{ b[mntBacklogCrntYr] | currency: 'USD' }}</td>
                        <td>{{ b.mntQ1 | currency: 'USD' }}</td>
                        <td>{{ b.projectQ1 | currency: 'USD' }}</td>
                        <td>{{ b.mntQ2 | currency: 'USD' }}</td>
                        <td>{{ b.projectQ2 | currency: 'USD' }}</td>
                        <td>{{ b.mntQ3 | currency: 'USD' }}</td>
                        <td>{{ b.projectQ3 | currency: 'USD' }}</td>
                        <td>{{ b.mntQ4 | currency: 'USD' }}</td>
                        <td>{{ b.projectQ4 | currency: 'USD' }}</td>
                        <td>{{ b.totalForcastMntQ1 | currency: 'USD' }}</td>
                        <td>{{ b.totalForcastQ1 | currency: 'USD' }}</td>
                        <td>{{ b.totalForcastMntQ2 | currency: 'USD' }}</td>
                        <td>{{ b.totalForcastQ2 | currency: 'USD' }}</td>
                        <td>{{ b.totalForcastMntQ3 | currency: 'USD' }}</td>
                        <td>{{ b.totalForcastQ3 | currency: 'USD' }}</td>
                        <td>{{ b.totalForcastMntQ4 | currency: 'USD' }}</td>
                        <td>{{ b.totalForcastQ4 | currency: 'USD' }}</td>
                        <td>{{ b.businessLines ? b.businessLines : '--' }}</td>
                        <td>{{ b.BigDataAnalytics ? b.BigDataAnalytics : '--' }}</td>
                        <td>{{ b.Roaming ? b.Roaming : '--' }}</td>
                        <td>{{ b.RoamingAnalytics ? b.RoamingAnalytics : '--' }}</td>
                        <td>{{ b.Security ? b.Security : '--' }}</td>
                        <td>{{ b.TestFactory ? b.TestFactory : '--' }}</td>
                        <td>{{ b.totalBusinessLines ? b.totalBusinessLines : 0 }}%</td>
                    </tr>
                </tbody>
                <tbody *ngIf="revenueBacklog?.length == 0">
                    <tr>
                        <td colspan="35" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
