.b-select-wrap {
    border: none;
    color: #1092c9;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}

.b-select-wrap::after {
    content: url(../../../../../assets/images/dropdown-icon.png);
    position: absolute;
    right: 0px;
    top: -15px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    font-size: 35px;
}

.b-select {
    padding: 5px 15px;
    background-color: white;
    border: 1px solid #365661;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0.5;
    line-height: 23px;
    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    appearance: none; /* for modern browsers */
}

.b-select:focus {
    border: 1px solid #365661;
}

/* remove default caret for ie */
.b-select::-ms-expand {
    display: none;
}

.page-title {
    font-size: 16px;
    color: #365661;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin: 5px 0 11px;
    text-transform: uppercase;
}

.card-header {
    background: #fff;
}

.card-header:first-child {
    color: #17252a;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
}

.red-box ul li {
    width: 15px;
    height: 15px;
    background: #ff0000;
    list-style-type: none;
}

.yellow-box ul li {
    width: 15px;
    height: 15px;
    background: #ffc000;
    list-style-type: none;
}

.green-box ul li {
    width: 15px;
    height: 15px;
    background: #92d050;
    list-style-type: none;
}

.dashboard-form .form-group label {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #17252a;
}

.dashboard-button {
    border: 1px solid #365661;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    background: transparent;
    color: #365661;
    padding: 9px 48px;
    margin: 12px auto 8px;
    margin-right: 5px;
}

.dashboard-button:hover {
    background: #365661;
    color: #ffffff;
}

table.dataTable thead > tr > th.sorting_asc {
    color: #365661;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
}

table.dataTable thead > tr > th.sorting {
    color: #365661;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
}

table.table-bordered.dataTable tbody td {
    font-weight: 400;
    color: #365661;
    font-size: 14px;
}

.mobileum-footer p {
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
}

#wrapper #content-wrapper {
    padding-bottom: 0;
}

.dashboard-dropdown .dropdown-toggle {
    background-color: #365661;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 9px 27px;
}

.dashboard-dropdown .dropdown-menu {
    padding: 10px;
    min-width: 210px;
    border: 1px solid #365661;
    border-radius: 4px;
    margin-top: 5px !important;
}

.dashboard-dropdown .dropdown-menu p {
    color: #365661;
    font-size: 12px;
    line-height: 25px;
    font-weight: 500;
}

.dashboard-dropdown .dropdown-menu .d-button {
    border: 1px solid #365661;
    border-radius: 2px;
    color: #365661;
    font-size: 8px;
    line-height: 13px;
    text-transform: uppercase;
    font-weight: 500;
    background: transparent;
}

.dashboard-icons ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

.billing-custom p {
    font-size: 14px;
    font-weight: 400;
    color: #17252a;
    line-height: 25px;
}

.billing-custom img {
    margin-right: 10px;
}

.filled-btn:focus {
    background: #ffffff !important;
    color: #365661 !important;
    border: 1px solid #365661;
}

.getpass-table table th {
    min-width: 10rem;
}
