<!-- DataTables Example -->
<h4 class="page-title">User List</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">User List</span>
        <div class="text-right float-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="addUser()" *appHasRole="'USER LIST-CREATE'">Add New User</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>User Name</th>
                        <th>Name</th>
                        <th>Region</th>
                        <th>Email ID</th>
                        <th>User Type</th>
                        <th>Access Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="userList?.length != 0">
                    <tr *ngFor="let x of userList; let index = index">
                        <td>{{ pageLength * pageIndex + index + 1 }}</td>
                        <td>{{ x.username }}</td>
                        <td>{{ x.name }}</td>
                        <td>
                            <span *ngFor="let region of x.regions; let i = index"
                                >{{ region.reg_name }}{{ x.regions.length - 1 !== i ? ', ' : '' }}</span
                            >
                        </td>
                        <td>{{ x.email }}</td>
                        <td>{{ x.type }}</td>
                        <td>
                            <a (click)="editUserAccess(x)" style="cursor:pointer" href="javascript:void(0);" class="user-access"
                                ><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Assign</a
                            >
                        </td>
                        <td class="text-center">
                            <!--<a [routerLink]="['', 'projects', 'summary', '123']">
                <img src="../../../../assets/images/view-icon.png" class="img-fluid">
              </a>-->
                            <a href="javascript:void(0);" (click)="editUser(x)" *appHasRole="'USER LIST-UPDATE'">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a href="javascript:void(0);" (click)="openDeletePopup(x.userId)" *appHasRole="'USER LIST-DELETE'">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="userList?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div bsModal id="consolidated-bm" #edituser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="updateUser()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{ isEdit ? 'Edit User' : 'Add New User' }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUser()">
                        <img src="../../../../assets/images/close-icon.png" class="img-fluid" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto" *ngIf="!isEdit">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="sfdc-user">
                                        SFDC Users:
                                    </label>
                                    <div class="col-md-8">
                                        <!--<select class="form-control" formControlName="sfdcuser" id="sfdc-user" (change)="changeSFDCUser(sfdcuser.value)">
                      <option value=""> -- Select SFDC User -- </option>
                      <option *ngFor="let i of SFDCUserList" [value]="i.usr_id">{{i.usr_name}}</option>
                    </select>-->
                                        <ng-select
                                            [items]="SFDCUserList"
                                            [selectOnTab]="true"
                                            bindLabel="usr_name"
                                            [searchable]="true"
                                            placeholder="Select SFDC User"
                                            formControlName="sfdcuser"
                                            (change)="changeSFDCUser(sfdcuser.value)"
                                        >
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="col-md-12 mx-auto">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="user-name">
                                        <span class="asteriskField">
                                            User Name : *
                                        </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="username"
                                            id="user-name"
                                            placeholder="User name"
                                            [ngClass]="{
                                                'has-danger': username.invalid && (username.dirty || username.touched || isFormSubmitted),
                                                'has-success': username.valid && (username.dirty || username.touched)
                                            }"
                                        />
                                        <div
                                            class="error"
                                            *ngIf="username.errors && (username.dirty || username.touched || isFormSubmitted)"
                                        >
                                            <span *ngIf="username.errors.required">User name is required.</span>
                                            <span *ngIf="username.errors.pattern">Enter valid user name.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="first-name">
                                        <span class="asteriskField">
                                            Name : *
                                        </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="name"
                                            id="first-name"
                                            placeholder="name"
                                            [ngClass]="{
                                                'has-danger': name.invalid && (name.dirty || name.touched || isFormSubmitted),
                                                'has-success': name.valid && (name.dirty || name.touched)
                                            }"
                                        />
                                        <div class="error" *ngIf="name.errors && (name.dirty || name.touched || isFormSubmitted)">
                                            <span *ngIf="name.errors.required">Name is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                <div class="form-group row mt-3 mb-4">
                  <label class="col-md-4 col-form-label" for="last-name">
                    <span class="asteriskField">
                      Last Name : *
                    </span>
                  </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="lastname" id="last-name" placeholder="Last name" [ngClass]="{
                  'has-danger': lastname.invalid && (lastname.dirty || lastname.touched || isFormSubmitted ),
                  'has-success': lastname.valid && (lastname.dirty || lastname.touched)
                }">
                    <div class="error" *ngIf="lastname.errors && (lastname.dirty || lastname.touched || isFormSubmitted)">
                      <span *ngIf="lastname.errors.required">Last name is required.</span>
                    </div>
                  </div>
                </div>
              </div>-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="pass-word">
                                        <span class="asteriskField">
                                            Password : *
                                        </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input
                                            type="password"
                                            class="form-control"
                                            formControlName="password"
                                            id="pass-word"
                                            placeholder="Password"
                                            (change)="matchPassword()"
                                            [ngClass]="{
                                                'has-danger': password.invalid && (password.dirty || password.touched || isFormSubmitted),
                                                'has-success': password.valid && (password.dirty || password.touched)
                                            }"
                                        />
                                        <div
                                            class="error"
                                            *ngIf="password.errors && (password.dirty || password.touched || isFormSubmitted)"
                                        >
                                            <span *ngIf="password.errors.pattern">Invalid password.</span>
                                            <span *ngIf="password.errors.required">Password is required.</span>
                                            <span *ngIf="password.errors.minlength">Password must be at least 8 characters long</span>
                                            <span *ngIf="password.errors.maxlength">Password can be max 32 characters</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="confpass-word">
                                        <span class="asteriskField">
                                            Confirm Password : *
                                        </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input
                                            type="password"
                                            class="form-control"
                                            formControlName="confirmpassword"
                                            id="confpass-word"
                                            placeholder="Confirm Password"
                                            (keyup)="matchPassword()"
                                            [ngClass]="{
                                                'has-danger':
                                                    (confirmpassword.invalid &&
                                                        (confirmpassword.dirty || confirmpassword.touched || isFormSubmitted)) ||
                                                    !isPasswordMatch,
                                                'has-success':
                                                    confirmpassword.valid &&
                                                    (confirmpassword.dirty || confirmpassword.touched) &&
                                                    isPasswordMatch
                                            }"
                                        />
                                        <div
                                            class="error"
                                            *ngIf="
                                                confirmpassword.errors &&
                                                (confirmpassword.dirty || confirmpassword.touched || isFormSubmitted)
                                            "
                                        >
                                            <span *ngIf="confirmpassword.errors.required">Confirm Password is required.</span>
                                        </div>
                                        <div class="error" *ngIf="!isPasswordMatch">
                                            <span>Password not matched.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="region-name">
                                        <span class="asteriskField">
                                            Region Name : *
                                        </span>
                                    </label>
                                    <div class="col-md-8">
                                        <div>
                                            <ng-select
                                                [items]="regionList"
                                                bindLabel="reg_name"
                                                [multiple]="true"
                                                placeholder="Select Region Name"
                                                id="region-name"
                                                formControlName="regId"
                                                [ngClass]="{
                                                    'has-danger': regId.invalid && (regId.dirty || regId.touched || isFormSubmitted),
                                                    'has-success': regId.valid && (regId.dirty || regId.touched)
                                                }"
                                            >
                                            </ng-select>
                                        </div>
                                        <div class="error" *ngIf="regId.errors && (regId.dirty || regId.touched || isFormSubmitted)">
                                            <span *ngIf="regId.errors.required">Region name is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="email">
                                        <span class="asteriskField">
                                            Email ID : *
                                        </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="email"
                                            id="email"
                                            placeholder="Email"
                                            [ngClass]="{
                                                'has-danger': email.invalid && (email.dirty || email.touched || isFormSubmitted),
                                                'has-success': email.valid && (email.dirty || email.touched)
                                            }"
                                        />
                                        <div class="error" *ngIf="email.errors && (email.dirty || email.touched || isFormSubmitted)">
                                            <span *ngIf="email.errors.required">Email is required.</span>
                                            <span *ngIf="email.errors.pattern">Enter valid email.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="region-name">
                                        <span class="asteriskField">
                                            Phone Number : *
                                        </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="mobile"
                                            id="phone-number"
                                            placeholder="Phone Number"
                                            [ngClass]="{
                                                'has-danger': mobile.invalid && (mobile.dirty || mobile.touched || isFormSubmitted),
                                                'has-success': mobile.valid && (mobile.dirty || mobile.touched)
                                            }"
                                        />
                                        <div class="error" *ngIf="mobile.errors && (mobile.dirty || mobile.touched || isFormSubmitted)">
                                            <span *ngIf="mobile.errors.required">Phone number is required.</span>
                                            <span *ngIf="mobile.errors.pattern">Enter valid phone number.</span>
                                            <!--<span *ngIf="mobile.errors.minlength">Phone number must be 10 characters long.</span>
                      <span *ngIf="mobile.errors.maxlength">Phone number must be 10 characters long.</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row mt-3 mb-4">
                                    <label class="col-md-4 col-form-label" for="user-type">
                                        <span class="asteriskField">
                                            User Type : *
                                        </span>
                                    </label>
                                    <div class="col-md-8">
                                        <div class="b-select-wrap">
                                            <select
                                                class="form-control b-select"
                                                formControlName="userType"
                                                id="user-type"
                                                [ngClass]="{
                                                    'has-danger':
                                                        userType.invalid && (userType.dirty || userType.touched || isFormSubmitted),
                                                    'has-success': userType.valid && (userType.dirty || userType.touched)
                                                }"
                                            >
                                                <option value=""> -- Select User Type -- </option>
                                                <option *ngFor="let i of userTypeList" [value]="i.urol_id">{{ i.urol_name }}</option>
                                            </select>
                                        </div>
                                        <div
                                            class="error"
                                            *ngIf="userType.errors && (userType.dirty || userType.touched || isFormSubmitted)"
                                        >
                                            <span *ngIf="userType.errors.required">User Type is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit" [disabled]="isDisable">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelUser()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #editmoduleaccess="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" (ngSubmit)="updateModuleAccess()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Module Access</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelModuleAccess()">
                        <img src="../../../../assets/images/close-icon.png" class="img-fluid" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto" *ngFor="let i of ModuleAccessData; let index = index">
                        <div
                            class="form-group row mt-2 mb-3"
                            *ngIf="
                                i.moduleName !== 'User Listing' &&
                                i.moduleName !== 'Finalize' &&
                                i.moduleName !== 'Level1' &&
                                i.moduleName !== 'Level2'
                            "
                        >
                            <label class="col-md-4 col-form-label"> {{ i.moduleName }} : </label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="chiller_cb">
                                            <input
                                                id="moduleaccesslist{{ index }}"
                                                type="checkbox"
                                                name="moduleaccesslist{{ index }}"
                                                [(ngModel)]="i.list.view"
                                            />
                                            <label for="moduleaccesslist{{ index }}" tabindex="{{ index + index }}">List</label>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="chiller_cb">
                                            <input
                                                id="moduleaccessadd{{ index }}"
                                                type="checkbox"
                                                name="moduleaccessadd{{ index }}"
                                                [(ngModel)]="i.list.add"
                                            />
                                            <label for="moduleaccessadd{{ index }}" tabindex="{{ index + index + 1 }}">Add</label>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="chiller_cb">
                                            <input
                                                id="moduleaccessedit{{ index }}"
                                                type="checkbox"
                                                name="moduleaccessedit{{ index }}"
                                                [(ngModel)]="i.list.edit"
                                            />
                                            <label for="moduleaccessedit{{ index }}" tabindex="{{ index + index + 2 }}">Edit</label>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="chiller_cb">
                                            <input
                                                id="moduleaccessdelete{{ index }}"
                                                type="checkbox"
                                                name="moduleaccessdelete{{ index }}"
                                                [(ngModel)]="i.list.delete"
                                            />
                                            <label for="moduleaccessdelete{{ index }}" tabindex="{{ index + index + 3 }}">Delete</label>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mx-auto" *ngIf="ModuleAccessData.length == 0">
                        No access found.
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit" *ngIf="ModuleAccessData.length != 0">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelModuleAccess()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <img src="../../../../assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteUser()">delete</button>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
