<!-- DataTables Example -->
<h4 class="page-title">Conversion Type</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">Conversion Type</span>
        <div class="float-right text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="addConversionType()" *appHasRole="'CONVERSION TYPE-CREATE'">
                Add New Conversion Type
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search search-icon" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>Conversion Type</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="conversionTypeList?.length != 0">
                    <tr *ngFor="let x of conversionTypeList; let index = index">
                        <td>{{ pageLength * pageIndex + index + 1 }}</td>
                        <td>{{ x.ct_name }}</td>
                        <td>{{ x.ct_created_date | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.ct_updated_date | date: 'dd-MM-yyyy' }}</td>
                        <td class="text-center">
                            <!--<a [routerLink]="['', 'projects', 'summary', '123']">
                <img src="../../../../assets/images/view-icon.png" class="img-fluid">
              </a>-->
                            <a href="javascript:void(0);" (click)="editConversionType(x)" *appHasRole="'CONVERSION TYPE-UPDATE'">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a href="javascript:void(0);" (click)="openDeletePopup(x.ct_id)" *appHasRole="'CONVERSION TYPE-DELETE'">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="conversionTypeList?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div
    bsModal
    id="consolidated-bm"
    #editconversiontype="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="conversionTypeForm" (ngSubmit)="addUpdateConversionType()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        {{ conversionTypeId.value ? 'Edit Conversion Type' : 'Add New Conversion Type' }}
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelConversionType()">
                        <i class="icon close-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto">
                        <div class="form-group row mt-3 mb-4">
                            <label class="col-md-4 col-form-label" for="conversion-type">
                                <span class="asteriskField">
                                    Conversion Type : *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="conersionTypeName"
                                    id="conversion-type"
                                    placeholder="Conversion Type"
                                    [ngClass]="{
                                        'has-danger':
                                            conersionTypeName.invalid &&
                                            (conersionTypeName.dirty || conersionTypeName.touched || isFormSubmitted),
                                        'has-success': conersionTypeName.valid && (conersionTypeName.dirty || conersionTypeName.touched)
                                    }"
                                />
                                <div
                                    class="error"
                                    *ngIf="
                                        conersionTypeName.errors &&
                                        (conersionTypeName.dirty || conersionTypeName.touched || isFormSubmitted)
                                    "
                                >
                                    <span *ngIf="conersionTypeName.errors.required">Conversion type is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelConversionType()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete Conversion Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <img src="../../../../assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteConversionType()">delete</button>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
