<div id="Billing" class=" tab-pane active">
    <div class="card-body">
        <h2 class="table-title float-left">Revenue</h2>
        <div class="text-right">
            <div class="uploadfile-btn" *ngIf="projectDetails.entityCompanyCode && projectDetails.entityCompanyCode !== 'MOBI'">
                <button type="button" class="btn btn-sm filled-btn btn-filled-no-hover">
                    <i class="icon import-icon mr-1"></i> Import Revenue
                </button>
                <input
                    type="file"
                    name="files"
                    class="import-file"
                    multiple
                    id="import-revenue"
                    accept=".xlsx"
                    (change)="importFile($event, 'import-revenue')"
                />
            </div>
            <div class="float-right mb-2 ml-2 sample-file-sec">
                <a
                    href="../../../../../assets/files/Import_Revenue.xlsx"
                    download
                    class="btn btn-sm filled-btn"
                    title="Download excel format"
                >
                    Sample File
                </a>
            </div>
            <!-- <button type="button" class="project-summery-button" (click)="viewHistory()">view
      history</button> -->
        </div>
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="search()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="reset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Rev Month</th>
                        <th>Rev Year</th>
                        <th>Rev Amount</th>
                    </tr>
                </thead>
                <tbody *ngIf="revenueList?.length != 0">
                    <tr *ngFor="let x of revenueList; let i = index">
                        <td>{{ pageIndex * pageLength + (i + 1) }}</td>
                        <td>{{ months[x.revMonth - 1] }}</td>
                        <td>{{ x.revYear }}</td>
                        <td>{{ x.revAmount | currency: 'USD' }}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="revenueList?.length === 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="distribution" class=" tab-pane fade">
    <br />
</div>
<div id="Revenue" class=" tab-pane fade">
    <br />
</div>
<div id="Timelive" class="tab-pane fade">
    <br />
</div>
<div id="SWDep" class=" tab-pane fade">
    <br />
</div>
<div id="Reports" class=" tab-pane fade">
    <br />
</div>
