<!-- DataTables Example -->
<h4 class="page-title">PROJECT LISTING</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        PROJECTS
        <div class="float-right mb-2 ml-2 sample-file-sec">
            <a
                href="../../../../assets/files/Import_Multiple_Milestones.xlsx"
                download
                class="btn btn-sm filled-btn"
                title="Download excel format"
            >
                Sample File
            </a>
        </div>
        <div class="uploadfile-btn float-right">
            <button type="button" class="btn btn-sm filled-btn btn-filled-no-hover">
                <i class="icon import-icon mr-1"></i> Import all milestones
            </button>
            <input type="file" name="files" class="import-file" id="ms-import" accept=".xlsx" (change)="importFile($event, 'ms-import')" />
        </div>
    </div>
    <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
        <form class="project-form" [formGroup]="projectfilterform">
            <div class="row">
                <!--<div class="col-md-3">
        <div class="form-group">
        <label for="pro">Select Project</label>
        <div class="">
          <ng-select [items]="regionList"
                       [selectOnTab]="true"
                       bindValue="regId"
                       bindLabel="regName"
                       [searchable]="true"
                       placeholder="Select Project"
                       formControlName="project">
            </ng-select>
        </select>
        </div>
        </div>
        </div>-->
                <div class="col-xl col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="reg">Region</label>
                        <div class="">
                            <ng-select
                                [items]="regionList"
                                [selectOnTab]="true"
                                bindValue="regId"
                                bindLabel="regName"
                                [searchable]="true"
                                placeholder="Select Region"
                                formControlName="region"
                            >
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-xl col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="select-year">Year</label>
                        <div class="">
                            <ng-select
                                [items]="yearList"
                                [selectOnTab]="true"
                                bindValue="id"
                                bindLabel="value"
                                [searchable]="true"
                                placeholder="Select Year"
                                formControlName="year"
                            >
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-xl col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="select-quarter">Quarter</label>
                        <div class="">
                            <ng-select
                                [items]="quarterList"
                                [selectOnTab]="true"
                                bindValue="id"
                                bindLabel="value"
                                [searchable]="true"
                                placeholder="Select Quarter"
                                formControlName="quarter"
                            >
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-xl col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="select-company">Company</label>
                        <div class="">
                            <ng-select
                                id="select-company"
                                [items]="companyList"
                                [selectOnTab]="true"
                                bindValue="companyId"
                                bindLabel="companyName"
                                [searchable]="true"
                                placeholder="Select Company"
                                formControlName="company"
                            >
                            </ng-select>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-3">
        <div class="form-group">
        <label for="select-lob">Select LOB</label>
        <div class="">
        <ng-select [items]="companyList"
                 [selectOnTab]="true"
                 bindValue="companyId"
                 bindLabel="companyName"
                 [searchable]="true"
                 placeholder="Select LOB"
                 formControlName="lob">
        </ng-select>
        </div>
        </div>
        </div>-->
            </div>
            <div _ngcontent-serverapp-c5="" class="row">
                <div _ngcontent-serverapp-c5="" class="col-12 text-right">
                    <button type="button" class="btn btn-success" (click)="filterProject()">Search</button>
                    <button type="button" class="btn btn-success" (click)="resetProjectFilter()">Reset</button>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Project Code</th>
                        <th>Opp ID</th>
                        <th>Company Name</th>
                        <th>Updated Date</th>
                        <th>Deal Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="projectList?.length !== 0">
                    <tr *ngFor="let x of projectList; let i = index" [ngClass]="x.revenueProfileCash === 1 ? 'highlight-sec' : ''">
                        <td>{{ pageLength * pageIndex + (i + 1) }}</td>
                        <td>{{ x.projCode }}</td>
                        <td>{{ x.projOppID }}</td>
                        <td>{{ x.sfdcAccName }}</td>
                        <td>{{ x.projUpdatedDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.dealAmount | currency: 'USD' }}</td>
                        <td class="text-center">
                            <a [routerLink]="['', 'projects', 'summary', x.projId]" class="td-options">
                                <i class="icon view-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="projectList?.length === 0">
                    <tr>
                        <td colspan="7" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div
    bsModal
    #editprojectmodel="bs-modal"
    class="modal fade"
    id="create-bm-pop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="basicModal"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit Project</h4>
                <button type="button" class="close" (click)="cancelEditProject()">
                    <img src="assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <div class="modal-body">
                <form class="project-summery-popup-form project-summery-form" [formGroup]="editProjectForm" (ngSubmit)="UpdateProject()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="conversion-type">Conversion Type</label>
                                <select class="form-control" formControlName="conversionTypeId" id="conversion-type">
                                    <option value=""> -- Select Conversion Type --</option>
                                    <option *ngFor="let i of contentTypeList" [value]="i.ct_id">{{ i.ct_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="deal-Warranty">Deal Warranty</label>
                                <div class="mt-2">
                                    <input
                                        id="deal-Warranty"
                                        type="number"
                                        placeholder="Deal Warranty"
                                        class="form-control"
                                        formControlName="dealWarranty"
                                    />
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Deal Warranty Start Date</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        placeholder="Deal Warranty Start Date"
                                        #startdate="bsDatepicker"
                                        class="form-control"
                                        bsDatepicker
                                        formControlName="dealWarrantyStartDate"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    />
                                    <span class="input-group-prepend" (click)="startdate.toggle()" [attr.aria-expanded]="startdate.isOpen">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">UAT Date</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        placeholder="UAT Date"
                                        #utadata="bsDatepicker"
                                        class="form-control"
                                        bsDatepicker
                                        formControlName="uatDate"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    />
                                    <span class="input-group-prepend" (click)="utadata.toggle()" [attr.aria-expanded]="utadata.isOpen">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">FA Date</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        placeholder="FA Date"
                                        #fadata="bsDatepicker"
                                        class="form-control"
                                        bsDatepicker
                                        formControlName="faDate"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    />
                                    <span class="input-group-prepend" (click)="fadata.toggle()" [attr.aria-expanded]="fadata.isOpen">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Entity Company Code</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Entity Company Code"
                                    formControlName="entityCompanyCode"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Revenue Profile</label>
                                <input type="text" class="form-control" placeholder="Revenue Profile" formControlName="revenueProfile" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="project-summery-button">save</button>
                    <button class="project-summery-button" type="button" (click)="cancelEditProject()">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
