.project-summery-details .tab-content {
    border: 1px solid #365661;
}

.project-summery-details h2 {
    color: #17252a;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.project-summery-details ul li .nav-link.active {
    background: #365661;
    color: #fff;
    font-size: 13px;
    border: 1px solid #365661;
    border-radius: 0;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
}

.project-summery-details ul li {
    border: 1px solid #365661;
    border-bottom: none;
}

.project-summery-details ul li a {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    color: #365661;
}

.project-summery-details ul li a:hover {
    color: #365661;
}

#consolidated-bm .modal-header,
#create-bm-pop .modal-header,
#delete-popup .modal-header,
#billing-history .modal-header,
#billing-milestone .modal-header {
    background: #6f97a8;
}

#consolidated-bm .modal-header h4.modal-title,
#create-bm-pop .modal-header h4.modal-title,
#delete-popup .modal-header h4.modal-title,
#billing-history .modal-header h4.modal-title,
#billing-milestone .modal-header {
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 600;
}

@media (min-width: 992px) {
    .modal-lg.project-summery-popup {
        max-width: 1200px !important;
    }
}

.project-summery-form h3 {
    font-size: 14px;
    color: #17252a;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 23px;
}

.project-summery-popup .table-bordered thead th {
    color: #365661;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
}

.project-summery-popup .ageing-color {
    color: #ff0000;
}

.project-summery-popup .table-bordered td {
    font-weight: 400;
    color: #365661;
    font-size: 14px;
}

.project-summery-popup .table-responsive {
    /*    border: 1px solid #dee2e6;*/
}

.delete-conformation p {
    font-size: 18px;
    color: #17252a;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 10px;
}

.delete-conformation {
    padding: 20px;
}

.modal-content {
    border: none;
}

#consolidated-bm .project-table,
#create-bm-pop .project-table,
#billing-history .project-table,
#billing-milestone .project-table,
#content-wrapper .project-table {
    max-width: 230px;
}

#billing-milestone .project-table-1 {
    max-width: 380px;
}

/*responsive css*/
@media (min-width: 768px) and (max-width: 991px) {
    .b-select-wrap::after {
        right: 14px;
    }
}

@media (max-width: 767px) {
    .project-summery-details ul {
        display: block;
    }

    .project-summery-button {
        padding: 9px 27px;
        font-size: 12px;
    }
}

.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: '';
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}

.chiller_cb input {
    display: none;
}

.chiller_cb input:checked ~ span {
    background: #6f97a8;
    border-color: #6f97a8;
    border-radius: 2px;
}

.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}

.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb input:disabled ~ span {
    background: #ececec;
    border-color: #dcdcdc;
}

.chiller_cb input:disabled ~ label {
    color: #dcdcdc;
}

.chiller_cb input:disabled ~ label:hover {
    cursor: default;
}

.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
    /*text-transform: lowercase !important;*/
}

.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}

.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}

.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}

.home-login-cover .form-group .chiller_cb {
    margin-top: 25px;
}

.project-summery-button {
    border: 1px solid #365661;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    background: #365661;
    color: #ffffff;
    padding: 9px 48px;
    margin: 12px auto 8px;
    margin-right: 3px;
}

.project-summery-button:hover {
    background: #365661;
    background: transparent;
    color: #365661;
}

.project-summery-button img {
    margin-right: 10px;
}

.ms-btns .project-summery-button {
    padding: 9px 35px;
}

.highlight-sec {
    background: beige;
}
