<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete Entity Company Code</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <img src="../../../../assets/images/close-icon.png" class="img-fluid" />
        </button>
    </div>
    <div class="modal-body">
        <div class="delete-conformation text-center">
            <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
            <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteEntity()">delete</button>
            <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="activeModal.dismiss('Cross click')">cancel</button>
        </div>
    </div>
</div>
