<div class="home-banner">
    <section class="home-login-cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6 mx-auto ">
                    <div class="card">
                        <div class="card-body">
                            <div class="mobileum-logo text-center">
                                <img src="../../../../assets/images/mobileum-login-logo.png" class="img-fluid" />
                            </div>
                            <p><strong>Sign in </strong>to start managing your projects</p>
                            <form [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="username"
                                        id="full-name"
                                        placeholder="Username"
                                        value="hailee.will"
                                        [ngClass]="{
                                            'has-danger': username.invalid && (username.dirty || username.touched || isFormSubmitted),
                                            'has-success': username.valid && (username.dirty || username.touched)
                                        }"
                                    />
                                </div>
                                <div class="error" *ngIf="username.errors && (username.dirty || username.touched || isFormSubmitted)">
                                    <span *ngIf="username.errors.required">Username is required</span>
                                    <span *ngIf="username.errors.pattern">Username must contain atleast one alphabet</span>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        formControlName="password"
                                        id="password"
                                        placeholder="Password"
                                        [ngClass]="{
                                            'has-danger': password.invalid && (password.dirty || password.touched || isFormSubmitted),
                                            'has-success': password.valid && (password.dirty || password.touched)
                                        }"
                                    />
                                </div>
                                <div class="error" *ngIf="password.errors && (password.dirty || password.touched || isFormSubmitted)">
                                    <span *ngIf="password.errors.required">Password is required</span>
                                    <span *ngIf="password.errors.minlength">Password must be at least 8 characters long</span>
                                    <span *ngIf="password.errors.maxlength">Password can be max 32 characters</span>
                                </div>
                                <!--<div class="form-group">
                                    <div class="chiller_cb">
                                        <input id="myCheckbox" type="checkbox" checked />
                                        <label for="myCheckbox">Keep me signed in</label>
                                        <span></span>
                                    </div>
                                </div>-->
                                <div class="form-group mt-3">
                                    <button type="submit" class="sign-in-button">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
