<footer class="mobileum-footer">
    <div class="row">
        <div class="col-md-6">
            <div class="text-left">
                <p>2019 © Mobileum</p>
            </div>
        </div>
        <div class="col-md-6">
            <!-- <div class="text-right">
                <p><i class="icon faq-icon vertical-middle mb-1 mr-2"></i> <span class="d-inline-block vertical-middle">FAQ</span></p>
            </div>-->
        </div>
    </div>
</footer>
