<!--remarks popup starts-->
<div id="delete-popup">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Remarks</h4>
        <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
            <i class="icon close-icon"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="delete-conformation text-center">
            <p class="mt-4 mb-4">Please enter your remarks</p>
            <textarea
                rows="6"
                cols="50"
                name="remarks"
                placeholder="remarks..."
                (keypress)="omitSpecialChar($event)"
                [(ngModel)]="remarks"
                (ngModelChange)="remarksChanged($event)"
            ></textarea>
            <p *ngIf="errorMsg" class="ml-5 error">Remarks should contain atleast 10 characters</p>
            <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="saveRemarks()" [disabled]="!remarks">
                Save
            </button>
        </div>
    </div>
</div>
<!--remarks popup Ends-->
