.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.pie-container {
    width: 100%;
    height: 100%;
    display: block;
}

.pie-chart-options {
    padding: 3px;
    width: 120px;
    background-color: #ffffff;
    font-size: 80%;
    font-weight: 300;
    border-radius: 3px;
}

.pie-selector {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #ffffff;
}
