<div>
    <div class="col-12 pie-selector">
        <div>{{ name }}</div>
        <div *ngIf="dropDownOptions">
            <select class="pie-chart-options" [(ngModel)]="selectedOption" (ngModelChange)="onSelectionChange(selectedOption)">
                <option *ngFor="let dropDownOption of dropDownOptions">
                    {{ dropDownOption }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-12 no-padding">
        <highcharts-chart class="pie-container" [Highcharts]="Highcharts" [options]="pieChartOptions" [(update)]="updatePie">
        </highcharts-chart>
    </div>
</div>
