<!--<h4 class="page-title">Billing Forecast</h4>
<div class="text-right">
  <button class="btn btn-sm filled-btn" type="button" (click)="redirectBillingBacklog()">Backlog</button>
</div>-->
<div class="row align-items-center">
    <div class="col-6">
        <h4 class="page-title">Billing Forecast</h4>
    </div>
    <div class="col-6">
        <div class="text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="redirectBillingBacklog()">Backlog</button>
        </div>
    </div>
</div>
<hr class="mt-0" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header card-header-title">
                    Forecast
                </div>
                <div class="card-body" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                    <div id="container-1">
                        <highcharts-chart
                            *ngIf="showBillingBacklogPie && showForecastChart"
                            [Highcharts]="Highcharts"
                            [options]="forcastChartOptions"
                            style="width: 100%; height: 400px; display: block;"
                            [oneToOne]="forcastoneToOneFlag"
                            [(update)]="updateForcastViewChart"
                        ></highcharts-chart>
                        <p *ngIf="showBillingBacklogPie && !showForecastChart">No data</p>
                        <div *ngIf="!showBillingBacklogPie" class="text-center graph-loader-css">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header card-header-title">
                    Dependencies
                </div>
                <div class="card-body" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                    <div id="container-1">
                        <highcharts-chart
                            *ngIf="showDependencyPie && showDependencyChart"
                            [Highcharts]="Highcharts"
                            [options]="dependencyChartOptions"
                            style="width: 100%; height: 400px; display: block;"
                            [oneToOne]="dependencyoneToOneFlag"
                            [(update)]="updateDependencyViewChart"
                        ></highcharts-chart>
                        <p *ngIf="showDependencyPie && !showDependencyChart">No data</p>
                        <div *ngIf="!showDependencyPie" class="text-center graph-loader-css">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header card-header-title">
                RAG
            </div>
            <div class="card-body" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                <div id="container-1">
                    <highcharts-chart [Highcharts]="Highcharts"
                          [options]="dependencyChartOptions"
                          style="width: 100%; height: 400px; display: block;"
                          [oneToOne]="dependencyoneToOneFlag"
                          [(update)]="updateDependencyViewChart"></highcharts-chart>
                </div>
            </div>
        </div>
    </div>-->
    </div>

    <div class="card mb-4">
        <div class="card-header card-header-title">
            <div class="row">
                <div class="col-6 no-padding">
                    Line Of Business <span class="updated-chart-text">(Updated {{ billingLobTimestamp }} ago)</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="graph-section">
                <div class="historical-view-sec">
                    <div class="mt-2">
                        <mat-tab-group class="project-summery-details">
                            <mat-tab label="Chart">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content">
                                        <highcharts-chart
                                            *ngIf="showBillingLob && lobChartOptions?.series.length > 0"
                                            [Highcharts]="Highcharts"
                                            [options]="lobChartOptions"
                                            style="width: 100%; height: 400px; display: block;"
                                            [oneToOne]="loboneToOneFlag"
                                            [(update)]="updateLOBViewChart"
                                        ></highcharts-chart>
                                    </div>
                                    <div *ngIf="showBillingLob && lobChartOptions?.series?.length === 0" class="mt-1">
                                        <p class="card-header-title">No Data Found</p>
                                    </div>
                                    <div *ngIf="!showBillingLob" class="text-center graph-loader-css">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Table">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content" style="padding-top:20px ">
                                        <div class="mb-3 mr-1">
                                            <div class="text-right">
                                                <button
                                                    type="button"
                                                    class="btn btn-sm filled-btn btn-filled-no-hover"
                                                    (click)="chartExportService.export('billing-forecast-lob', 'Billing Forecast Lob')"
                                                >
                                                    <i class="icon excel-icon"></i> Export Excel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="table-responsive gatepass-table">
                                            <table class="table table-bordered" width="100%" cellspacing="0" id="billing-forecast-lob">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th *ngFor="let i of billingLOBCategoryList">{{ i }}</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let i of billingLOBList; let index = index">
                                                        <td>{{ i.name }}</td>
                                                        <td *ngFor="let j of billingLOBCategoryList; let subindex = index">
                                                            {{ i.data[subindex] | currency: 'USD' }}
                                                        </td>
                                                        <td>{{ i.data[i.data.length - 1] | currency: 'USD' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
