<h4 class="page-title">PROFILE</h4>

<div class="card mb-4">
    <div class="card-body">
        <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
            <div class="modal-body">
                <div class="col-md-12 mx-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-4 col-form-label" for="user-name"
                                    ><span class="asteriskField">Username : *</span>
                                </label>
                                <div class="col-md-8">
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="username"
                                        id="user-name"
                                        placeholder="Username"
                                        autocomplete="nofill"
                                        [ngClass]="{
                                            'has-danger': username.invalid && (username.dirty || username.touched || isFormSubmitted),
                                            'has-success': username.valid && (username.dirty || username.touched)
                                        }"
                                    />
                                    <div class="error" *ngIf="username.errors && (username.dirty || username.touched || isFormSubmitted)">
                                        <span *ngIf="username.errors.required">Username is required</span>
                                        <span *ngIf="username.errors.pattern">Enter valid user name</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-4 col-form-label" for="first-name">
                                    <span class="asteriskField">Name : *</span>
                                </label>
                                <div class="col-md-8">
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="name"
                                        id="first-name"
                                        placeholder="Name"
                                        [ngClass]="{
                                            'has-danger': name.invalid && (name.dirty || name.touched || isFormSubmitted),
                                            'has-success': name.valid && (name.dirty || name.touched)
                                        }"
                                    />
                                    <div class="error" *ngIf="name.errors && (name.dirty || name.touched || isFormSubmitted)">
                                        <span *ngIf="name.errors.required">Name is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-4 col-form-label" for="curr-pass-word">
                                    <span class="asteriskField">Current Password : *</span>
                                </label>
                                <div class="col-md-8">
                                    <input
                                        type="password"
                                        class="form-control"
                                        formControlName="currentPassword"
                                        id="curr-pass-word"
                                        placeholder="Current Password"
                                        [ngClass]="{
                                            'has-danger':
                                                currentPassword.invalid &&
                                                (currentPassword.dirty || currentPassword.touched || isFormSubmitted),
                                            'has-success': currentPassword.valid && (currentPassword.dirty || currentPassword.touched)
                                        }"
                                    />
                                    <div
                                        class="form-control-feedback error-msg-sec"
                                        *ngIf="
                                            currentPassword.errors && (currentPassword.dirty || currentPassword.touched || isFormSubmitted)
                                        "
                                    >
                                        <p class="error" *ngIf="currentPassword.errors.required">Current password is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-5 col-form-label" for="image"
                                    ><span class="asteriskField upload-image-button">Upload Image</span>
                                </label>
                                <div class="col-md-7 img-sec">
                                    <input #file type="file" accept="image/*" (change)="preview(file.files)" id="image" />
                                    <span style="color:red;" *ngIf="message">{{ message }}</span>
                                    <span style="color:red;" *ngIf="imgSizeErrMsg">Image size exceeds</span>
                                    <img
                                        [src]="imgURL ? imgURL : '../../../../assets/images/dummy-img.jpg'"
                                        height="50"
                                        (error)="loadDefaultImg($event)"
                                    />
                                    <span class="remove" *ngIf="imgURL" (click)="removeImage()" title="Remove Image"
                                        ><i class="fa fa-trash" aria-hidden="true"></i
                                    ></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-4 col-form-label" for="pass-word">
                                    <span class="asteriskField">Password : </span>
                                </label>
                                <div class="col-md-8">
                                    <input
                                        type="password"
                                        class="form-control"
                                        formControlName="password"
                                        id="pass-word"
                                        placeholder="Password"
                                        [ngClass]="{
                                            'has-danger': password.invalid && (password.dirty || password.touched || isFormSubmitted),
                                            'has-success': password.valid && (password.dirty || password.touched)
                                        }"
                                        (keyup)="retypePassword.updateValueAndValidity()"
                                    />
                                    <div
                                        class="form-control-feedback error-msg-sec"
                                        *ngIf="password.errors && (password.dirty || password.touched || isFormSubmitted)"
                                    >
                                        <p class="error" *ngIf="password.errors.required">Password is required</p>
                                        <p class="error" *ngIf="password.errors.minlength">
                                            Password minimum should be 8 characters long, we need another
                                            {{ password.errors.minlength.requiredLength - password.errors.minlength.actualLength }}
                                            characters
                                        </p>
                                        <p class="error" *ngIf="!password.errors.minlength && password.errors.pattern">
                                            Password must contain (One Capital Letter, One Number and One Special Character)
                                        </p>
                                        <p class="error" *ngIf="password.errors.maxlength">Password maximum should be 32 characters long</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-4 col-form-label" for="confpass-word">
                                    <span class="asteriskField">
                                        Confirm Password :
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <input
                                        type="password"
                                        class="form-control"
                                        formControlName="retypePassword"
                                        id="confpass-word"
                                        placeholder="Confirm Password"
                                        appPasswordMatching="password"
                                        [ngClass]="{
                                            'has-danger':
                                                retypePassword.invalid &&
                                                (retypePassword.dirty || retypePassword.touched || isFormSubmitted),
                                            'has-success': retypePassword.valid && (retypePassword.dirty || retypePassword.touched)
                                        }"
                                    />
                                    <div
                                        class="form-control-feedback error-msg-sec"
                                        *ngIf="retypePassword.errors && (retypePassword.dirty || retypePassword.touched || isFormSubmitted)"
                                    >
                                        <p class="error" *ngIf="retypePassword.errors.required">Confirm password is required</p>
                                        <p class="error" *ngIf="!retypePassword.errors.notEqual && retypePassword.errors.pattern">
                                            Confirm Password must contain (One Capital Letter, One Number and One Special Character)
                                        </p>
                                        <p class="error" *ngIf="!retypePassword.errors.required && retypePassword.errors.notEqual">
                                            Password not matched
                                        </p>
                                        <p class="error" *ngIf="retypePassword.errors.maxlength">
                                            Confirm Password maximum should be 32 characters long
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-4 col-form-label" for="email">
                                    <span class="asteriskField">
                                        Email ID : *
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="email"
                                        id="email"
                                        placeholder="Email"
                                        [ngClass]="{
                                            'has-danger': email.invalid && (email.dirty || email.touched || isFormSubmitted),
                                            'has-success': email.valid && (email.dirty || email.touched)
                                        }"
                                    />
                                    <div class="error" *ngIf="email.errors && (email.dirty || email.touched || isFormSubmitted)">
                                        <span *ngIf="email.errors.required">Email is required</span>
                                        <span *ngIf="email.errors.pattern">Email must be in (xyz@xyz.xyz) pattern</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-4 col-form-label" for="email"><span class="asteriskField">Gender : *</span> </label>
                                <div class="col-md-8">
                                    <input type="radio" value="M" formControlName="gender" title="gender" /> Male
                                    <input type="radio" value="F" formControlName="gender" title="gender" /> Female
                                    <div class="error" *ngIf="gender.errors && (gender.dirty || gender.touched || isFormSubmitted)">
                                        <span *ngIf="gender.errors.required">Gender is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mt-3 mb-4">
                                <label class="col-md-4 col-form-label pr-0" for="phone-number">
                                    <span class="asteriskField">
                                        Phone Number : *
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="mobile"
                                        id="phone-number"
                                        placeholder="Phone Number"
                                        [ngClass]="{
                                            'has-danger': mobile.invalid && (mobile.dirty || mobile.touched || isFormSubmitted),
                                            'has-success': mobile.valid && (mobile.dirty || mobile.touched)
                                        }"
                                    />
                                    <div class="error" *ngIf="mobile.errors && (mobile.dirty || mobile.touched || isFormSubmitted)">
                                        <span *ngIf="mobile.errors.required">Phone number is required.</span>
                                        <span *ngIf="mobile.errors.pattern"
                                            >Enter valid phone number with country code.(+91 1234567890)</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col">
                    <button class="project-summery-button" type="submit">
                        Save
                    </button>
                    <button class="project-summery-button" type="button" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
