<div id="create-bm-pop">
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit Project</h4>
                <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
                    <img src="../../../../../assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <form class="project-summery-popup-form project-summery-form" [formGroup]="editProjectForm" (ngSubmit)="UpdateProject()">
                <div class="modal-body">
                    <!-- <h3>{{ bmName }}</h3>-->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="conversion-type">Conversion Type</label>
                                <select class="form-control" formControlName="conversionTypeId" id="conversion-type">
                                    <option value="" disabled selected>Select Conversion Type</option>
                                    <option *ngFor="let i of contentTypeList" [value]="i.ct_id">{{ i.ct_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="deal-Warranty">Deal Warranty</label>
                                <div class="">
                                    <input
                                        id="deal-Warranty"
                                        type="number"
                                        placeholder="Deal Warranty"
                                        class="form-control"
                                        formControlName="dealWarranty"
                                        readonly
                                    />
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">UAT Date</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        placeholder="UAT Date"
                                        #utadata="bsDatepicker"
                                        class="form-control"
                                        bsDatepicker
                                        formControlName="uatDate"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        readonly
                                    />
                                    <span class="input-group-prepend" (click)="utadata.toggle()" [attr.aria-expanded]="utadata.isOpen">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">FA Date</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        placeholder="FA Date"
                                        #fadata="bsDatepicker"
                                        class="form-control"
                                        bsDatepicker
                                        formControlName="faDate"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        readonly
                                    />
                                    <span class="input-group-prepend" (click)="fadata.toggle()" [attr.aria-expanded]="fadata.isOpen">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Deal Warranty Start Date</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        placeholder="Deal Warranty Start Date"
                                        #startdate="bsDatepicker"
                                        class="form-control"
                                        bsDatepicker
                                        formControlName="dealWarrantyStartDate"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        readonly
                                    />
                                    <span class="input-group-prepend" (click)="startdate.toggle()" [attr.aria-expanded]="startdate.isOpen">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Entity Company Code</label>

                                <div class="">
                                    <ng-select
                                        [items]="entityList"
                                        [selectOnTab]="true"
                                        bindValue="entityId"
                                        bindLabel="entityCode"
                                        [searchable]="true"
                                        placeholder="Select Entity Company Code"
                                        formControlName="entityCompanyCode"
                                        class="ms-dropdown"
                                    >
                                    </ng-select>
                                </div>

                                <!--<div
                                    *ngIf="
                                        entityCompanyCode.errors &&
                                        (entityCompanyCode.dirty || entityCompanyCode.touched || isFormSubmitted)
                                    "
                                >
                                    <p *ngIf="entityCompanyCode.errors.pattern" class="error">
                                        Entity company code must be alphanumeric
                                    </p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Revenue Profile</label>
                                <select type="text" class="form-control" formControlName="revenueProfile" disabled>
                                    <option selected disabled [ngValue]="null">Select Revenue Profile</option>
                                    <option *ngFor="let r of revenueProfileList" [value]="r.value">{{ r.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">CASH</label><br />
                                <label class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        formControlName="revenueProfileCash"
                                        name="revenueProfileCash"
                                        value="1"
                                        disabled
                                    />
                                    <span class="form-check-label checkround"> Yes </span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        formControlName="revenueProfileCash"
                                        name="revenueProfileCash"
                                        value="0"
                                        disabled
                                    />
                                    <span class="form-check-label checkround"> No </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="project-summery-button" [disabled]="editProjectForm.pristine">save</button>
                    <button class="project-summery-button" type="button" (click)="activeModal.dismiss('Cancel btn click')">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
