<div id="page-top">
    <app-top-nav></app-top-nav>
    <div id="wrapper">
        <div class="sidebar">
            <app-side-nav></app-side-nav>
        </div>
        <div id="content-wrapper">
            <div class="container-fluid">
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>
