<div id="consolidated-bm">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Consolidated Billing Milestone</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon close-icon" (click)="closeModal()"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <table class="table project-table-1">
                    <tbody>
                        <tr>
                            <td class="font-weight-semibold">Project Code</td>
                            <td>: {{ projectDetails?.projectCode }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Opp ID</td>
                            <td>: {{ projectDetails?.oppId }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table project-table">
                    <tbody>
                        <tr>
                            <td class="font-weight-semibold">Total Booking Amount($)</td>
                            <td>: {{ projectDetails?.amountUSD | currency: 'USD' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table project-table">
                    <tbody>
                        <tr>
                            <td class="font-weight-semibold project-start-date">Project Start Date</td>
                            <td class="text-left">: {{ projectDetails?.startDate | date: 'dd-MM-yyyy' }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Project End Date</td>
                            <td class="text-left">: {{ projectDetails?.endDate | date: 'dd-MM-yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="table-responsive gatepass-table">
            <div class="create-bm float-right">
                <button
                    type="button"
                    class="btn btn-sm filled-btn mb-3"
                    *appHasRole="'BILLING-CREATE'"
                    (click)="openCreateBillingModal('ADD')"
                >
                    create billing milestone
                </button>
            </div>
            <table class="table table-bordered consolidated-bm-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Key Milestone</th>
                        <th>Original Start Date</th>
                        <th>Actual/Forecasted Date</th>
                        <th>Ageing/Delays(Weeks)</th>
                        <th>Reasons for Delay</th>
                        <th>Billing Amount</th>
                    </tr>
                </thead>
                <tbody *ngIf="msData?.length !== 0">
                    <tr *ngFor="let fm of msData; let index = index">
                        <td>{{ fm.bmMilestoneName }}</td>
                        <td>{{ fm.bmMsStartDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ (fm.bmMsEndDate ? fm.bmMsEndDate : fm.bmActualDate) | date: 'dd-MM-yyyy' }}</td>
                        <td
                            class="text-danger"
                            *ngIf="
                                fm.bmActualDate &&
                                fm.bmActualDate !== defaultSqlDate &&
                                (fm.bmMsEndDate && fm.bmMsEndDate !== defaultSqlDate)
                            "
                        >
                            {{ getDelayInWeeks(fm.bmActualDate, fm.bmMsEndDate) == 0 ? '' : '-' }}
                            {{ getDelayInWeeks(fm.bmActualDate, fm.bmMsEndDate) }}
                        </td>
                        <td
                            class="text-danger"
                            *ngIf="
                                !(
                                    fm.bmActualDate &&
                                    fm.bmActualDate !== defaultSqlDate &&
                                    (fm.bmMsEndDate && fm.bmMsEndDate !== defaultSqlDate)
                                )
                            "
                        >
                            --
                        </td>
                        <td>{{ fm.bmRiskRemark }}</td>
                        <td>{{ fm.bmAmount | currency: 'USD' }}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="msData?.length == 0">
                    <tr>
                        <td colspan="6" class="text-center">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
