<!-- DataTables Example -->
<h4 class="page-title">Billing Milestones</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">
            Billing Milestones
        </span>
        <div class="float-right text-right" *appHasRole="'BILLING MILESTONE-CREATE'">
            <a href="javascript:void(0);" (click)="addMilestone()">
                <button class="btn btn-sm filled-btn" type="button" (click)="addMilestone()">
                    Add Billing Milestones
                </button>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>Milestone Name</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="MilestoneList?.length != 0">
                    <tr *ngFor="let x of MilestoneList; let index = index">
                        <td>{{ pageLength * pageIndex + index + 1 }}</td>
                        <td>{{ x.bmt_name }}</td>
                        <td>{{ x.bmt_created_date | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.bmt_updated_date | date: 'dd-MM-yyyy' }}</td>
                        <td class="text-center">
                            <!--<a [routerLink]="['', 'projects', 'summary', '123']">
<img src="../../../../assets/images/view-icon.png" class="img-fluid">
</a>-->
                            <!--
                Anchor tag is used to make link active for keyboard and tabing
            -->
                            <a
                                href="javascript:void(0);"
                                (click)="editMilestone(x)"
                                *appHasRole="'BILLING MILESTONE-UPDATE'"
                                id="edit"
                                class="tabable"
                            >
                                <i class="icon edit-icon mr-2" (click)="editMilestone(x)"></i>
                            </a>
                            <a
                                class="tabable"
                                href="javascript:void(0);"
                                (click)="openDeletePopup(x.bmt_id)"
                                *appHasRole="'BILLING MILESTONE-DELETE'"
                            >
                                <i class="icon delete-icon" (click)="openDeletePopup(x.bmt_id)"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="MilestoneList?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div
    bsModal
    id="consolidated-bm"
    #editmilestone="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="milestoneForm" (ngSubmit)="addUpdateMilestone()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{ milestoneId.value ? 'Edit Milestone' : 'Add New Milestone' }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelMilestone()">
                        <i class="icon close-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto">
                        <div class="form-group row mt-3 mb-4">
                            <label class="col-md-4 col-form-label" for="milestone-name">
                                <span class="asteriskField">
                                    Milestone Name : *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="milestoneTypeName"
                                    id="milestone-name"
                                    placeholder="Milestone name"
                                    [ngClass]="{
                                        'has-danger':
                                            milestoneTypeName.invalid &&
                                            (milestoneTypeName.dirty || milestoneTypeName.touched || isFormSubmitted),
                                        'has-success': milestoneTypeName.valid && (milestoneTypeName.dirty || milestoneTypeName.touched)
                                    }"
                                />
                                <div
                                    class="error"
                                    *ngIf="
                                        milestoneTypeName.errors &&
                                        (milestoneTypeName.dirty || milestoneTypeName.touched || isFormSubmitted)
                                    "
                                >
                                    <span *ngIf="milestoneTypeName.errors.required">Milestone name is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelMilestone()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete Milestone</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <img src="../../../../assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteMilestone()">delete</button>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
