<!-- DataTables Example -->
<h4 class="page-title">User Type</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">
            User Type
        </span>
        <div class="float-right text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="addUserType()" *appHasRole="'USER TYPE-CREATE'">
                Add User Type
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>User Type</th>
                        <th>Default Module Access</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="userTypeList?.length != 0">
                    <tr *ngFor="let x of userTypeList; let index = index">
                        <td>{{ pageLength * pageIndex + index + 1 }}</td>
                        <td>{{ x.urol_name }}</td>
                        <td>
                            <a (click)="editUserAccess(x)" class="cur-pointer user-access" href="javascript:void(0);"
                                ><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Assign</a
                            >
                        </td>
                        <td class="text-center">
                            <!--<a [routerLink]="['', 'projects', 'summary', '123']">
                <img src="../../../../assets/images/view-icon.png" class="img-fluid">
              </a>-->
                            <!--<img src="../../../../assets/images/view-icon.png" class="img-fluid">-->&nbsp;&nbsp;&nbsp;
                            <a (click)="editUserType(x)" *appHasRole="'USER TYPE-UPDATE'" href="javascript:void(0);">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a (click)="openDeletePopup(x.urol_id)" *appHasRole="'USER TYPE-DELETE'" href="javascript:void(0);">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="userTypeList?.length == 0">
                    <tr>
                        <td colspan="4" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #editmoduleaccess="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" (ngSubmit)="updateModuleAccess()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Module Access</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelModuleAccess()">
                        <i class="icon close-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto" *ngFor="let i of ModuleAccessData; let index = index">
                        <div
                            class="form-group row mt-3 mb-4"
                            *ngIf="
                                i.moduleName !== 'User Listing' &&
                                i.moduleName !== 'Finalize' &&
                                i.moduleName !== 'Level1' &&
                                i.moduleName !== 'Level2'
                            "
                        >
                            <label class="col-md-4 col-form-label"> {{ i.moduleName }} : </label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="chiller_cb">
                                            <input
                                                id="moduleaccesslist{{ index }}"
                                                type="checkbox"
                                                name="moduleaccesslist{{ index }}"
                                                [(ngModel)]="i.list.view"
                                            />
                                            <label for="moduleaccesslist{{ index }}">List</label>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="chiller_cb">
                                            <input
                                                id="moduleaccessadd{{ index }}"
                                                type="checkbox"
                                                name="moduleaccessadd{{ index }}"
                                                [(ngModel)]="i.list.add"
                                            />
                                            <label for="moduleaccessadd{{ index }}">Add</label>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="chiller_cb">
                                            <input
                                                id="moduleaccessedit{{ index }}"
                                                type="checkbox"
                                                name="moduleaccessedit{{ index }}"
                                                [(ngModel)]="i.list.edit"
                                            />
                                            <label for="moduleaccessedit{{ index }}">Edit</label>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="chiller_cb">
                                            <input
                                                id="moduleaccessdelete{{ index }}"
                                                type="checkbox"
                                                name="moduleaccessdelete{{ index }}"
                                                [(ngModel)]="i.list.delete"
                                            />
                                            <label for="moduleaccessdelete{{ index }}">Delete</label>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mx-auto" *ngIf="ModuleAccessData.length == 0">
                        No access found.
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit" *ngIf="ModuleAccessData.length != 0">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelModuleAccess()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #editusertype="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="userTypeForm" (ngSubmit)="addUpdateUserType()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{ userTypeId.value ? 'Edit User Type' : 'Add New User Type' }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUserType()">
                        <i class="icon close-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto">
                        <div class="form-group row mt-3 mb-4">
                            <label class="col-md-4 col-form-label" for="user-type">
                                <span class="asteriskField">
                                    User Type : *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="userTypeName"
                                    id="user-type"
                                    placeholder="User Type"
                                    [ngClass]="{
                                        'has-danger':
                                            userTypeName.invalid && (userTypeName.dirty || userTypeName.touched || isFormSubmitted),
                                        'has-success': userTypeName.valid && (userTypeName.dirty || userTypeName.touched)
                                    }"
                                />
                                <div
                                    class="error"
                                    *ngIf="userTypeName.errors && (userTypeName.dirty || userTypeName.touched || isFormSubmitted)"
                                >
                                    <span *ngIf="userTypeName.errors.required">User type is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelUserType()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete User Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <i class="icon close-icon"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteUserType()">delete</button>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
