<!-- DataTables Example -->
<h4 class="page-title">Line Of Business</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">
            Line Of Business
        </span>
        <div class="float-right text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="addLOB()" *appHasRole="'LINE OF BUSINESS-CREATE'">
                Add Line Of Business
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>LOB Name</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="LOBList?.length != 0">
                    <tr *ngFor="let x of LOBList; let index = index">
                        <td>{{ pageLength * pageIndex + index + 1 }}</td>
                        <td>{{ x.lob_name }}</td>
                        <td>{{ x.lob_created_date | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.lob_updated_date | date: 'dd-MM-yyyy' }}</td>
                        <td class="text-center">
                            <!--<a [routerLink]="['', 'projects', 'summary', '123']">
<img src="../../../../assets/images/view-icon.png" class="img-fluid">
</a>-->
                            <a (click)="editLOB(x)" *appHasRole="'LINE OF BUSINESS-UPDATE'" href="javascript:void(0);">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a (click)="openDeletePopup(x.lob_id)" *appHasRole="'LINE OF BUSINESS-DELETE'" href="javascript:void(0);">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="LOBList?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div bsModal id="consolidated-bm" #editlob="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="lobForm" (ngSubmit)="addUpdateLOB()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        {{ lineOfBusinessId.value ? 'Edit Line Of Business' : 'Add New Line Of Business' }}
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelLOB()">
                        <i class="icon close-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto">
                        <div class="form-group row mt-3 mb-4">
                            <label class="col-md-4 col-form-label" for="lob-name">
                                <span class="asteriskField">
                                    LOB Name : *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="lineOfBusinessName"
                                    id="lob-name"
                                    placeholder="LOB name"
                                    [ngClass]="{
                                        'has-danger':
                                            lineOfBusinessName.invalid &&
                                            (lineOfBusinessName.dirty || lineOfBusinessName.touched || isFormSubmitted),
                                        'has-success': lineOfBusinessName.valid && (lineOfBusinessName.dirty || lineOfBusinessName.touched)
                                    }"
                                />
                                <div
                                    class="error"
                                    *ngIf="
                                        lineOfBusinessName.errors &&
                                        (lineOfBusinessName.dirty || lineOfBusinessName.touched || isFormSubmitted)
                                    "
                                >
                                    <span *ngIf="lineOfBusinessName.errors.required">LOB name is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelLOB()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete Line Of Business</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <i class="icon close-icon"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteLOB()">delete</button>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
