<!--Create Billing Milestone model popup starts-->
<div id="create-bm-pop">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Billing Milestone</h4>
        <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
            <i class="icon close-icon"></i>
        </button>
    </div>
    <form [formGroup]="consolidatedBillingMilestoneForm" (ngSubmit)="save()" class="project-summery-popup-form project-summery-form">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <table class="table project-table-1">
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold">Project Code</td>
                                <td>: {{ projectDetails?.projectCode }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Opp ID</td>
                                <td>: {{ projectDetails?.oppId }}</td>
                            </tr>
                            <tr *ngIf="projectDetails.dealType">
                                <td class="font-weight-semibold">Deal Type</td>
                                <td>: {{ projectDetails?.dealType }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table project-table">
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold">Total Booking Amount($)</td>
                                <td>: {{ projectDetails?.amountUSD | currency: 'USD' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table project-table">
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold project-start-date">Project Start Date</td>
                                <td [ngClass]="projectDetails?.startDate ? '' : 'text-left'">
                                    : {{ projectDetails?.startDate | date: 'dd-MM-yyyy' }}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Project End Date</td>
                                <td [ngClass]="projectDetails?.endDate ? '' : 'text-left'">
                                    : {{ projectDetails?.endDate | date: 'dd-MM-yyyy' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Project Code</label>
                        <input type="text" class="form-control" placeholder="Project Code" [value]="projectDetails?.projectCode" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">MS Type</label>
                        <div class="b-select-wrap">
                            <select
                                class="form-control b-select"
                                formControlName="bmType"
                                [ngClass]="{
                                    'has-danger': bmType.invalid && (bmType.dirty || bmType.touched || isFormSubmitted),
                                    'has-success': bmType.valid && (bmType.dirty || bmType.touched)
                                }"
                            >
                                <option selected disabled value="">Type</option>
                                <option *ngFor="let bmType of bmTypes" [value]="bmType.Id">{{ bmType.Name }}</option>
                            </select>
                        </div>
                        <div class="error" *ngIf="bmType.errors && (bmType.dirty || bmType.touched || isFormSubmitted)">
                            <p *ngIf="bmType.errors.required">MS Type is required</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Risk</label><br />
                        <label class="form-check form-check-inline" style="height: 30px;">
                            <input class="form-check-input" type="radio" formControlName="bmRisk" name="bmRisk" value="Y" />
                            <span class="form-check-label checkround"> Yes </span>
                        </label>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="bmRisk" name="bmRisk" value="N" />
                            <span class="form-check-label checkround"> No </span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rag</label><br />
                        <label class="form-check form-check-inline" style="height: 30px;">
                            <input class="form-check-input" type="radio" formControlName="bmRagTag" name="bmRagTag" value="red" />
                            <span class="form-check-label red-box text-center">
                                <ul>
                                    <li></li>
                                </ul>
                            </span>
                        </label>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="bmRagTag" name="bmRagTag" value="green" />
                            <span class="green-box orm-check-label text-center">
                                <ul>
                                    <li></li>
                                </ul>
                            </span>
                        </label>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="bmRagTag" name="bmRagTag" value="amber" />
                            <span class="form-check-label yellow-box text-center">
                                <ul>
                                    <li></li>
                                </ul>
                            </span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Risk Remark</label>
                        <input type="text" formControlName="bmRiskRemark" class="form-control" placeholder="Risk Remark" />
                        <div class="error" *ngIf="bmRiskRemark.errors && (bmRiskRemark.dirty || bmRiskRemark.touched || isFormSubmitted)">
                            <p *ngIf="bmRiskRemark.errors.pattern">Please remove special characters</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Baseline Date</label>
                        <div
                            class="input-group date-div"
                            [ngClass]="{
                                'has-danger': bmMsStartDate.invalid && (bmMsStartDate.dirty || bmMsStartDate.touched || isFormSubmitted),
                                'has-success': bmMsStartDate.valid && (bmMsStartDate.dirty || bmMsStartDate.touched)
                            }"
                        >
                            <input
                                type="text"
                                [container]="''"
                                placeholder="YYYY-MM-DD"
                                #msstartdate="bsDatepicker"
                                class="form-control"
                                bsDatepicker
                                name="startDate"
                                formControlName="bmMsStartDate"
                                (bsValueChange)="onDateChange($event)"
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                                readonly
                                required
                                [attr.disabled]="
                                    fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? true : null
                                "
                            />
                            <span
                                class="input-group-prepend"
                                (click)="msstartdate.toggle()"
                                [ngClass]="
                                    fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? 'disabled' : ''
                                "
                                [attr.aria-expanded]="msstartdate.isOpen"
                            >
                                <span class="input-group-text calander-icon"><i class="fa fa-calendar"></i></span>
                            </span>
                        </div>
                        <div
                            class="error"
                            *ngIf="bmMsStartDate.errors && (bmMsStartDate.dirty || bmMsStartDate.touched || isFormSubmitted)"
                        >
                            <p *ngIf="bmMsStartDate.errors.required">Baseline date is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Actual Date</label>
                        <div class="input-group date-div">
                            <input
                                type="text"
                                [container]="''"
                                placeholder="YYYY-MM-DD"
                                #actdate="bsDatepicker"
                                class="form-control"
                                bsDatepicker
                                name="startDate"
                                formControlName="bmActualDate"
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                                readonly
                                [attr.disabled]="
                                    fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? true : null
                                "
                            />
                            <span
                                class="input-group-prepend"
                                (click)="actdate.toggle()"
                                [ngClass]="
                                    fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? 'disabled' : ''
                                "
                                [attr.aria-expanded]="actdate.isOpen"
                            >
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </span>
                            <span
                                class="input-group-prepend"
                                [ngClass]="bmActualDate.value ? 'clear-date-sec' : 'disabled'"
                                (click)="clearDate('bmActualDate')"
                            >
                                <span class="input-group-text"><i class="fa fa-close" style="color:red"></i></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">PO Number</label>
                        <input
                            class="form-control"
                            [attr.disabled]="
                                fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? true : null
                            "
                            formControlName="bmPoNum"
                            placeholder="PO Number"
                            [ngClass]="{
                                'has-danger': bmPoNum.invalid && (bmPoNum.dirty || bmPoNum.touched || isFormSubmitted),
                                'has-success': bmPoNum.valid && (bmPoNum.dirty || bmPoNum.touched)
                            }"
                        />
                        <div class="error" *ngIf="bmPoNum.errors && (bmPoNum.dirty || bmPoNum.touched || isFormSubmitted)">
                            <p *ngIf="bmPoNum.errors.pattern">PO Number should be Alphanumeric.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Triggered</label><br />
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="bmTriggered" name="bmTriggered" value="Y" />
                            <span class="form-check-label checkround"> Yes </span>
                        </label>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="bmTriggered" name="bmTriggered" value="N" />
                            <span class="form-check-label checkround">No</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Invoice Amount ($)</label>
                        <input
                            type="number"
                            step="0.01"
                            class="form-control"
                            formControlName="bmInvoiceAmount"
                            placeholder="Invoice Amount"
                            [attr.disabled]="
                                fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? true : null
                            "
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Milestone</label>
                        <div class="">
                            <ng-select
                                [items]="milestones"
                                [selectOnTab]="true"
                                bindValue="ignMilestoneId"
                                bindLabel="ignMilestoneName"
                                [searchable]="true"
                                placeholder="Select Milestone"
                                formControlName="bmMilestone"
                                class="ms-dropdown"
                                [ngClass]="{
                                    'has-danger': bmMilestone.invalid && (bmMilestone.dirty || bmMilestone.touched || isFormSubmitted),
                                    'has-success': bmMilestone.valid && (bmMilestone.dirty || bmMilestone.touched)
                                }"
                            >
                            </ng-select>
                        </div>

                        <div class="error" *ngIf="bmMilestone.errors && (bmMilestone.dirty || bmMilestone.touched || isFormSubmitted)">
                            <p *ngIf="bmMilestone.errors.required">Milestone is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Percentage (%)</label>
                        <input
                            type="number"
                            step="0.01"
                            class="form-control"
                            formControlName="bmPercentage"
                            placeholder="Percentage"
                            [ngClass]="{
                                'has-danger': bmPercentage.invalid && (bmPercentage.dirty || bmPercentage.touched || isFormSubmitted),
                                'has-success': bmPercentage.valid && (bmPercentage.dirty || bmPercentage.touched)
                            }"
                        />
                        <div class="error" *ngIf="bmPercentage.errors && (bmPercentage.dirty || bmPercentage.touched || isFormSubmitted)">
                            <p *ngIf="bmPercentage.errors.required">Percentage is required</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Amount ($)</label>
                        <input
                            type="number"
                            step="0.01"
                            class="form-control"
                            formControlName="bmAmount"
                            placeholder="Amount"
                            [ngClass]="{
                                'has-danger': bmAmount.invalid && (bmAmount.dirty || bmAmount.touched || isFormSubmitted),
                                'has-success': bmAmount.valid && (bmAmount.dirty || bmAmount.touched)
                            }"
                            [attr.disabled]="
                                projectDetails?.dealType == 'CASH' ||
                                (fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI')
                                    ? true
                                    : null
                            "
                        />
                        <div class="error" *ngIf="bmAmount.errors && (bmAmount.dirty || bmAmount.touched || isFormSubmitted)">
                            <p *ngIf="bmAmount.errors.required">Amount is required</p>
                        </div>
                        <div class="error" *ngIf="bmAmount.dirty || bmAmount.touched || isFormSubmitted">
                            <p *ngIf="isAmountExceeds()">Amount should not exceeds project value</p>
                        </div>
                    </div>

                    <!--
                    <div class="form-group" *ngIf="fiterValue !== 'ADD'">
                        <label class="control-label">Plan Date</label>
                        <div class="input-group">
                            <input
                                type="text"
                                placeholder="YYYY-MM-DD"
                                [container]="''"
                                #plndate="bsDatepicker"
                                class="form-control"
                                bsDatepicker
                                name="startDate"
                                formControlName="bmPlanDate"
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                                readonly
                            />
                            <span class="input-group-prepend" (click)="plndate.toggle()" [attr.aria-expanded]="plndate.isOpen">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </span>
                        </div>
                    </div>
-->

                    <div class="form-group">
                        <label class="control-label">Forcasted Date</label>
                        <div
                            class="input-group date-div"
                            [ngClass]="{
                                'has-danger': bmMsEndDate.invalid && (bmMsEndDate.dirty || bmMsEndDate.touched || isFormSubmitted),
                                'has-success': bmMsEndDate.valid && (bmMsEndDate.dirty || bmMsEndDate.touched)
                            }"
                            [attr.disabled]="fiterValue !== 'ADD' && msType === 0 ? true : null"
                        >
                            <input
                                type="text"
                                placeholder="YYYY-MM-DD"
                                [container]="''"
                                #msenddate="bsDatepicker"
                                class="form-control"
                                bsDatepicker
                                name="endDate"
                                formControlName="bmMsEndDate"
                                [minDate]="minCurrentEndDate"
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                                readonly
                                required
                            />
                            <span class="input-group-prepend" (click)="msenddate.toggle()" [attr.aria-expanded]="msenddate.isOpen">
                                <span class="input-group-text calander-icon"><i class="fa fa-calendar"></i></span>
                            </span>
                        </div>
                        <div class="error" *ngIf="bmMsEndDate.errors && (bmMsEndDate.dirty || bmMsEndDate.touched || isFormSubmitted)">
                            <p *ngIf="bmMsEndDate.errors.required">Forecasted date is required</p>
                        </div>
                    </div>
                    <div class="form-group mt-depenedncies-btn">
                        <button
                            type="button"
                            class="btn btn-success filled-btn"
                            (click)="openDependenciesModal()"
                            style="margin-top: 27px;"
                        >
                            Dependencies
                        </button>
                    </div>
                    <div class="form-group">
                        <label class="control-label">PMS MS Reference Number</label>
                        <input
                            class="form-control"
                            formControlName="bmPmsMsRefNo"
                            placeholder="PMS MS Reference Number"
                            [ngClass]="{
                                'has-danger': bmPmsMsRefNo.invalid && (bmPmsMsRefNo.dirty || bmPoNum.touched || isFormSubmitted),
                                'has-success': bmPmsMsRefNo.valid && (bmPmsMsRefNo.dirty || bmPoNum.touched)
                            }"
                        />
                        <div class="error" *ngIf="bmPmsMsRefNo.errors && (bmPmsMsRefNo.dirty || bmPmsMsRefNo.touched || isFormSubmitted)">
                            <p *ngIf="bmPmsMsRefNo.errors.pattern">PMS MS Reference Number should be Alphanumeric.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Invoice Date</label>
                        <div class="input-group">
                            <input
                                type="text"
                                placeholder="YYYY-MM-DD"
                                #insdate="bsDatepicker"
                                class="form-control"
                                bsDatepicker
                                name="startDate"
                                [container]="''"
                                formControlName="bmInvoiceDate"
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                                readonly
                                [attr.disabled]="
                                    fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? 'disabled' : null
                                "
                            />
                            <span
                                class="input-group-prepend"
                                (click)="insdate.toggle()"
                                [ngClass]="
                                    fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? 'disabled' : ''
                                "
                                [attr.aria-expanded]="insdate.isOpen"
                            >
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </span>
                            <span
                                [ngClass]="bmInvoiceDate.value ? 'clear-date-sec' : 'disabled'"
                                class="input-group-prepend"
                                (click)="clearDate('bmInvoiceDate')"
                            >
                                <span class="input-group-text"><i class="fa fa-close" style="color:red"></i></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Invoice Number</label>
                        <input
                            class="form-control"
                            formControlName="bmInvoiceNumber"
                            placeholder="Invoice Number"
                            [attr.disabled]="
                                fiterValue !== 'ADD' && msType === 0 && projectDetails.entityCompanyCode === 'MOBI' ? 'disabled' : null
                            "
                            [ngClass]="{
                                'has-danger':
                                    bmInvoiceNumber.invalid && (bmInvoiceNumber.dirty || bmInvoiceNumber.touched || isFormSubmitted),
                                'has-success': bmInvoiceNumber.valid && (bmInvoiceNumber.dirty || bmInvoiceNumber.touched)
                            }"
                        />
                        <div
                            class="error"
                            *ngIf="bmInvoiceNumber.errors && (bmInvoiceNumber.dirty || bmInvoiceNumber.touched || isFormSubmitted)"
                        >
                            <p *ngIf="bmInvoiceNumber.errors.pattern">Invoice Number should be Alphanumeric.</p>
                        </div>
                    </div>

                    <!--
                                    <div class="form-group">
                                        <label class="control-label">Difference ($)</label>
                                        <input
                                            type="number"
                                            step="0.01"
                                            class="form-control"
                                            formControlName="bmDifference"
                                            placeholder="Difference"
                                        />
                                    </div>
        -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button
                type="submit"
                class="btn btn-success filled-btn"
                [disabled]="fiterValue !== 'ADD' ? consolidatedBillingMilestoneForm.pristine && isDepModalNotChanged : ''"
            >
                {{ fiterValue === 'ADD' ? 'Save' : 'Edit' }}
            </button>
            <button class="btn btn-success filled-btn" type="button" (click)="activeModal.dismiss('Cancel btn click')">
                Cancel
            </button>
        </div>
    </form>
</div>
<!--Create Billing Milestone model popup Ends-->
