.date-div,
.ms-dropdown {
    border-radius: 5px;
}

.red-box ul {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.red-box ul li {
    width: 15px;
    height: 15px;
    background: #ff0000;
    list-style-type: none;
}

.yellow-box ul li {
    width: 15px;
    height: 15px;
    background: #ffc000;
    list-style-type: none;
}

.yellow-box ul {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.green-box ul li {
    width: 15px;
    height: 15px;
    background: #92d050;
    list-style-type: none;
}

.green-box ul {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.clear-date-sec {
    cursor: pointer;
}
