<ul class="navbar-nav ">
    <li class="profile-li">
        <div class="profile-div">
            <!--
          <img [src]="imgURL? imgURL : (userDetails.gender === 'M' ? '../../../../assets/images/profile-img.png' : '../../../../assets/images/big.jpg')" alt="" [routerLink]="['', 'settings']" />
-->
            <img
                [src]="
                    userDetails?.gender
                        ? userDetails?.gender === 'M'
                            ? '../../../../assets/images/profile-img.png'
                            : '../../../../assets/images/big.jpg'
                        : '../../../../assets/images/profile-img.png'
                "
                alt=""
                [routerLink]="['', 'settings']"
            />
            <div class="user-txt">
                <h5>{{ userDetails?.name | titlecase }}</h5>
                <h6>{{ userDetails?.type | titlecase }}</h6>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link top-nav-link" id="dashboard">
            <img src="../../../../assets/images/home-icon.png" class="img-fluid" />
            <span>Dashboard</span>
        </a>
        <ul class="sub-menu" id="dashboardMenu">
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'dashboard']">Analytics view</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'dashboard-billing-historical-view']">Billing view</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'dashboard-revenue-historical-view']">Revenue view</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" [routerLinkActive]="['active-route']">
        <a class="nav-link top-nav-link" [routerLink]="['', 'projects', 'list']">
            <img src="../../../../assets/images/projects-icon.png" class="img-fluid" />
            <span>Projects</span>
        </a>
    </li>

    <!--<li class="nav-item" [routerLinkActive]="['active-route']" *ngIf="showApproveMenu()">
        <a class="nav-link" [routerLink]="['', 'approval']">
            <img src="../../../../assets/images/projects-icon.png" class="img-fluid" />
            <span>Approval</span>
        </a>
    </li>-->

    <li class="nav-item">
        <a class="nav-link" id="reports">
            <img src="../../../../assets/images/reports-icon.png" class="img-fluid" />
            <span>Reports</span>
        </a>
        <ul class="sub-menu" id="reportmenu">
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'billing']">Billing</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'revenue']">Revenue</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'builder']">Builder</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'sw-dep']">SwDep</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'hw-dep']">HwDep</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'cust-dep']">CustDep</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'paperwork']">PaperworkDep</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'rag-billing-red']">Rag Billing Red</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'rag-billing-green']">Rag Billing Green</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'reports', 'rag-billing-amber']">Rag Billing Amber</a>
            </li>
        </ul>
        <!--<li class="nav-item" *appHasRole="'USERS'" [routerLinkActive]="['active-route']">-->
    </li>

    <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'USER LIST'">
        <a class="nav-link top-nav-link" [routerLinkActive]="['active']" [routerLink]="['', 'master', 'userlist']">
            <img src="../../../../assets/images/users-icon.png" class="img-fluid" />
            <span>Users</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " id="masterData">
            <img src="../../../../assets/images/master-data-icon.png" class="img-fluid" />
            <span>Master Data</span>
        </a>
        <ul class="sub-menu" id="masterMenu">
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'REGION'">
                <a class="nav-link" [routerLink]="['', 'master', 'region']">Region</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'CONVERSION TYPE'">
                <a class="nav-link" [routerLink]="['', 'master', 'conversiontype']">Conversion Type</a>
            </li>
            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['', 'master', 'module']">Module</a></li>-->
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'BILLING MILESTONE'">
                <a class="nav-link" [routerLink]="['', 'master', 'billingmilestone']">Billing Milestone</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'LINE OF BUSINESS'">
                <a class="nav-link" [routerLink]="['', 'master', 'lineofbusiness']">Line Of Business</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'PMO DEAL TYPE'">
                <a class="nav-link" [routerLink]="['', 'master', 'pmodealtype']">PMO Deal Type</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'OPPURTUNITY DEAL TYPE'">
                <a class="nav-link" [routerLink]="['', 'master', 'opportunitydealtype']">Opportunity Deal Type</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'MODULE MASTER'">
                <a class="nav-link" [routerLink]="['', 'master', 'modulemaster']">Module Master</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'USER TYPE'">
                <a class="nav-link" [routerLink]="['', 'master', 'usertype']">User Type</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']" *appHasRole="'PMO DEAL TYPE'">
                <a class="nav-link" [routerLink]="['', 'master', 'dealtype']">Deal Type</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'master', 'projecttype']">Project Type</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'master', 'projectdependency']">Project Dependency</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active-route']">
                <a class="nav-link" [routerLink]="['', 'master', 'entitycompanycode']">Entity Company Code</a>
            </li>
            <!--<li class="nav-item"><a class="nav-link" [routerLink]="['', 'master', 'userlist']">User List</a></li>-->
        </ul>
    </li>
    <li class="nav-item " [routerLinkActive]="['active-route']">
        <a class="nav-link top-nav-link" [routerLink]="['', 'settings']">
            <img src="../../../../assets/images/setting-icon.png" class="img-fluid" />
            <span>Settings</span>
        </a>
    </li>
</ul>
