.red-box ul li {
    width: 15px;
    height: 15px;
    background: #ff0000;
    list-style-type: none;
}

.yellow-box ul li {
    width: 15px;
    height: 15px;
    background: #ffc000;
    list-style-type: none;
}

.green-box ul li {
    width: 15px;
    height: 15px;
    background: #92d050;
    list-style-type: none;
}

.fiter-btn {
    padding: 6px 22px;
}

.project {
    outline: none;
    cursor: pointer;
    color: inherit;
}

.project:focus,
.project:hover {
    font-weight: 500;
    text-decoration: none;
}

.tab-index + .tab-index {
    margin-left: 5px;
}

.disable-search-link {
    cursor: not-allowed;
    text-decoration: none;
}

.filled-btn:focus {
    background: #ffffff !important;
    color: #365661 !important;
    border-color: #365661;
}

.line-chart-blue:focus,
.bar-chart-blue:focus {
    outline: 1px solid red;
}

div.hand-cursor {
    outline: none;
}

.link {
    outline: none;
}
