<!-- DataTables Example -->
<h4 class="page-title">ANALYTICS</h4>
<div class="row">
    <div class="col-xl-12 col-lg-12 mb-4">
        <div class="card">
            <div class="card-header card-header-title">
                Current QTR - RAG View
            </div>

            <div class="card-body">
                <div class="table-responsive gatepass-table">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Billing</th>
                                <th>Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="red-box text-center">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </td>
                                <td
                                    class="link hand-cursor"
                                    [routerLink]="['', 'reports', 'rag-billing-red']"
                                    [class.disabled]="crntQtrRagData?.billing.red == 0"
                                >
                                    {{ (crntQtrRagData?.billing.red ? crntQtrRagData?.billing.red : 0) | currency: 'USD' }}
                                </td>
                                <td class="link hand-cursor">
                                    {{ (crntQtrRagData?.revenue.red ? crntQtrRagData?.revenue.red : 0) | currency: 'USD' }}
                                </td>
                            </tr>
                            <tr>
                                <td class="yellow-box text-center">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </td>
                                <td
                                    class="link hand-cursor"
                                    [routerLink]="['', 'reports', 'rag-billing-amber']"
                                    [class.disabled]="crntQtrRagData?.billing.orange == 0"
                                >
                                    {{ (crntQtrRagData?.billing.orange ? crntQtrRagData?.billing.orange : 0) | currency: 'USD' }}
                                </td>
                                <td class="link hand-cursor">
                                    {{ (crntQtrRagData?.revenue.orange ? crntQtrRagData?.revenue.orange : 0) | currency: 'USD' }}
                                </td>
                            </tr>
                            <tr>
                                <td class="green-box text-center">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </td>
                                <td
                                    class="link hand-cursor"
                                    [routerLink]="['', 'reports', 'rag-billing-green']"
                                    [class.disabled]="crntQtrRagData?.billing.green == 0"
                                >
                                    {{ (crntQtrRagData?.billing.green ? crntQtrRagData?.billing.green : 0) | currency: 'USD' }}
                                </td>
                                <td class="link hand-cursor">
                                    {{ (crntQtrRagData?.revenue.green ? crntQtrRagData?.revenue.green : 0) | currency: 'USD' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-1">
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 col-12 hand-cursor" [routerLink]="['', 'reports', 'sw-dep']">
                        SW Dependencies : {{ crntQtrRagData?.swDependencies | currency: 'USD' }}
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 col-12 hand-cursor" [routerLink]="['', 'reports', 'paperwork']">
                        Paper Work : {{ crntQtrRagData?.paperWork | currency: 'USD' }}
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 col-12">Risk : {{ crntQtrRagData?.risk | currency: 'USD' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 mb-4">
        <div class="card">
            <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
                <form class="dashboard-form">
                    <div class="row">
                        <div class="col-xl col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Opp ID</label>
                                <div class="b-select-wrap">
                                    <select
                                        class="form-control b-select"
                                        name="selectOppId"
                                        [(ngModel)]="selectOppId"
                                        (change)="onOppIdChange(selectOppId)"
                                    >
                                        <option value="">Select Opp ID</option>
                                        <option *ngFor="let i of oppIdList" [value]="i.oppId">{{ i.oppId }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Opp Name</label>
                                <div class="b-select-wrap">
                                    <select
                                        class="form-control b-select"
                                        name="selectOppName"
                                        [(ngModel)]="selectOppName"
                                        (change)="onOppNameChange(selectOppName)"
                                    >
                                        <option value="">Select Opp Name</option>
                                        <option *ngFor="let i of oppNameList" [value]="i.oppId">{{ i.oppName }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>GP/Project Code</label>
                                <div class="b-select-wrap">
                                    <select class="form-control b-select" name="selectGPProjectCode" [(ngModel)]="selectGPProjectCode">
                                        <option value="">Select GP/Project Code</option>
                                        <option *ngFor="let project of projectCodeList" [value]="project.projectCode">{{
                                            project.projectCode
                                        }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl col-lg-4 col-md-6  text-right mt-4">
                            <button
                                type="button"
                                class="btn btn-success fiter-btn"
                                (click)="searchCurrentQTRRAGView()"
                                role="link"
                                href="javascript:void(0);"
                            >
                                Search
                            </button>
                            <button
                                type="button"
                                class="btn btn-success fiter-btn"
                                (click)="resetCurrentQTRRAGView()"
                                [disabled]="!(selectGPProjectCode || selectOppId || selectOppName)"
                                role="link"
                                href="javascript:void(0);"
                            >
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 col-lg-12 mb-4">
        <div class="card h-100">
            <div class="card-header card-header-title">
                BILLING
                <div class="float-right">
                    <div class="">
                        <ul class="mb-0 list-group list-group-horizontal custom-list-group">
                            <li class="list-group-item">
                                <i class="icon line-chart-blue" (click)="BillingChartChange('line')"></i>
                            </li>
                            <li class="list-group-item">
                                <i class="icon bar-chart-blue" (click)="BillingChartChange('column')"></i>
                            </li>
                            <!--<li><img src="../../../../assets/images/pie-chart-blue.png" class="img-fluid"  (click)="BillingChartChange('pie')"/></li>-->
                            <!--<li><img src="../../../../assets/images/download-icon-blue.png" class="img-fluid" /></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="graph-section">
                    <div class="mt-1 historical-view-sec">
                        <mat-tab-group class="project-summery-details">
                            <mat-tab label="Chart">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content">
                                        <highcharts-chart
                                            *ngIf="showBillingChart && billingChartOptions?.series.length > 0"
                                            [Highcharts]="Highcharts"
                                            [options]="billingChartOptions"
                                            style="width: 100%; height: 400px; display: block;"
                                            [(update)]="updateBillingChart"
                                            [oneToOne]="billingoneToOneFlag"
                                        ></highcharts-chart>
                                        <div *ngIf="showBillingChart && billingChartOptions?.series?.length === 0" class="mt-1">
                                            <p class="card-header-title">No Data Found</p>
                                        </div>
                                        <div *ngIf="!showBillingChart" class="text-center graph-loader-css">
                                            <i class="fa fa-spinner fa-spin fa-2x fa-fw table-loader"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Table" tabindex="1">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content" style="padding-top:20px ">
                                        <div class="mb-3 mr-1">
                                            <div class="text-right">
                                                <button
                                                    type="button"
                                                    class="btn btn-sm filled-btn btn-filled-no-hover"
                                                    (click)="chartExportService.export('billing-chart-table', 'Billing')"
                                                >
                                                    <i class="icon excel-icon"></i> Export Excel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="table-responsive gatepass-table">
                                            <table class="table table-bordered" width="100%" cellspacing="0" id="billing-chart-table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th colspan="3" class="text-center">Q1</th>
                                                        <th colspan="3" class="text-center">Q2</th>
                                                        <th colspan="3" class="text-center">Q3</th>
                                                        <th colspan="3" class="text-center">Q4</th>
                                                        <th class="text-center">Total</th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th *ngFor="let i of monthList">{{ i }}</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let i of billingChartList; let index = index">
                                                    <tr>
                                                        <td>{{ i.name }}</td>
                                                        <td *ngFor="let sub of i.data">{{ sub | currency: 'USD' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 mb-4">
        <div class="card h-100">
            <div class="card-header card-header-title">
                <div class="row">
                    <div class="col-sm-8">
                        TOP BILLING PROJECTS
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="b-select-wrap ">
                                <select
                                    class="form-control b-select"
                                    name="topBillingProjectOptionMenu"
                                    [(ngModel)]="billingTopFilterOption"
                                    (change)="billingFilterChange()"
                                    [disabled]="!topBilllingProject"
                                >
                                    <option value="" selected>Select option</option>
                                    <option *ngFor="let i of topBillingMenu" [value]="i.name">{{ i.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="row custom-list-icon">
                    <div class="col-md-6" *ngFor="let i of topBilllingProject">
                        <a [routerLink]="['', 'projects', 'summary', i.projId]" class="project">
                            <p>
                                <i class="icon mobileum-list-icon"></i>{{ i.projectName }}
                                <span *ngIf="i.amount">({{ i.amount | currency: 'USD' }})</span>
                            </p>
                        </a>
                    </div>
                    <div class="col-md-6" *ngIf="!topBilllingProject">
                        <p>No project found!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-12 mb-4">
        <div class="card h-100">
            <div class="card-header card-header-title">
                REVENUE
                <div class="float-right">
                    <div class="dashboard-icons">
                        <ul class="mb-0 list-group list-group-horizontal custom-list-group">
                            <li class="list-group-item">
                                <i class="icon line-chart-blue" (click)="RevenueChartChange('line')"></i>
                            </li>
                            <li class="list-group-item">
                                <i class="icon bar-chart-blue" (click)="RevenueChartChange('column')"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="graph-section">
                    <div class="mt-1 historical-view-sec">
                        <mat-tab-group class="project-summery-details">
                            <mat-tab label="Chart">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content">
                                        <highcharts-chart
                                            *ngIf="showRevenueChart && revenueChartOptions?.series.length > 0"
                                            [Highcharts]="Highcharts"
                                            [options]="revenueChartOptions"
                                            style="width: 100%; height: 400px; display: block;"
                                            [(update)]="updateRevenueChart"
                                            [oneToOne]="revenueoneToOneFlag"
                                        ></highcharts-chart>
                                        <div *ngIf="showRevenueChart && revenueChartOptions?.series.length === 0" class="mt-1">
                                            <p class="card-header-title">No Data Found</p>
                                        </div>
                                        <div *ngIf="!showRevenueChart" class="text-center graph-loader-css">
                                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Table">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content" style="padding-top:20px ">
                                        <div class="mb-3 mr-1">
                                            <div class="text-right">
                                                <button
                                                    type="button"
                                                    class="btn btn-sm filled-btn btn-filled-no-hover"
                                                    (click)="chartExportService.export('revenue-chart-table', 'Revenue')"
                                                >
                                                    <i class="icon excel-icon"></i> Export Excel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="table-responsive gatepass-table">
                                            <table class="table table-bordered" width="100%" cellspacing="0" id="revenue-chart-table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th colspan="3" class="text-center">Q1</th>
                                                        <th colspan="3" class="text-center">Q2</th>
                                                        <th colspan="3" class="text-center">Q3</th>
                                                        <th colspan="3" class="text-center">Q4</th>
                                                        <th class="text-center">Total</th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th *ngFor="let i of monthList">{{ i }}</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let i of revenueChartList; let index = index">
                                                    <tr>
                                                        <td>{{ i.name }}</td>
                                                        <td *ngFor="let sub of i.data">{{ sub | currency: 'USD' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 mb-4">
        <div class="card h-100">
            <div class="card-header card-header-title">
                <div class="row">
                    <div class="col-sm-8">
                        TOP REVENUE PROJECTS
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="b-select-wrap ">
                                <select
                                    class="form-control b-select"
                                    name="topRevenueList"
                                    [(ngModel)]="revenueTopFilterOption"
                                    (change)="revenueFilterChange(revenueTopFilterOption)"
                                >
                                    <option value="" selected>Select option</option>
                                    <option *ngFor="let i of topRevenueMenu" [value]="i.name">{{ i.name }} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row custom-list-icon">
                    <div class="col-md-6" *ngFor="let i of topRevenueProject">
                        <a class="project" [routerLink]="['', 'projects', 'summary', i.projId]">
                            <p>
                                <i class="icon mobileum-list-icon"></i>{{ i.projectName }}
                                <span *ngIf="i.amount">({{ i.amount | currency: 'USD' }})</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!--<div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header card-header-title">
        KPI REPORTS
      </div>
      <div class="card-body">
        <div class="row billing-custom">
          <div class="col-md-6">
            <p><i class="icon mobileum-list-icon"></i>Quarterly revenue target</p>
            <p><i class="icon mobileum-list-icon"></i>PSO costs (Internal tracking KRA)</p>
            <p><i class="icon mobileum-list-icon"></i>Schedule variance</p>
            <p><i class="icon mobileum-list-icon"></i>Effort Variance</p>
            <p><i class="icon mobileum-list-icon"></i>Utilization</p>
            <p><i class="icon mobileum-list-icon"></i>Total Revenue Target (Year)</p>
            <p><i class="icon mobileum-list-icon"></i>Total Billing Target (Year)</p>
            <p><i class="icon mobileum-list-icon"></i>Conversion of Backlog - For Billing</p>
            <p><i class="icon mobileum-list-icon"></i>Conversion of Backlog - For Revenue</p>
          </div>
          <div class="col-md-6">
            <p><i class="icon mobileum-list-icon"></i>Conversion of backlog – for revenue</p>
            <p>
              <i class="icon mobileum-list-icon"></i>Conversion of billing from booking in
              the same  quarter
            </p>
            <p><i class="icon mobileum-list-icon"></i> Handling of Legacy projects</p>
            <p>
              <i class="icon mobileum-list-icon"></i>Adherence to process + compliance to
              Tier-1 processes for all projects commencing execution in FY19
            </p>
            <p><i class="icon mobileum-list-icon"></i>Quality of handover and inputs</p>
            <p><i class="icon mobileum-list-icon"></i>FA Tracking</p>
            <p><i class="icon mobileum-list-icon"></i> Automation</p>
          </div>
        </div>
      </div>
    </div>
  </div>-->
    <!--<div class="col-xl-6 col-lg-12 mb-4">
        <div class="card">
            <div class="card-header card-header-title">
                REPORTS
            </div>
            <div class="card-body">
                <div class="row custom-list-icon">
                    <div class="col-md-6">
                        <p><i class="icon mobileum-list-icon"></i>Software Dependencies</p>
                    </div>
                    <div class="col-md-6">
                        <p><i class="icon mobileum-list-icon"></i>Risk - Billing & Revenue</p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
