<!-- DataTables Example -->
<h4 class="page-title">Entity Company Code</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">
            Entity Company Code
        </span>
        <div class="float-right text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="createEntityCompanyModal()">
                Add Entity Company Code
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Entity Company Code</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="entityList?.length != 0">
                    <tr *ngFor="let entity of entityList; let i = index">
                        <td>{{ pageLength * pageIndex + i + 1 }}</td>
                        <td>{{ entity.entityCode }}</td>
                        <td>{{ entity.entityCreatedDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ entity.entityUpdatedDate | date: 'dd-MM-yyyy' }}</td>
                        <td class="teentityt-center">
                            <!--<a [routerLink]="['', 'projects', 'summary', '123']">
                <img src="../../../../assets/images/view-icon.png" class="img-fluid">
              </a>-->
                            <a (click)="editEntityCompanyModal(entity)" href="javascript:void(0);">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a (click)="deleteEntityCompanyModal(entity)" href="javascript:void(0);">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="entityList?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
