<nav class="navbar navbar-expand static-top">
    <a class="navbar-brand mr-1" [routerLink]="['', 'dashboard']">
        <img src="../../../../assets/images/mobileum-logo.png" alt="Logo" />
    </a>
    <button class="btn btn-link btn-sm text-white" id="sidebarToggle">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Navbar -->

    <ul class="navbar-nav  ml-auto">
        <li [hidden]="regionList?.length <= 1">
            <ng-select
                #regionSelect
                [items]="regionList"
                bindLabel="reg_name"
                [multiple]="true"
                placeholder="Select Region"
                [(ngModel)]="regions"
                id="region-name"
                (change)="regionChanged($event)"
                (click)="maxSelection(regions)"
                [maxSelectedItems]="5"
            >
            </ng-select>
            <!--<p class="alert alert-warning" *ngIf="regions.length === 5 && regionSelect.focused">
            <small>Max selection reached</small>
          </p>-->
        </li>
        <li class="nav-item dropdown no-arrow">
            <a
                class="nav-link dropdown-toggle"
                id="userDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                (click)="logout()"
            >
                <i class="fas fa fa-sign-out" aria-hidden="true" style="cursor: pointer"></i>
            </a>
        </li>
    </ul>
</nav>
