<div class="row align-items-center">
    <div class="col-6">
        <h4 class="page-title">Revenue Backlog</h4>
    </div>
    <div class="col-6">
        <div class="text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="redirectRevenueForecast()">Revenue Forecast</button>
        </div>
    </div>
</div>
<hr class="mt-0" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header card-header-title">
                    Backlog Summary <span class="updated-chart-text">(Updated {{ revenueBacklogPieTimestamp }} ago)</span>
                </div>
                <div class="card-body" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                    <div id="container-1">
                        <highcharts-chart
                            *ngIf="!showSummaryChartLoader && showSummaryChart"
                            [Highcharts]="Highcharts"
                            [options]="summaryChartOptions"
                            style="width: 100%; height: 400px; display: block;"
                            [oneToOne]="summaryoneToOneFlag"
                            [(update)]="updateSummaryViewChart"
                        ></highcharts-chart>
                        <p *ngIf="!showSummaryChartLoader && !showSummaryChart">No data</p>
                        <div *ngIf="showSummaryChartLoader" class="text-center graph-loader-css">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header card-header-title">
                    Conversion <span class="updated-chart-text"> (Updated {{ revenueBacklogConversionTimestamp }} ago)</span>
                </div>
                <div class="card-body" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                    <div class="graph-section">
                        <div class="historical-view-sec">
                            <div class="mt-2">
                                <mat-tab-group class="project-summery-details">
                                    <mat-tab label="Chart">
                                        <ng-template matTabContent>
                                            <div class="project-module-sec tab-content">
                                                <highcharts-chart
                                                    *ngIf="!showConversionLoader"
                                                    [Highcharts]="Highcharts"
                                                    [options]="conversionChartOptions"
                                                    style="width: 100%; height: 400px; display: block;"
                                                    [(update)]="updateConversionChart"
                                                    [oneToOne]="conversiononeToOneFlag"
                                                ></highcharts-chart>
                                                <div *ngIf="showConversionLoader" class="text-center graph-loader-css">
                                                    <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </mat-tab>
                                    <mat-tab label="Table">
                                        <ng-template matTabContent>
                                            <div class="project-module-sec tab-content" style="padding-top:20px ">
                                                <div class="mb-3 mr-1">
                                                    <div class="text-right">
                                                        <button
                                                            type="button"
                                                            class="btn btn-sm filled-btn btn-filled-no-hover"
                                                            (click)="
                                                                chartExportService.export(
                                                                    'revenue-backlog-conversion',
                                                                    'Revenue Backlog Conversion'
                                                                )
                                                            "
                                                        >
                                                            <i class="icon excel-icon"></i> Export Excel
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="table-responsive gatepass-table">
                                                    <table
                                                        class="table table-bordered"
                                                        width="100%"
                                                        cellspacing="0"
                                                        id="revenue-backlog-conversion"
                                                    >
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th *ngFor="let i of conversionCategoryList">{{ i }}</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let i of conversionList; let index = index">
                                                                <td>{{ i.name }}</td>
                                                                <td *ngFor="let j of conversionCategoryList; let subindex = index">
                                                                    {{ i.data[subindex] | currency: 'USD' }}
                                                                </td>
                                                                <td>{{ i.data[i.data.length - 1] | currency: 'USD' }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header card-header-title">
            <div class="row">
                <div class="col-3 no-padding">Dependencies</div>
            </div>
        </div>
        <div class="card-body">
            <div class="graph-section">
                <div class="historical-view-sec">
                    <div class="mt-2">
                        <mat-tab-group class="project-summery-details">
                            <mat-tab label="Chart">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content">
                                        <highcharts-chart
                                            *ngIf="!showDependencyLoader"
                                            [Highcharts]="Highcharts"
                                            [options]="dependenciesChartOptions"
                                            style="width: 100%; height: 400px; display: block;"
                                            [(update)]="updateDependenciesChart"
                                            [oneToOne]="dependenciesoneToOneFlag"
                                        ></highcharts-chart>
                                        <div *ngIf="showDependencyLoader" class="text-center graph-loader-css">
                                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Table">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content" style="padding-top: 20px ">
                                        <div class="mb-3 mr-1">
                                            <div class="text-right">
                                                <button
                                                    type="button"
                                                    class="btn btn-sm filled-btn btn-filled-no-hover"
                                                    (click)="
                                                        chartExportService.export(
                                                            'revenue-backlog-dependency',
                                                            'Revenue Backlog Dependency'
                                                        )
                                                    "
                                                >
                                                    <i class="icon excel-icon"></i> Export Excel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="table-responsive gatepass-table">
                                            <table
                                                class="table table-bordered"
                                                width="100%"
                                                cellspacing="0"
                                                id="revenue-backlog-dependency"
                                            >
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th *ngFor="let i of dependenciesCategoryList">{{ i }}</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let i of dependenciesList; let index = index">
                                                        <td>{{ i.name }}</td>
                                                        <td *ngFor="let j of dependenciesCategoryList; let subindex = index">
                                                            {{ i.data[subindex] | currency: 'USD' }}
                                                        </td>
                                                        <td>{{ i.data[i.data.length - 1] | currency: 'USD' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
