<!-- DataTables Example -->
<h4 class="page-title">Project Type</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">
            Project Type
        </span>
        <div class="float-right text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="addProjectType()">Add New Project Type</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>Project Type Name</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="projectTypeList?.length != 0">
                    <tr *ngFor="let x of projectTypeList; let index = index">
                        <td>{{ pageLength * pageIndex + index + 1 }}</td>
                        <td>{{ x.projType }}</td>
                        <td>{{ x.projCreatedDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.projUpdatedDate | date: 'dd-MM-yyyy' }}</td>
                        <td class="text-center">
                            <!--<a [routerLink]="['', 'projects', 'summary', '123']">
                <img src="../../../../assets/images/view-icon.png" class="img-fluid">
              </a>-->
                            <a (click)="editProjectType(x)" href="javascript:void(0)">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a (click)="openDeletePopup(x.projTypeId)" href="javascript:void(0)">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="projectTypeList?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #editprojecttype="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="projectTypeForm" (ngSubmit)="addUpdateProjectType()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{ projTypeId.value ? 'Edit Project Type' : 'Add New Project Type' }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelProjectType()">
                        <i class="icon close-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto">
                        <div class="form-group row mt-3 mb-4">
                            <label class="col-md-4 col-form-label" for="project-type">
                                <span class="asteriskField">
                                    Project Type Name : *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="projType"
                                    id="project-type"
                                    placeholder="Project Type"
                                    [ngClass]="{
                                        'has-danger': projType.invalid && (projType.dirty || projType.touched || isFormSubmitted),
                                        'has-success': projType.valid && (projType.dirty || projType.touched)
                                    }"
                                />
                                <div class="error" *ngIf="projType.errors && (projType.dirty || projType.touched || isFormSubmitted)">
                                    <span *ngIf="projType.errors.required">Project Type is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelProjectType()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete Project Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <i class="icon close-icon"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteProjectType()">delete</button>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
