<h4 class="page-title">Revenue</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row align-items-center">
            <div class="col-5">
                Historical View LOB <span class="updated-chart-text">(Updated {{ revenueLobTimeStamp }} ago)</span>
            </div>
            <div class="col-7">
                <div class="text-right">
                    <!--<button class="view-buttons" type="button">Download</button>-->
                    <button class="btn btn-sm filled-btn" type="button" (click)="RedirectRevenueForecast()">Revenue Forecast</button>
                    <button class="btn btn-sm filled-btn" type="button" (click)="RedirectRevenueBacklog()">Backlog</button>
                </div>
            </div>
            <div class="w-150 ml-3">
                <select class="form-control" [(ngModel)]="selectedYear" name="selectedYear" (change)="selectedYearOnChange(selectedYear)">
                    <option *ngFor="let i of yearList" [value]="i.id">{{ i.value }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="graph-section">
        <div class="historical-view-sec">
            <div class="mt-2">
                <mat-tab-group class="project-summery-details">
                    <mat-tab label="Chart">
                        <ng-template matTabContent>
                            <div class="project-module-sec tab-content">
                                <highcharts-chart
                                    *ngIf="!showRevenueReportDashboardTwoLoader"
                                    [Highcharts]="Highcharts"
                                    [options]="billingReportDashboardSecondOptions"
                                    style="width: 100%; height: 400px; display: block;"
                                    [oneToOne]="secondDashboardoneToOneFlag"
                                    [(update)]="updatebillingReportDashboardSecondViewChart"
                                ></highcharts-chart>
                                <div *ngIf="showRevenueReportDashboardTwoLoader" class="text-center graph-loader-css">
                                    <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Table">
                        <ng-template matTabContent>
                            <div class="project-module-sec tab-content" style="padding-top:20px ">
                                <div class="mb-3 mr-1">
                                    <div class="text-right">
                                        <button
                                            type="button"
                                            class="btn btn-sm filled-btn btn-filled-no-hover"
                                            (click)="chartExportService.export('revenue-history-lob', 'Revenue History Lob')"
                                        >
                                            <i class="icon excel-icon"></i> Export Excel
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive gatepass-table">
                                    <table class="table table-bordered" width="100%" cellspacing="0" id="revenue-history-lob">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="3" class="text-center">Q1</th>
                                                <th colspan="3" class="text-center">Q2</th>
                                                <th colspan="3" class="text-center">Q3</th>
                                                <th colspan="3" class="text-center">Q4</th>
                                                <th class="text-center">Total</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th *ngFor="let i of monthList">{{ i }}</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let i of billingDashboardSecondList; let index = index">
                                            <tr>
                                                <td>{{ i.name }}</td>
                                                <td *ngFor="let sub of i.data">{{ sub | currency: 'USD' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row">
            <div class="col-6 no-padding">
                Revenue Report Dashboard <span class="updated-chart-text">(Updated {{ revenueHistoryDashboardTimestamp }} ago)</span>
            </div>
            <!--<div class="col-9 no-padding">
        <div class="float-right">
          <button class="view-buttons" type="button">Download</button>
        </div>
      </div>-->
        </div>
    </div>
    <div class="card-body">
        <div class="graph-section">
            <div class="historical-view-sec">
                <div class="mt-2">
                    <mat-tab-group class="project-summery-details">
                        <mat-tab label="Chart">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content">
                                    <highcharts-chart
                                        [Highcharts]="Highcharts"
                                        *ngIf="!showRevenueReportDashboardOneLoader"
                                        [options]="billingReportDashboardOneOptions"
                                        style="width: 100%; height: 400px; display: block;"
                                        [oneToOne]="oneDashboardoneToOneFlag"
                                        [(update)]="updatebillingReportDashboardOneViewChart"
                                    ></highcharts-chart>
                                    <div *ngIf="showRevenueReportDashboardOneLoader" class="text-center graph-loader-css">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Table">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content" style="padding-top:20px ">
                                    <div class="mb-3 mr-1">
                                        <div class="text-right">
                                            <button
                                                type="button"
                                                class="btn btn-sm filled-btn btn-filled-no-hover"
                                                (click)="
                                                    chartExportService.export('revenue-history-dashboard', 'Revenue History View Dashboard')
                                                "
                                            >
                                                <i class="icon excel-icon"></i> Export Excel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive gatepass-table">
                                        <table class="table table-bordered" width="100%" cellspacing="0" id="revenue-history-dashboard">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="3" class="text-center">Q1</th>
                                                    <th colspan="3" class="text-center">Q2</th>
                                                    <th colspan="3" class="text-center">Q3</th>
                                                    <th colspan="3" class="text-center">Q4</th>
                                                    <th class="text-center">Total</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th *ngFor="let i of monthList">{{ i }}</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let i of billingDashboardOneList; let index = index">
                                                <tr>
                                                    <td>{{ i.name }}</td>
                                                    <td *ngFor="let sub of i.data">{{ sub | currency: 'USD' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row align-items-center">
            <div class="col-6">
                Historical View <span class="updated-chart-text">(Updated {{ revenueHistoryViewTimestamp }} ago)</span>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="graph-section">
            <div class="historical-view-sec">
                <div class="mt-3">
                    <mat-tab-group class="project-summery-details">
                        <mat-tab label="Chart">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content">
                                    <highcharts-chart
                                        *ngIf="!showHistoryChartLoader"
                                        [Highcharts]="Highcharts"
                                        [options]="historyChartOptions"
                                        style="width: 100%; height: 400px; display: block;"
                                        [oneToOne]="historyoneToOneFlag"
                                        [(update)]="updateHistoricalViewChart"
                                    ></highcharts-chart>
                                    <div *ngIf="showHistoryChartLoader" class="text-center graph-loader-css">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Table">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content" style="padding-top:20px ">
                                    <div class="mb-3 mr-1">
                                        <div class="text-right">
                                            <button
                                                type="button"
                                                class="btn btn-sm filled-btn btn-filled-no-hover"
                                                (click)="chartExportService.export('revenue-history-view', 'Revenue History View')"
                                            >
                                                <i class="icon excel-icon"></i> Export Excel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive gatepass-table">
                                        <table class="table table-bordered" width="100%" cellspacing="0" id="revenue-history-view">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="3" class="text-center">Q1</th>
                                                    <th colspan="3" class="text-center">Q2</th>
                                                    <th colspan="3" class="text-center">Q3</th>
                                                    <th colspan="3" class="text-center">Q4</th>
                                                    <th class="text-center">Total</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th *ngFor="let i of monthList">{{ i }}</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let i of billingHistoryList; let index = index">
                                                <tr>
                                                    <td>{{ i.name }}</td>
                                                    <td *ngFor="let sub of i.data">{{ sub | currency: 'USD' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row">
            <div class="col-6 no-padding">
                Revenue Recurring<span class="updated-chart-text">(Updated {{ revenueRecuringTimestamp }} ago)</span>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="graph-section">
            <div class="col-12 historical-view-sec">
                <div class="mt-5">
                    <mat-tab-group class="project-summery-details">
                        <mat-tab label="Chart">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content">
                                    <highcharts-chart
                                        [Highcharts]="Highcharts"
                                        [options]="reccuringChartOptions"
                                        style="width: 100%; height: 400px; display: block;"
                                        [oneToOne]="reccuringoneToOneFlag"
                                        [(update)]="updateReccuringViewChart"
                                    ></highcharts-chart>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Table">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content" style="padding-top:30px ">
                                    <div class="table-responsive gatepass-table">
                                        <table class="table table-bordered" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="3" class="text-center">Q1</th>
                                                    <th colspan="3" class="text-center">Q2</th>
                                                    <th colspan="3" class="text-center">Q3</th>
                                                    <th colspan="3" class="text-center">Q4</th>
                                                    <th class="text-center">Total</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th *ngFor="let i of monthList">{{ i }}</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let i of billingReccuringList; let index = index">
                                                <tr>
                                                    <td>{{ i.name }}</td>
                                                    <td *ngFor="let sub of i.data">{{ sub | currency: 'USD' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>
