.reset-password-sec {
    max-width: 500px;
    margin: auto;
}
html,
body {
    height: 100%;
}
.home-banner {
    background-image: url(../../../../assets/images/login-bg.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    text-align: center;
    align-items: center;
}
.reset-password-sec {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.card {
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid #707070;
    padding: 62px 80px;
}
.reset-password-sec .card-body img {
    margin-bottom: 35px;
}
.reset-password-sec .card-body p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #17252a;
    margin-bottom: 30px;
}
.reset-password-sec .form-group label {
    float: left;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}
.reset-password-sec .form-group .form-control {
    background: #ffffff;
    border: 1px solid #6f97a8;
    border-radius: 5px;
    padding: 24px 20px;
}

.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: '';
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}
.chiller_cb input {
    display: none;
}
.chiller_cb input:checked ~ span {
    background: #6f97a8;
    border-color: #6f97a8;
    border-radius: 2px;
}
.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
    background: #ececec;
    border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
    color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
    cursor: default;
}
.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
    text-transform: lowercase !important;
}
.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}
.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}
.reset-password-sec .form-group .chiller_cb {
    margin-top: 25px;
}
.reset-password-sec .sign-in-button {
    width: 100%;
    background: linear-gradient(to right, #365661, #6f97a8);
    font-size: 14px;
    color: #ffffff;
    line-height: 23px;
    border: none;
    border-radius: 30px;
    padding: 11px 0;
}
