<div class="modal-header">
    <h4 class="modal-title">Reset Password</h4>
</div>
<div class="modal-body">
    <div class="reset-password-sec">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="resetForm" (ngSubmit)="reset()">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Old Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="formGroupExampleInput"
                            formControlName="currPassword"
                            placeholder="Old Password"
                            [ngClass]="{
                                'has-danger': currPassword.invalid && (currPassword.dirty || currPassword.touched || isFormSubmitted),
                                'has-success': currPassword.valid && (currPassword.dirty || currPassword.touched)
                            }"
                        />
                        <div class="error" *ngIf="currPassword.errors && (currPassword.dirty || currPassword.touched || isFormSubmitted)">
                            <span *ngIf="currPassword.errors.required">Old password is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">New Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="formGroupExampleInput2"
                            placeholder="New Password"
                            formControlName="password"
                            [ngClass]="{
                                'has-danger': password.invalid && (password.dirty || password.touched || isFormSubmitted),
                                'has-success': password.valid && (password.dirty || password.touched)
                            }"
                            (keyup)="resetPassword.updateValueAndValidity()"
                        />
                        <div class="error" *ngIf="password.errors && (password.dirty || password.touched || isFormSubmitted)">
                            <span class="error" *ngIf="password.errors.required">New Password is required</span>
                            <span class="error" *ngIf="password.errors.minlength">
                                Password minimum should be 8 characters long, we need another
                                {{ password.errors.minlength.requiredLength - password.errors.minlength.actualLength }}
                                characters
                            </span>
                            <span class="error" *ngIf="!password.errors.minlength && password.errors.pattern">
                                Password must contain (One Capital Letter, One Number and One Special Character)
                            </span>
                            <span class="error" *ngIf="password.errors.maxlength">Password maximum should be 32 characters long</span>
                        </div>
                        <div class="error" *ngIf="password.dirty || password.touched || isFormSubmitted">
                            <span class="error" *ngIf="currPassword.value === password.value"
                                >Please enter new password.(Old password and new password should not be same)
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput3">Confirm Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="formGroupExampleInput3"
                            formControlName="resetPassword"
                            placeholder="Confirm Password"
                            appPasswordMatching="password"
                            [ngClass]="{
                                'has-danger': resetPassword.invalid && (resetPassword.dirty || resetPassword.touched || isFormSubmitted),
                                'has-success': resetPassword.valid && (resetPassword.dirty || resetPassword.touched)
                            }"
                        />
                        <div
                            class="error"
                            *ngIf="resetPassword.errors && (resetPassword.dirty || resetPassword.touched || isFormSubmitted)"
                        >
                            <span class="error" *ngIf="resetPassword.errors.required">Confirm password is required</span>
                            <span class="error" *ngIf="!resetPassword.errors.notEqual && resetPassword.errors.pattern">
                                Confirm Password must contain (One Capital Letter, One Number and One Special Character)
                            </span>
                            <span class="error" *ngIf="!resetPassword.errors.required && resetPassword.errors.notEqual">
                                Password not matched
                            </span>
                            <span class="error" *ngIf="resetPassword.errors.maxlength">
                                Confirm Password maximum should be 32 characters long
                            </span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="sign-in-button">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
