<h4 class="page-title">STATUS APPROVAL</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        PROJECTS
    </div>
    <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
        <div class="row">
            <div class="card-body">
                <div class="table-responsive gatepass-table">
                    <table
                        datatable
                        [dtTrigger]="dtTrigger"
                        [dtOptions]="dtOptions"
                        style="width: 100%"
                        class="table table-bordered dataTable"
                        #db
                        id="example"
                    >
                        <thead>
                            <tr>
                                <th>Key Milestone</th>
                                <th>Original Start Date</th>
                                <th>Actual Date</th>
                                <th>Ageing/Delays</th>
                                <th>Billing Amount</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="approvalProjectList?.length != 0">
                            <tr *ngFor="let al of approvalProjectList; let index = index">
                                <td>{{ al.bmMilestoneName }}</td>
                                <td>{{ al.bmMsStartDate | date: 'dd-MM-yyyy' }}</td>
                                <td>{{ (al.bmMsEndDate ? al.bmMsEndDate : al.bmActualDate) | date: 'dd-MM-yyyy' }}</td>
                                <td class="text-danger">
                                    {{ getDelayInWeeks(al.bmMsStartDate, al.bmMsEndDate) === 0 ? '' : '-'
                                    }}{{ getDelayInWeeks(al.bmMsStartDate, al.bmMsEndDate) }}
                                </td>
                                <td>{{ al.bmAmount | currency: 'USD' }}</td>
                                <td class="text-center">
                                    <a>
                                        <img
                                            src="../../../../assets/images/view-icon.png"
                                            class="img-fluid action-icon"
                                            (click)="openViewMsModal(al)"
                                        />&nbsp;&nbsp;
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="approvalProjectList?.length == 0">
                            <tr>
                                <td colspan="6" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
