table {
    width: 100% !important;
}

/*/deep/ .dataTables_wrapper {
  margin-bottom: 10% !important;
}*/

/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
}

table.table-bordered.dataTable th {
    border-left-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
}
