<div class="card-body">
    <button type="button" class="btn btn-sm filled-btn float-right mt-0" (click)="openEditProjectModal()">Edit</button>
    <div class="row">
        <div class="col-md-6">
            <table class="table project-table">
                <tbody>
                    <tr>
                        <td class="font-weight-semibold">Project Code</td>
                        <td>: {{ projectDetails?.projectCode }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Opp ID</td>
                        <td>: {{ projectDetails?.oppId }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Opp Type</td>
                        <td>: {{ projectDetails?.oppType }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Opp Status</td>
                        <td>: {{ projectDetails?.oppStatus }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Opp Probability(%)</td>
                        <td>: {{ projectDetails?.probability }}</td>
                    </tr>

                    <tr *ngIf="projectDetails?.dealType">
                        <td class="font-weight-semibold">Deal Type</td>
                        <td>: {{ projectDetails?.dealType }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Region</td>
                        <td>: {{ projectDetails?.region }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Amount</td>
                        <td>: {{ projectDetails?.amountUSD | currency: 'USD' }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Conversion Type</td>
                        <td>: {{ projectDetails?.conversionType }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Deal Margin</td>
                        <td>: {{ projectDetails?.dealMargin }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Deal Warranty</td>
                        <td>: {{ projectDetails?.dealWarranty }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Deal Warranty Start Date</td>
                        <td>: {{ projectDetails?.dealWarrantyStartDate | date: 'dd-MM-yyyy' }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Deal Year</td>
                        <td>: {{ projectDetails?.dealYear }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table project-table">
                <tbody>
                    <tr>
                        <td class="font-weight-semibold">Start Date</td>
                        <td>: {{ projectDetails?.startDate | date: 'dd-MM-yyyy' }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">End Date</td>
                        <td>: {{ projectDetails?.endDate | date: 'dd-MM-yyyy' }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">FA Date</td>
                        <td>: {{ projectDetails?.faDate | date: 'dd-MM-yyyy' }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Uat Date</td>
                        <td>: {{ projectDetails?.uatDate | date: 'dd-MM-yyyy' }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">General Manager</td>
                        <td>: {{ projectDetails?.gmName | titlecase }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Account Manager</td>
                        <td>: {{ projectDetails?.accMName | titlecase }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Technical Account Manager</td>
                        <td>: {{ projectDetails?.tamName | titlecase }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Entity Company Code</td>
                        <td>: {{ projectDetails?.entityCompanyCode }}</td>
                    </tr>

                    <tr>
                        <td class="font-weight-semibold">Revenue Profile</td>
                        <td>: {{ projectDetails?.revenueProfileName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h5 class="mt-1">Line Of Business</h5>
            <table class="table project-table">
                <!--<thead>
            <tr>
                <th class="lob-header">Lob Name</th>
                <th class="lob-header">Lob Value</th>
            </tr>
        </thead>-->
                <tbody>
                    <tr *ngFor="let lob of projectDetails?.lob">
                        <td class="font-weight-semibold">{{ lob?.lobName }}</td>
                        <td>{{ (lob?.lobValue ? lob.lobValue : 0) | currency: 'USD' }}</td>
                    </tr>
                </tbody>
            </table>
            <div></div>
        </div>
    </div>
</div>
