<h4 class="page-title">REPORTS</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        Rag Billing Green Report
    </div>

    <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
        <div class="mb-4">
            <!--
            <div class="w-150 float-left">
                <select
                    class="form-control"
                    [(ngModel)]="selectedYear"
                    name="selectedYear"
                    (change)="selectedYearOnChange(selectedYear)"
                    title=""
                >
                    <option value="">Select Year</option>

                    <option *ngFor="let i of yearList" [value]="i.id">{{ i.value }}</option>
                </select>
            </div>
-->
            <div class="">
                <div class="text-right">
                    <button
                        type="button"
                        class="btn btn-sm filled-btn btn-filled-no-hover"
                        (click)="export()"
                        [disabled]="ragBillinRed?.length === 0"
                    >
                        <i class="icon excel-icon"></i> Export Excel
                    </button>
                </div>
            </div>
        </div>
        <!--<button type="button" class="project-summery-button" (click)="viewHistory()">
view
history
</button>-->
        <div class="table-responsive gatepass-table revenue-backlog-parent-table mt-5">
            <!--
            <div class="custom-search-filter">
              <div class="input-group">
                <label for="search-input" class="pt-1">Search: </label>
                <input
                  type="text"
                  id="search-input"
                  style="height: inherit"
                  [(ngModel)]="searchData"
                  class="form-control search-input"
                  aria-label="Amount (to the nearest dollar)"
                />
                <div class="input-group-append">
                              <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                              ><i class="fa fa-search" aria-hidden="true"></i
                              ></span>
                  <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                  ><i class="fa fa-refresh" aria-hidden="true"></i
                  ></span>
                </div>
              </div>
            </div>
      -->
            <!--table-->
            <table
                id="first-table example"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                #db
                class="table table-bordered billing-backlog-table"
            >
                <thead>
                    <tr>
                        <th class="opp-id" style="border-left: 1px solid #dee2e6 !important;">OPP NAME</th>
                        <th>OPP ID</th>
                        <th>PROJECT CODE</th>
                        <th>BOOKING CURRENCY</th>
                        <th>BOOKING AMOUNT(USD)</th>
                        <th>EXCHANGE AMOUNT</th>
                        <th>BOOKING AMOUNT USD</th>
                        <th>BOOKING DATE</th>
                        <th>BOOKING QTR</th>
                        <th>BOOKING YEAR</th>
                        <th>START DATE</th>
                        <th>END DATE</th>
                        <th>DEAL WARRANTY</th>
                        <th>MNT START DATE</th>
                        <th>MNT END DATE</th>
                        <th>FA DATE</th>
                        <th>REGION</th>
                        <th>CUSTOMER NAME</th>
                        <th>OPP TYPE</th>
                        <th>DEAL TYPE</th>
                        <th>CONVERSION TYPE</th>
                        <th>PROBABILITY</th>
                        <th>OPP STATUS</th>
                        <th>WARRANTY START DATE</th>
                        <th>ROLL UP</th>
                        <th>ENTITY COMPANY CODE</th>
                        <th>REVENUE PROFILE</th>
                        <th>REVENUE PROFILE CASH</th>
                        <th>PROJECT BOOKING AMOUNT</th>
                        <th>MNT BOOKING AMOUNT</th>
                        <th>CURRENT QTR BILLING AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of ragBillinRed">
                        <td>{{ b.Opportunity_Name }}</td>
                        <td>{{ b.Opportunity_ID }}</td>
                        <td>{{ b.Project_Code }}</td>
                        <td>{{ b.Booking_Currency }}</td>
                        <td>{{ b.Booking_Amount_USD | currency: 'USD' }}</td>
                        <td>{{ b.Exchange_Amount }}</td>
                        <td>{{ b.Booking_Amount_USD | currency: 'USD' }}</td>
                        <td>{{ b.Booking_Date | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ b.Booking_Quater ? 'Q' + b.Booking_Quater : '--' }}</td>
                        <td>{{ b.Booking_Year }}</td>
                        <td>{{ b.Start_Date ? (b.Start_Date | date: 'dd-MM-yyyy') : '--' }}</td>
                        <td>{{ b.End_Date ? (b.End_Date | date: 'dd-MM-yyyy') : '--' }}</td>
                        <td>{{ b.Deal_Warranty }}</td>
                        <td>{{ b.MNT_Start_Date ? (b.MNT_Start_Date | date: 'dd-MM-yyyy') : '--' }}</td>
                        <td>{{ b.MNT_End_Date ? (b.MNT_End_Date | date: 'dd-MM-yyyy') : '--' }}</td>
                        <td>{{ b.FA_Date ? (b.FA_Date | date: 'dd-MM-yyyy') : '--' }}</td>
                        <td>{{ b.Region }}</td>
                        <td>{{ bCustomer_Name }}</td>
                        <td>{{ b.Opportunity_Type }}</td>
                        <td>{{ b.Deal_Type ? b.Deal_Type : '--' }}</td>
                        <td>{{ b.Conversion_Type ? b.Conversion_Type : '--' }}</td>
                        <td>{{ b.Probability }}</td>
                        <td>{{ b.Opportunity_Status }}</td>
                        <td>{{ b.Warranty_Start_Date ? (b.Warranty_Start_Date | date: 'dd-MM-yyyy') : '--' }}</td>
                        <td>{{ b.Roll_Up ? b.Roll_Up : '--' }}</td>
                        <td>{{ b.Entity_Company_Code }}</td>
                        <td>{{ b.Revenue_Profile ? b.Revenue_Profile : '--' }}</td>
                        <td>{{ b.Revenue_profile_cash }}</td>
                        <td>{{ b.Project_Booking_Amount }}</td>
                        <td>{{ b.MNT_Booking_Amount }}</td>
                        <td>{{ b.Current_Quater_Billing_Amount }}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="ragBillinRed?.length == 0">
                    <tr>
                        <td colspan="30" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
