<div id="Billing" class=" tab-pane active">
    <div class="card-body">
        <h2 class="table-title">Revenue Forecast</h2>
        <div class="text-right">
            <div class="uploadfile-btn" *ngIf="projectDetails.entityCompanyCode && projectDetails.entityCompanyCode !== 'MOBI'">
                <button type="button" class="btn btn-sm filled-btn btn-filled-no-hover">
                    <i class="icon import-icon mr-1"></i> Import Revenue Forecast
                </button>
                <input
                    type="file"
                    name="files"
                    class="import-file"
                    multiple
                    id="import-timelive"
                    accept=".xlsx"
                    (change)="importFile($event, 'import-timelive')"
                />
            </div>
            <div class="float-right mb-2 ml-2 sample-file-sec">
                <a
                    href="../../../../../assets/files/Import_Revenue_Forecast.xlsx"
                    download
                    class="btn btn-sm filled-btn"
                    title="Download excel format"
                >
                    Sample File
                </a>
            </div>
            <!-- <button type="button" class="project-summery-button" (click)="viewHistory()">view
  history</button> -->
        </div>
        <div class="table-responsive gatepass-table">
            <table class="table table-bordered timelive-table" cellspacing="0">
                <thead>
                    <tr>
                        <th>LOE</th>
                        <th>{{ currentQtr !== 1 ? 'Q1' : 'CURRENT QTR' }}</th>
                        <th>{{ currentQtr !== 2 ? 'Q2' : 'CURRENT QTR' }}</th>
                        <th>{{ currentQtr !== 3 ? 'Q3' : 'CURRENT QTR' }}</th>
                        <th>{{ currentQtr !== 4 ? 'Q4' : 'CURRENT QTR' }}</th>
                        <th>BALANCE</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>

                <tbody *ngIf="timeliveDataQtr && timeLiveData?.length > 0">
                    <tr>
                        <td>AMOUNT($)</td>
                        <td>
                            {{
                                (timeliveDataQtr.Q1.quater < currentQtr
                                    ? timeliveDataQtr.Q1.amountUsdActual
                                    : timeliveDataQtr.Q1.amountUsdForcasted) | currency: 'USD'
                            }}
                        </td>
                        <td>
                            {{
                                (timeliveDataQtr.Q2.quater < currentQtr
                                    ? timeliveDataQtr.Q2.amountUsdActual
                                    : timeliveDataQtr.Q2.amountUsdForcasted) | currency: 'USD'
                            }}
                        </td>
                        <td>
                            {{
                                (timeliveDataQtr.Q3.quater < currentQtr
                                    ? timeliveDataQtr.Q3.amountUsdActual
                                    : timeliveDataQtr.Q3.amountUsdForcasted) | currency: 'USD'
                            }}
                        </td>
                        <td>
                            {{
                                (timeliveDataQtr.Q4.quater < currentQtr
                                    ? timeliveDataQtr.Q4.amountUsdActual
                                    : timeliveDataQtr.Q4.amountUsdForcasted) | currency: 'USD'
                            }}
                        </td>
                        <td>{{ timeliveDataQtr.balance | currency: 'USD' }}</td>
                        <td>{{ timeliveDataQtr.total | currency: 'USD' }}</td>
                    </tr>
                    <tr>
                        <td>POC(%)</td>
                        <td>{{ timeliveDataQtr.Q1.percentage }}</td>
                        <td>{{ timeliveDataQtr.Q2.percentage }}</td>
                        <td>{{ timeliveDataQtr.Q3.percentage }}</td>
                        <td>{{ timeliveDataQtr.Q4.percentage }}</td>
                        <td>
                            {{
                                (timeliveDataQtr.balance === timeliveDataQtr.totalActual
                                    ? 0
                                    : timeliveDataQtr.balance / timeliveDataQtr.totalActual) * 100 | number: '1.2-2'
                            }}
                        </td>
                        <td>100</td>
                    </tr>
                </tbody>
                <tbody *ngIf="timeLiveData?.length === 0">
                    <tr>
                        <td colspan="7" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <h2 class="table-title float-left">
                MONTHLY
            </h2>
            <div class="text-right">
                <button type="button" (click)="submitMonthlyData()" class="btn btn-sm filled-btn" [disabled]="diasbleTimeliveMonthBtn">
                    Save
                </button>
                <button type="button" (click)="cancelMonthlyData()" class="btn btn-sm filled-btn" [disabled]="diasbleTimeliveMonthBtn">
                    Cancel
                </button>
            </div>
            <div class="table-responsive timelive-month-table-sec">
                <table style="width: 100%" class="table table-bordered  timelive-table-month" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="td-data">Month</th>
                            <th class="td-data">Year</th>
                            <th class="td-data">Forecasted Value</th>
                            <th class="td-data">Additional Amount</th>
                            <th class="td-data">Remarks</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="timeliveDataMonth?.length !== 0">
                        <tr *ngFor="let td of timeliveDataMonth; let i = index">
                            <td class="td-data">{{ months[td.month - 1] }}</td>
                            <td class="td-data">{{ td.year }}</td>
                            <td class="td-data" [ngClass]="td.amountUsdForcasted > 0 ? 'highlight-sec' : ''">
                                {{ td.amountUsdForcasted | currency: 'USD' }}
                            </td>
                            <td class="td-data">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input
                                        name="additionalAmount{{ i }}"
                                        step="2"
                                        type="number"
                                        title="additional-amount"
                                        class="form-control"
                                        style="height: inherit"
                                        [(ngModel)]="timeliveDataMonth[i].additionalAmount"
                                        (ngModelChange)="amountChanged($event)"
                                    />
                                </div>
                            </td>
                            <td class="td-data">
                                <input
                                    name="remarks{{ i }}"
                                    step="2"
                                    type="text"
                                    title="remarks"
                                    class="form-control"
                                    style="height: inherit"
                                    [(ngModel)]="timeliveDataMonth[i].remarks"
                                    (ngModelChange)="amountChanged($event)"
                                />
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="timeliveDataMonth?.length === 0">
                        <tr>
                            <td colspan="5" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <h2 class="table-title float-left">
                FORECASTED EFFORTS
            </h2>
            <div class="text-right">
                <button type="button" (click)="submitEffortData()" class="btn btn-sm filled-btn" [disabled]="disableTimeliveEffortBtn">
                    Save
                </button>
                <button type="button" (click)="cancelEffortData()" class="btn btn-sm filled-btn" [disabled]="disableTimeliveEffortBtn">
                    Cancel
                </button>
            </div>
            <div class="table-responsive timelive-effort-table-sec">
                <table style="width: 100%" class="table table-bordered  timelive-effort-table" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="td-data">Month</th>
                            <th class="td-data">Year</th>
                            <th class="td-data">Efforts</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="timeliveEffortData?.length !== 0">
                        <tr *ngFor="let tf of timeliveEffortData; let i = index">
                            <td class="td-data">{{ months[tf.month - 1] }}</td>
                            <td class="td-data">{{ tf.year }}</td>
                            <td class="td-data">
                                <div class="input-group mb-3">
                                    <input
                                        name="effort{{ i }}"
                                        step="2"
                                        type="number"
                                        title="effort"
                                        class="form-control"
                                        style="height: inherit"
                                        min="0"
                                        [(ngModel)]="timeliveEffortData[i].efforts"
                                        (ngModelChange)="effortChanged($event)"
                                        (keypress)="omitNegativeValues($event)"
                                    />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text days-text">Days</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="timeliveEffortData?.length === 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <h2 class="table-title float-left">
                Man-days
            </h2>
            <div class="table-responsive timelive-effort-table-sec">
                <table style="width: 100%" class="table table-bordered  timelive-effort-table" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="td-data">Month</th>
                            <th class="td-data">Year</th>
                            <th class="td-data">Man-days</th>
                            <th class="td-data">Difference</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="timeliveEffortData?.length !== 0">
                        <tr *ngFor="let tf of timeliveEffortData; let i = index">
                            <td class="td-data">{{ months[tf.month - 1] }}</td>
                            <td class="td-data">{{ tf.year }}</td>
                            <td class="td-data">
                                {{
                                    timeliveEffortData[i].manDays != null && timeliveEffortData[i].manDays != undefined
                                        ? timeliveEffortData[i].manDays
                                        : '--'
                                }}
                            </td>
                            <td>
                                {{
                                    timeliveEffortData[i].efforts != null &&
                                    timeliveEffortData[i].efforts != undefined &&
                                    (timeliveEffortData[i].manDays != null && timeliveEffortData[i].manDays != undefined)
                                        ? timeliveEffortData[i].efforts - timeliveEffortData[i].manDays
                                        : '--'
                                }}
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="timeliveEffortData?.length === 0">
                        <tr>
                            <td colspan="4" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
