<div class="row align-items-center">
    <div class="col-6">
        <h4 class="page-title">Revenue Forecast</h4>
    </div>
    <div class="col-6">
        <div class="text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="redirectToRevenueBacklog()">Backlog</button>
        </div>
    </div>
</div>
<hr class="mt-0" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header card-header-title">
                    Forecast <span class="updated-chart-text">(Updated {{ revenueForecastedBacklogPieTimestamp }} ago)</span>
                </div>
                <div class="card-body" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                    <div id="container-1">
                        <highcharts-chart
                            *ngIf="!showRevenuePieLoader && showRevenueForecastPie"
                            [Highcharts]="Highcharts"
                            [options]="forcastChartOptions"
                            style="width: 100%; height: 400px; display: block;"
                            [oneToOne]="forcastoneToOneFlag"
                            [(update)]="updateForcastViewChart"
                        ></highcharts-chart>
                        <p *ngIf="!showRevenuePieLoader && !showRevenueForecastPie">No data</p>
                        <div *ngIf="showRevenuePieLoader" class="text-center graph-loader-css">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header card-header-title">
                    Dependencies
                </div>
                <div class="card-body" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                    <div id="container-1">
                        <highcharts-chart
                            *ngIf="!showDependencyLoader && showRevenueForecastDependencyPie"
                            [Highcharts]="Highcharts"
                            [options]="dependencyChartOptions"
                            style="width: 100%; height: 400px; display: block;"
                            [oneToOne]="dependencyoneToOneFlag"
                            [(update)]="updateDependencyViewChart"
                        ></highcharts-chart>
                        <p *ngIf="!showDependencyLoader && !showRevenueForecastDependencyPie">No data</p>
                        <div *ngIf="showDependencyLoader" class="text-center graph-loader-css">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header card-header-title">
                RAG
            </div>
            <div class="card-body" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                <div id="container-1">
                    <highcharts-chart [Highcharts]="Highcharts"
                          [options]="dependencyChartOptions"
                          style="width: 100%; height: 400px; display: block;"
                          [oneToOne]="dependencyoneToOneFlag"
                          [(update)]="updateDependencyViewChart"></highcharts-chart>
                </div>
            </div>
        </div>
    </div>-->
    </div>

    <div class="card mb-4">
        <div class="card-header card-header-title">
            <div class="row">
                <div class="col-6 no-padding">
                    Line Of Business<span class="updated-chart-text">(Updated {{ revenueForecastedLobTimestamp }} ago)</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="graph-section">
                <div class="historical-view-sec">
                    <div class="mt-2">
                        <mat-tab-group class="project-summery-details">
                            <mat-tab label="Chart">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content">
                                        <highcharts-chart
                                            *ngIf="!showRevenueLobLoader"
                                            [Highcharts]="Highcharts"
                                            [options]="lobChartOptions"
                                            style="width: 100%; height: 400px; display: block;"
                                            [oneToOne]="loboneToOneFlag"
                                            [(update)]="updateLOBViewChart"
                                        ></highcharts-chart>
                                        <div *ngIf="showRevenueLobLoader" class="text-center graph-loader-css">
                                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Table">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content" style="padding-top:20px ">
                                        <div class="mb-3 mr-1">
                                            <div class="text-right">
                                                <button
                                                    type="button"
                                                    class="btn btn-sm filled-btn btn-filled-no-hover"
                                                    (click)="chartExportService.export('revenue-forecast-lob', 'Revenue Forecast Lob')"
                                                >
                                                    <i class="icon excel-icon"></i> Export Excel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="table-responsive gatepass-table">
                                            <table class="table table-bordered" width="100%" cellspacing="0" id="revenue-forecast-lob">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th *ngFor="let i of revenueLOBCategoryList">{{ i }}</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let i of revenueLOBList; let index = index">
                                                        <td>{{ i.name }}</td>
                                                        <td *ngFor="let j of revenueLOBCategoryList; let subindex = index">
                                                            {{ i.data[subindex] | currency: 'USD' }}
                                                        </td>
                                                        <td>{{ i.data[i.data.length - 1] | currency: 'USD' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header card-header-title">
            <div class="row">
                <div class="col-6 no-padding">
                    Revenue Profile <span class="updated-chart-text">(Updated {{ revenueForecastRevPofileTimestamp }} ago)</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="graph-section">
                <div class="historical-view-sec">
                    <div class="mt-2">
                        <mat-tab-group class="project-summery-details">
                            <mat-tab label="Chart">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content">
                                        <highcharts-chart
                                            *ngIf="!showRevenueProfileLoader"
                                            [Highcharts]="Highcharts"
                                            [options]="profileChartOptions"
                                            style="width: 100%; height: 400px; display: block;"
                                            [oneToOne]="profileoneToOneFlag"
                                            [(update)]="updateProfileViewChart"
                                        ></highcharts-chart>
                                        <div *ngIf="showRevenueProfileLoader" class="text-center graph-loader-css">
                                            <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Table">
                                <ng-template matTabContent>
                                    <div class="project-module-sec tab-content" style="padding-top:30px ">
                                        <div class="mb-3 mr-1">
                                            <div class="text-right">
                                                <button
                                                    type="button"
                                                    class="btn btn-sm filled-btn btn-filled-no-hover"
                                                    (click)="
                                                        chartExportService.export('revenue-forecast-profile', 'Revenue Forecast Profile')
                                                    "
                                                >
                                                    <i class="icon excel-icon"></i> Export Excel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="table-responsive gatepass-table">
                                            <table class="table table-bordered" width="100%" cellspacing="0" id="revenue-forecast-profile">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th *ngFor="let i of revenueProfileCategoryList">{{ i }}</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let i of revenueProfileList; let index = index">
                                                        <td>{{ i.name }}</td>
                                                        <td *ngFor="let j of revenueProfileCategoryList; let subindex = index">
                                                            {{ i.data[subindex] | currency: 'USD' }}
                                                        </td>
                                                        <td>{{ i.data[i.data.length - 1] | currency: 'USD' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
