<div id="Billing" class=" tab-pane active">
    <div class="card-body">
        <h2 class="table-title float-left">Forecasted Deal distribution</h2>
        <div class="text-right">
            <button
                type="button"
                *appHasRole="'DEAL DISTRIBUTION-CREATE'"
                class="btn btn-sm filled-btn"
                (click)="addDealDistribution()"
                [disabled]="projectDetails?.amountUSD === 0"
            >
                Add Deal Distribution
            </button>

            <button
                type="button"
                class="btn btn-sm filled-btn"
                (click)="FinalizeDealDistribution(1)"
                *ngIf="dealDistributionMilestone && dealDistributionMilestone?.length != 0 && dealDistributionMilestone[0].bmFinalized == 0"
            >
                Finalize
            </button>

            <div class="uploadfile-btn ml-2" *ngIf="projectDetails.entityCompanyCode && projectDetails.entityCompanyCode !== 'MOBI'">
                <button type="button" class="btn btn-sm filled-btn btn-filled-no-hover">
                    <i class="icon import-icon mr-1"></i> Import Deal distribution
                </button>
                <input
                    type="file"
                    name="files"
                    multiple
                    id="import-forecast-deal"
                    accept=".xlsx"
                    class="import-file"
                    (change)="importFile($event, 1, 'import-forecast-deal')"
                />
            </div>
        </div>
        <div class="float-right mb-2">
            <a
                href="../../../../../assets/files/Import_Deal_Distribution.xlsx"
                download
                class="btn btn-sm filled-btn"
                title="Download excel format"
            >
                Sample File
            </a>
        </div>

        <!--<button type="button" class="project-summery-button" (click)="viewHistory()">
  view
  history
</button>-->
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search"
                        style="height: inherit"
                        [(ngModel)]="fmsSearchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="search(0)" *ngIf="fmsSearchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="reset(0)" *ngIf="isFmsSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <!--table-->
            <table
                datatable
                [dtOptions]="dtOptions[0]"
                [dtTrigger]="dtTrigger"
                class="table table-bordered dataTable"
                #db
                id="forcastedtable"
            >
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>SW</th>
                        <th>Percentage</th>
                        <th>Amount</th>
                        <th>Project Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>PO Currency Value</th>
                        <th>Value($)</th>
                        <!--<th>Status Approval</th>-->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="dealDistributionMilestone?.length != 0">
                    <tr *ngFor="let x of dealDistributionMilestone; let index = index">
                        <td>{{ pageLength * pageIndex + (index + 1) }}</td>
                        <td>{{ x.ddSWItem }}</td>
                        <td>{{ x.ddPercentage }}</td>
                        <td>{{ x.ddAmount }}</td>
                        <td>{{ x.ddProjType }}</td>
                        <td>{{ x.ddStartDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.ddEndDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.ddPOCurrencyValue | currency: 'EUR' }}</td>
                        <td>{{ x.ddUSDValue | currency: 'USD' }}</td>
                        <!--<td>
  <button
      type="button"
      class="project-summery-button"
      (click)="ApproveStatus(x.ddId, 1, 1, 1)"
      *ngIf="x.showlevel1"
  >
      Approve Level1
  </button>
  <button type="button" class="project-summery-button" (click)="DeniedStatus(x.ddId, 1, 1)" *ngIf="x.showlevel1">
      Reject Level1
  </button>
  <button
      type="button"
      class="project-summery-button"
      (click)="ApproveStatus(x.ddId, 1, 2, 1)"
      *ngIf="x.showlevel1"
  >
      Send to Level2
  </button>
  <button
      type="button"
      class="project-summery-button"
      (click)="ApproveStatus(x.ddId, 2, 2, 1)"
      *ngIf="x.showlevel2"
  >
      Approve Level2
  </button>
  <button type="button" class="project-summery-button" (click)="DeniedStatus(x.ddId, 2, 1)" *ngIf="x.showlevel2">
      Reject Level2
  </button>
  <span *ngIf="!x.showlevel1 && !x.showlevel2">--</span>
</td>-->
                        <td class="text-center">
                            <a href="javascript:void(0);" *appHasRole="'DEAL DISTRIBUTION-READ'" (click)="viewDealDistribution(x, 1)">
                                <i class="icon view-icon mr-2"></i>
                            </a>
                            <a href="javascript:void(0);" *appHasRole="'DEAL DISTRIBUTION-UPDATE'" (click)="editDealDistribution(x, 1)">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a href="javascript:void(0);" *appHasRole="'DEAL DISTRIBUTION-DELETE'" (click)="openDeletePopup(x)">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dealDistributionMilestone?.length === 0">
                    <tr>
                        <td colspan="10" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <h2 class="table-title float-left">PMS Deal distribution</h2>
        <div class="text-right">
            <button
                type="button"
                class="btn btn-success filled-btn"
                (click)="FinalizeDealDistribution(0)"
                *ngIf="dealDistributionPMO && dealDistributionPMO?.length != 0 && dealDistributionPMO[0].bmFinalized == 0"
            >
                Finalize
            </button>
            <div class="uploadfile-btn ml-2" *ngIf="projectDetails.entityCompanyCode && projectDetails.entityCompanyCode !== 'MOBI'">
                <button type="button" class="btn btn-sm filled-btn btn-filled-no-hover">
                    <i class="icon import-icon mr-1"></i>Import Deal distribution
                </button>
                <input
                    type="file"
                    class="import-file"
                    name="files"
                    multiple
                    id="import-pms-deal"
                    accept=".xlsx"
                    (change)="importFile($event, 0, 'import-pms-deal')"
                />
            </div>
        </div>
        <div class="float-right mb-2">
            <a
                href="../../../../../assets/files/Import_Deal_Distribution.xlsx"
                download
                class="btn btn-sm filled-btn"
                title="Download excel format"
            >
                Sample File
            </a>
        </div>
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search"
                        style="height: inherit"
                        [(ngModel)]="pmsSearchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="search(1)" *ngIf="pmsSearchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="reset(1)" *ngIf="isPmsSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <!--table-->
            <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger1" class="table table-bordered dataTable" #db1 id="pmotable">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>SW</th>
                        <th>Percentage</th>
                        <th>Amount</th>
                        <th>Project Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>PO Currency Value</th>
                        <th>Value($)</th>
                        <!--<th>Status Approval</th>-->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="dealDistributionPMO?.length != 0">
                    <tr *ngFor="let x of dealDistributionPMO; let index = index">
                        <td>{{ pageLength * pageIndex + (index + 1) }}</td>
                        <td>{{ x.ddSWItem }}</td>
                        <td>{{ x.ddPercentage }}</td>
                        <td>{{ x.ddAmount }}</td>
                        <td>{{ x.ddProjType }}</td>
                        <td>{{ x.ddStartDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.ddEndDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.ddPOCurrencyValue | currency: 'EUR' }}</td>
                        <td>{{ x.ddUSDValue | currency: 'USD' }}</td>
                        <!--<td>
  <button
      type="button"
      class="project-summery-button"
      (click)="ApproveStatus(x.ddId, 1, 1, 2)"
      *ngIf="x.showlevel1"
  >
      Level 1 Approve
  </button>
  <button type="button" class="project-summery-button" (click)="DeniedStatus(x.ddId, 1, 2)" *ngIf="x.showlevel1">
      Level 1 Denied
  </button>
  <button
      type="button"
      class="project-summery-button"
      (click)="ApproveStatus(x.ddId, 1, 2, 2)"
      *ngIf="x.showlevel1"
  >
      Sent to Level 2
  </button>
  <button
      type="button"
      class="project-summery-button"
      (click)="ApproveStatus(x.ddId, 2, 2, 2)"
      *ngIf="x.showlevel2"
  >
      Level 2 Approve
  </button>
  <button type="button" class="project-summery-button" (click)="DeniedStatus(x.ddId, 2, 2)" *ngIf="x.showlevel2">
      Level 2 Denied
  </button>
  <span *ngIf="!x.showlevel1 && !x.showlevel2">--</span>
</td>-->
                        <td class="text-center">
                            <a href="javascript:void(0)" *appHasRole="'DEAL DISTRIBUTION-READ'" (click)="viewDealDistribution(x, 0)">
                                <i class="icon view-icon mr-2"></i>
                            </a>
                            <a href="javascript:void(0)" *appHasRole="'DEAL DISTRIBUTION-UPDATE'" (click)="editDealDistribution(x, 0)">
                                <i class="icon edit-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>

                <tbody *ngIf="dealDistributionPMO?.length === 0">
                    <tr>
                        <td colspan="10" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="distribution" class=" tab-pane fade">
    <br />
</div>
<div id="Revenue" class=" tab-pane fade">
    <br />
</div>
<div id="Timelive" class="tab-pane fade">
    <br />
</div>
<div id="SWDep" class=" tab-pane fade">
    <br />
</div>
<div id="Reports" class=" tab-pane fade">
    <br />
</div>

<div
    bsModal
    #viewdealDistributionmodel="bs-modal"
    class="modal fade"
    id="billing-milestone"
    tabindex="-1"
    role="dialog"
    aria-labelledby="basicModal"
    aria-hidden="true"
    [config]="{ backdrop: false }"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Deal Distribution</h4>
                <button type="button" class="close" (click)="cancelViewDealDistriution()">
                    <img src="assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <form class="project-summery-popup-form project-summery-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <table class="table project-table">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">Total Bill</td>
                                        <td>: {{ projectDetails?.totalBill | currency: 'USD' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Total Revenue</td>
                                        <td>: {{ projectDetails?.totalRevenue | currency: 'USD' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-7">
                            <table class="table project-table">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">Total Unbilled</td>
                                        <td>: {{ projectDetails?.totalUnbilled | currency: 'USD' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Revenue Backlog</td>
                                        <td>: {{ projectDetails?.revenueBackLog | currency: 'USD' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />

                    <h3>{{ bmName }}</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table project-table-1">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">SW</td>
                                        <td>: {{ viewDealDistibutionDetails.ddSWItem }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Percentage</td>
                                        <td>: {{ viewDealDistibutionDetails.ddPercentage }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Amount</td>
                                        <td>: {{ viewDealDistibutionDetails.ddAmount | currency: 'USD' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">
                                            Project Type
                                        </td>
                                        <td>: {{ viewDealDistibutionDetails.ddProjType }}</td>
                                    </tr>
                                    <!--<tr>
<td>MR Recurring Timebound : </td>
<td>{{viewDealDistibutionDetails.recurringTimeBound}}</td>
</tr>-->
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table project-table-1">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">Start Date</td>
                                        <td>: {{ viewDealDistibutionDetails.ddEndDate | date: 'dd-MM-yyyy' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">End Date</td>
                                        <td>: {{ viewDealDistibutionDetails.ddEndDate | date: 'dd-MM-yyyy' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">PO Currency Value</td>
                                        <td>: {{ viewDealDistibutionDetails.ddPOCurrencyValue | currency: 'EUR' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Value($)</td>
                                        <td>: {{ viewDealDistibutionDetails.ddUSDValue | currency: 'USD' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--<button type="button" class="project-summery-button" (click)="openViewDeletePopup(viewDealDistibutionDetails)">
    delete
</button>-->
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-success filled-btn"
                        *appHasRole="'DEAL DISTRIBUTION-UPDATE'"
                        (click)="openViewEditPopup(viewDealDistibutionDetails)"
                    >
                        Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    #addeditdealdestributionmodel="bs-modal"
    class="modal fade"
    id="create-bm-pop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="basicModal"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ ddId.value ? 'Edit Deal Distribution' : 'Add Deal Distribution' }}</h4>
                <button type="button" class="close" (click)="cancelDealDistriution()">
                    <i class="icon close-icon"></i>
                </button>
            </div>
            <form
                class="project-summery-popup-form project-summery-form"
                [formGroup]="dealDistributionForm"
                (ngSubmit)="addUpdateDealDistribution()"
            >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <table class="table project-table">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">Total Bill</td>
                                        <td>: {{ projectDetails?.totalBill | currency: 'USD' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Total Revenue</td>
                                        <td>: {{ projectDetails?.totalRevenue | currency: 'USD' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-7">
                            <table class="table project-table">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">Total Unbilled</td>
                                        <td>: {{ projectDetails?.totalUnbilled | currency: 'USD' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Revenue Backlog</td>
                                        <td>: {{ projectDetails?.revenueBackLog | currency: 'USD' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />

                    <h3>{{ bmName }}</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">SW</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="SW"
                                    formControlName="ddSWItem"
                                    [ngClass]="{
                                        'has-danger': ddSWItem.invalid && (ddSWItem.dirty || ddSWItem.touched || isFormSubmitted),
                                        'has-success': ddSWItem.valid && (ddSWItem.dirty || ddSWItem.touched)
                                    }"
                                />
                                <div class="error" *ngIf="ddSWItem.errors && (ddSWItem.dirty || ddSWItem.touched || isFormSubmitted)">
                                    <span *ngIf="ddSWItem.errors.required">SW is required.</span>
                                    <span *ngIf="ddSWItem.errors.pattern">SW is invalid.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Project Type</label>
                                <div class="b-select-wrap">
                                    <select
                                        class="form-control b-select"
                                        formControlName="ddProjType"
                                        id="pro-type"
                                        [ngClass]="{
                                            'has-danger': ddProjType.invalid && (ddProjType.dirty || ddProjType.touched || isFormSubmitted),
                                            'has-success': ddProjType.valid && (ddProjType.dirty || ddProjType.touched)
                                        }"
                                    >
                                        <option value="undefined" selected disabled> -- Select Project Type --</option>
                                        <option *ngFor="let i of ProjectTypeList" [value]="i.projTypeId">{{ i.projType }}</option>
                                    </select>
                                </div>
                                <div class="error" *ngIf="ddProjType.errors && (ddProjType.dirty || ddProjType.touched || isFormSubmitted)">
                                    <span *ngIf="ddProjType.errors.required">Project Type is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Amount</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Amount"
                                    formControlName="ddAmount"
                                    (blur)="blurAmount()"
                                    [readonly]="forcated == 0"
                                    [ngClass]="{
                                        'has-danger': ddAmount.invalid && (ddAmount.dirty || ddAmount.touched || isFormSubmitted),
                                        'has-success': ddAmount.valid && (ddAmount.dirty || ddAmount.touched)
                                    }"
                                />
                                <div class="error" *ngIf="ddAmount.errors && (ddAmount.dirty || ddAmount.touched || isFormSubmitted)">
                                    <span *ngIf="ddAmount.errors.required">Amount is required.</span>
                                    <span *ngIf="ddAmount.errors.pattern">Invalid Amount.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Percentage</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Percentage"
                                    formControlName="ddPercentage"
                                    [ngClass]="{
                                        'has-danger':
                                            ddPercentage.invalid && (ddPercentage.dirty || ddPercentage.touched || isFormSubmitted),
                                        'has-success': ddPercentage.valid && (ddPercentage.dirty || ddPercentage.touched)
                                    }"
                                />
                                <div
                                    class="error"
                                    *ngIf="ddPercentage.errors && (ddPercentage.dirty || ddPercentage.touched || isFormSubmitted)"
                                >
                                    <span *ngIf="ddPercentage.errors.required">Percentage is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Start Date</label>
                                <div
                                    class="input-group"
                                    [ngClass]="{
                                        'has-danger': ddStartDate.invalid && (ddStartDate.dirty || ddStartDate.touched || isFormSubmitted),
                                        'has-success': ddStartDate.valid && (ddStartDate.dirty || ddStartDate.touched)
                                    }"
                                >
                                    <input
                                        type="text"
                                        placeholder="Start Date"
                                        #startdate="bsDatepicker"
                                        class="form-control"
                                        bsDatepicker
                                        formControlName="ddStartDate"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        readonly
                                    />
                                    <span class="input-group-prepend" (click)="startdate.toggle()" [attr.aria-expanded]="startdate.isOpen">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                                <div
                                    class="error"
                                    *ngIf="ddStartDate.errors && (ddStartDate.dirty || ddStartDate.touched || isFormSubmitted)"
                                >
                                    <span *ngIf="ddStartDate.errors.required">Start date is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">End date</label>
                                <div
                                    class="input-group date-div"
                                    [ngClass]="{
                                        'has-danger': ddEndDate.invalid && (ddEndDate.dirty || ddEndDate.touched || isFormSubmitted),
                                        'has-success': ddEndDate.valid && (ddEndDate.dirty || ddEndDate.touched)
                                    }"
                                >
                                    <input
                                        type="text"
                                        placeholder="End Date"
                                        #enddate="bsDatepicker"
                                        class="form-control"
                                        bsDatepicker
                                        formControlName="ddEndDate"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        readonly
                                    />
                                    <span class="input-group-prepend" (click)="enddate.toggle()" [attr.aria-expanded]="enddate.isOpen">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                                <div class="error" *ngIf="ddEndDate.errors && (ddEndDate.dirty || ddEndDate.touched || isFormSubmitted)">
                                    <span *ngIf="ddEndDate.errors.required">End date is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">PO Currency Value</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    placeholder="PO Currency Value"
                                    formControlName="ddPOCurrencyValue"
                                    [ngClass]="{
                                        'has-danger':
                                            ddPOCurrencyValue.invalid &&
                                            (ddPOCurrencyValue.dirty || ddPOCurrencyValue.touched || isFormSubmitted),
                                        'has-success': ddPOCurrencyValue.valid && (ddPOCurrencyValue.dirty || ddPOCurrencyValue.touched)
                                    }"
                                />
                                <div
                                    class="error"
                                    *ngIf="
                                        ddPOCurrencyValue.errors &&
                                        (ddPOCurrencyValue.dirty || ddPOCurrencyValue.touched || isFormSubmitted)
                                    "
                                >
                                    <span *ngIf="ddPOCurrencyValue.errors.pattern">Invalid PO Currency.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Value($)</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Value($)"
                                    formControlName="ddUSDValue"
                                    [ngClass]="{
                                        'has-danger': ddUSDValue.invalid && (ddUSDValue.dirty || ddUSDValue.touched || isFormSubmitted),
                                        'has-success': ddUSDValue.valid && (ddUSDValue.dirty || ddUSDValue.touched)
                                    }"
                                />
                                <div class="error" *ngIf="ddUSDValue.errors && (ddUSDValue.dirty || ddUSDValue.touched || isFormSubmitted)">
                                    <span *ngIf="ddUSDValue.errors.pattern">Invalid Value($).</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">Value($)</label>
      <input type="text" class="form-control" placeholder="Value($)" formControlName="ddUSDValue" [ngClass]="{
        'has-danger': ddUSDValue.invalid && (ddUSDValue.dirty || ddUSDValue.touched || isFormSubmitted ),
        'has-success': ddUSDValue.valid && (ddUSDValue.dirty || ddUSDValue.touched)
      }" />
      <div class="error" *ngIf="ddUSDValue.errors && (ddUSDValue.dirty || ddUSDValue.touched || isFormSubmitted)">
        <span *ngIf="ddUSDValue.errors.required">Value($) is required.</span>
        <span *ngIf="ddUSDValue.errors.pattern">Invalid Value($).</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>-->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success filled-btn">save</button>
                    <button type="button" class="btn btn-success filled-btn" (click)="cancelDealDistriution()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete Deal Distribution Milestone</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <i class="icon close-icon"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteMilestone()">delete</button>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
