<div class="modal-content">
    <form class="form-horizontal" [formGroup]="entityCompanyForm" (ngSubmit)="editEntity()">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Edit Entity Company Code</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <i class="icon close-icon"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-md-12 mx-auto">
                <div class="form-group row mt-3 mb-4">
                    <label class="col-md-4 col-form-label" for="milestone-name">
                        <span class="asteriskField">
                            Entity Company Code : *
                        </span>
                    </label>
                    <div class="col-md-8">
                        <input
                            type="text"
                            class="form-control"
                            formControlName="entityCode"
                            id="milestone-name"
                            placeholder="Entity Company Code name"
                            [ngClass]="{
                                'has-danger': entityCode.invalid && (entityCode.dirty || entityCode.touched || isFormSubmitted),
                                'has-success': entityCode.valid && (entityCode.dirty || entityCode.touched)
                            }"
                        />
                        <div class="error" *ngIf="entityCode.errors && (entityCode.dirty || entityCode.touched || isFormSubmitted)">
                            <span *ngIf="entityCompanyCode.errors.required">Entity Company code is required.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success filled-btn" type="submit">
                Save
            </button>
            <button class="btn btn-success filled-btn" type="button" (click)="activeModal.dismiss('Cross click')">
                Cancel
            </button>
        </div>
    </form>
</div>
