<div id="Billing" class="tab-pane active">
    <div class="card-body">
        <h2 class="table-title float-left">Forecasted Milestone</h2>
        <div class="text-right">
            <div class="">
                <button type="button" class="btn btn-sm filled-btn" (click)="consolidatedBillingModal()">Consolidated BM</button>
                <button
                    type="button"
                    class="btn btn-sm filled-btn"
                    (click)="openCreateBillingModal('ADD')"
                    *appHasRole="'BILLING-CREATE'"
                    [disabled]="projectDetails?.amountUSD === 0"
                >
                    create billing milestone
                </button>
            </div>

            <span *ngIf="showFinalizeBtn">
                <button
                    type="button"
                    *ngIf="
                        (getForcastedMilestone && getForcastedMilestone?.length != 0 && getForcastedMilestone[0].bmFinalized == 0) ||
                        (pmsMilestones && pmsMilestones?.length != 0 && pmsMilestones[0].bmFinalized == 0)
                    "
                    class="btn btn-sm filled-btn"
                    (click)="finalize(1)"
                >
                    Finalize
                </button>
            </span>
            <div class="uploadfile-btn">
                <!--
              <div class="uploadfile-btn" *ngIf="projectDetails.entityCompanyCode && projectDetails.entityCompanyCode !== 'MOBI'">
-->
                <button type="button" class="btn btn-sm filled-btn btn-filled-no-hover" [disabled]="projectDetails?.amountUSD === 0">
                    <i class="icon import-icon mr-1"></i> import forecast milestones
                </button>
                <input
                    type="file"
                    name="files"
                    class="import-file"
                    id="forecastedMileImport"
                    accept=".xlsx"
                    (change)="importFile($event, 1, 'forecastedMileImport')"
                    [disabled]="projectDetails?.amountUSD === 0"
                />
            </div>

            <div class="ml-1 mb-2">
                <a
                    href="../../../../../assets/files/Import_Milestone.xlsx"
                    download
                    class="btn btn-sm filled-btn"
                    title="Download excel format"
                >
                    Sample File
                </a>
            </div>
        </div>
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="fmsSearchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="search(0)" *ngIf="fmsSearchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="reset(0)" *ngIf="isFmsSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table
                datatable
                [dtOptions]="dtOptions[0]"
                [dtTrigger]="dtTrigger"
                style="width: 100%"
                class="table table-bordered dataTable"
                #db
                id="example"
            >
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Key Milestone</th>
                        <th>Original Baseline Date</th>
                        <th>Actual Date</th>
                        <th>Ageing/Delays(Weeks)</th>
                        <th>Milestone Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="getForcastedMilestone?.length != 0">
                    <tr *ngFor="let fm of getForcastedMilestone; let i = index">
                        <td>{{ pageLength * pageIndex + (i + 1) }}</td>
                        <td>
                            {{ fm.bmMilestoneName }} {{ selectedPms }}
                            <select
                                *ngIf="pmsMilestonesList?.length !== 0"
                                type="text"
                                class="form-control"
                                (change)="selectedPmsOption($event.target.value, i)"
                            >
                                <option [ngValue]="undefined" selected>Map Milestone</option>
                                <option *ngFor="let pms of pmsMilestonesList" [value]="pms.actualbmId">
                                    {{ pms.actualMilestoneKey }}
                                </option>
                            </select>
                            <span *ngIf="pmsMilestonesList?.length !== 0 && showCheckbox(i) && showCheckboxBtn">
                                <input type="checkbox" (change)="mappPms($event, fm.bmID, i)" /> Click to map
                            </span>
                        </td>
                        <td>{{ fm.bmMsStartDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ (fm.bmActualDate ? fm.bmActualDate : fm.bmMsEndDate) | date: 'dd-MM-yyyy' }}</td>
                        <td
                            *ngIf="
                                fm.bmActualDate &&
                                fm.bmActualDate !== defaultSqlDate &&
                                (fm.bmMsEndDate && fm.bmMsEndDate !== defaultSqlDate)
                            "
                            class="text-danger"
                        >
                            {{ getDelayInWeeks(fm.bmMsEndDate, fm.bmActualDate) === 0 ? '' : '-'
                            }}{{ getDelayInWeeks(fm.bmMsEndDate, fm.bmActualDate) }}
                        </td>
                        <td
                            *ngIf="
                                !(
                                    fm.bmActualDate &&
                                    fm.bmActualDate !== defaultSqlDate &&
                                    (fm.bmMsEndDate && fm.bmMsEndDate !== defaultSqlDate)
                                )
                            "
                            class="text-danger"
                        >
                            --
                        </td>
                        <td *ngIf="fm.bmStatus">{{ fm.bmAmount | currency: 'USD' }}</td>
                        <td *ngIf="fm.bmStatus" class="text-center">
                            <!--
               Anchor tag is used to make link active for keyboard and tabing
           -->
                            <a
                                href="javascript:void(0);"
                                *appHasRole="'BILLING-READ'"
                                (click)="openViewMsModal(fm.bmID, 1, index, getForcastedMilestone.length)"
                            >
                                <i class="icon view-icon mr-2"></i>
                            </a>

                            <a
                                href="javascript:void(0);"
                                *appHasRole="'BILLING-UPDATE'"
                                (click)="openCreateBillingModal('EDIT', 1, fm.bmID)"
                            >
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a
                                href="javascript:void(0);"
                                *appHasRole="'BILLING-DELETE'"
                                (click)="openDeleteModal(fm.bmID, 1, index, getForcastedMilestone.length)"
                            >
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="getForcastedMilestone?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <h2 class="table-title">PMS milestone</h2>
        <div class="float-right">
            <div class="uploadfile-btn">
                <!--
              <div class="uploadfile-btn" *ngIf="projectDetails.entityCompanyCode && projectDetails.entityCompanyCode !== 'MOBI'">
-->

                <button type="button" class="btn btn-sm filled-btn btn-filled-no-hover" [disabled]="projectDetails?.amountUSD === 0">
                    <i class="icon import-icon mr-1"></i> import pms milestones
                </button>
                <input
                    type="file"
                    name="files"
                    class="import-file"
                    id="import-pms"
                    accept=".xlsx"
                    (change)="importFile($event, 0, 'import-pms')"
                    [disabled]="projectDetails?.amountUSD === 0"
                />
            </div>

            <div class="float-right mb-2 ml-2 sample-file-sec">
                <a
                    href="../../../../../assets/files/Import_Milestone.xlsx"
                    download
                    class="btn btn-sm filled-btn"
                    title="Download excel format"
                >
                    Sample File
                </a>
            </div>
            <!--<button
          type="button"
          *ngIf="pmsMilestones && pmsMilestones?.length != 0 && pmsMilestones[0].bmFinalized == 0"
          class="project-summery-button pms-milestone-finalize"
          (click)="finalize(0)"
      >
          Finalize
      </button>-->
            <!--
      <button type="button" class="project-summery-button" (click)="viewHistory()">view history</button>
      -->
        </div>
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search"
                        style="height: inherit"
                        [(ngModel)]="pmsSearchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="search(1)" *ngIf="pmsSearchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="reset(1)" *ngIf="isPmsSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger1" class="table table-bordered dataTable" #db1 id="example1">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Key Milestone</th>
                        <th>Original Baseline Date</th>
                        <th>Actual Date</th>
                        <th>Ageing/Delays(Weeks)</th>
                        <th>Milestone Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="pmsMilestones?.length != 0">
                    <tr *ngFor="let pm of pmsMilestones; let index = index">
                        <td>{{ pageLength2 * pageIndex2 + (index + 1) }}</td>
                        <td>{{ pm.bmMilestoneName }}</td>
                        <td>{{ pm.bmMsStartDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ (pm.bmActualDate ? pm.bmActualDate : pm.bmMsEndDate) | date: 'dd-MM-yyyy' }}</td>
                        <td
                            *ngIf="
                                pm.bmActualDate &&
                                pm.bmActualDate !== defaultSqlDate &&
                                (pm.bmMsEndDate && pm.bmMsEndDate !== defaultSqlDate)
                            "
                            class="text-danger"
                        >
                            {{ getDelayInWeeks(pm.bmMsEndDate, pm.bmActualDate) === 0 ? '' : '-'
                            }}{{ getDelayInWeeks(pm.bmMsEndDate, pm.bmActualDate) }}
                        </td>
                        <td
                            *ngIf="
                                !(
                                    pm.bmActualDate &&
                                    pm.bmActualDate !== defaultSqlDate &&
                                    (pm.bmMsEndDate && pm.bmMsEndDate !== defaultSqlDate)
                                )
                            "
                            class="text-danger"
                        >
                            --
                        </td>
                        <td>{{ pm.bmAmount ? (pm.bmAmount | currency: 'USD') : '--' }}</td>
                        <td class="text-center">
                            <!--
               Anchor tag is used to make link active for keyboard and tabing
           -->
                            <a
                                href="javascript:void(0);"
                                *appHasRole="'BILLING-READ'"
                                (click)="openViewMsModal(pm.bmID, 0, index, getForcastedMilestone.length)"
                            >
                                <i class="icon view-icon mr-2"></i>
                            </a>
                            <a
                                href="javascript:void(0);"
                                *appHasRole="'BILLING-UPDATE'"
                                (click)="openCreateBillingModal('EDIT', 0, pm.bmID)"
                            >
                                <i class="icon edit-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="pmsMilestones?.length === 0">
                    <tr>
                        <td colspan="7" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
