<!-- DataTables Example -->
<h4 class="page-title">Deal Type</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">Deal Type</span>
        <div class="float-right text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="addDealType()" *appHasRole="'DEAL DISTRIBUTION-CREATE'">
                Add New Deal Type
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>Deal Type Name</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="dealTypeList?.length != 0">
                    <tr *ngFor="let x of dealTypeList; let index = index">
                        <td>{{ pageLength * pageIndex + index + 1 }}</td>
                        <td>{{ x.dealType }}</td>
                        <td>{{ x.dealCreatedDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ x.dealUpdatedDate | date: 'dd-MM-yyyy' }}</td>
                        <td class="text-center">
                            <a (click)="editDealType(x)" *appHasRole="'DEAL DISTRIBUTION-UPDATE'" href="javascript:void(0);">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a (click)="openDeletePopup(x.dealTypeId)" *appHasRole="'DEAL DISTRIBUTION-DELETE'" href="javascript:void(0);">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dealTypeList?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #editdealtype="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="dealTypeForm" (ngSubmit)="addUpdateDealType()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{ dealTypeId.value ? 'Edit Deal Type' : 'Add New Deal Type' }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelDealType()">
                        <i class="icon close-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto">
                        <div class="form-group row mt-3 mb-4">
                            <label class="col-md-4 col-form-label" for="deal-type">
                                <span class="asteriskField">
                                    Deal Type Name : *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="dealType"
                                    id="deal-type"
                                    placeholder="Deal Type"
                                    [ngClass]="{
                                        'has-danger': dealType.invalid && (dealType.dirty || dealType.touched || isFormSubmitted),
                                        'has-success': dealType.valid && (dealType.dirty || dealType.touched)
                                    }"
                                />
                                <div class="error" *ngIf="dealType.errors && (dealType.dirty || dealType.touched || isFormSubmitted)">
                                    <span *ngIf="dealType.errors.required">Deal Type is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit">
                        Save
                    </button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelDealType()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete Deal Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <img src="../../../../assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p>Are you sure you want to delete this item?</p>
                    <button type="button" class="project-summery-button" (click)="deleteDealType()">delete</button>
                    <button type="button" class="project-summery-button" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
