<!--delete popup starts-->
<!--
<div id="delete-popup">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{ this.reportName }}</h4>
    </div>
    <div class="modal-body">
        <div class="mb-2">
            <div class="text-right">
                <button
                    type="button"
                    class="btn btn-sm filled-btn btn-filled-no-hover"
                    (click)="export()"
                    [disabled]="reportData?.length === 0"
                >
                    <i class="icon excel-icon"></i> Export Excel
                </button>
            </div>
        </div>
        <div class="delete-conformation text-center">
            <div class="table-responsive">
                <table class="table table-bordered" *ngIf="reportData?.length > 0">
                    <thead>
                        <tr>
                            <th *ngFor="let key of keys" class="report-header">{{ key | underscoreReplace }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let report of reportData">
                            &lt;!&ndash;
                        <td *ngFor="let item of report | keyvalue">{{ report[item.key] }}</td>
&ndash;&gt;
                            <td *ngFor="let key of keys">{{ report[key] }}</td>
                        </tr>
                    </tbody>
                </table>
                <p *ngIf="reportData?.length === 0">No data</p>
            </div>
        </div>
    </div>
</div>
-->
<div>
    <button type="button" class="btn btn-sm filled-btn btn-filled-no-hover pull-right" (click)="backToReportBuilder()">Go Back</button>
</div>
<h4 class="page-title">REPORT</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        {{ reportName }}
    </div>

    <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
        <div class="mb-4">
            <div class="">
                <div class="text-right">
                    <button
                        type="button"
                        class="btn btn-sm filled-btn btn-filled-no-hover"
                        (click)="export()"
                        [disabled]="reportData?.length === 0"
                    >
                        <i class="icon excel-icon"></i> Export Excel
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive gatepass-table billing-backlog-parent-table">
            <!--table-->
            <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                #db
                class="table dataTable"
                [ngClass]="reportData?.length > 0 ? 'table-bordered' : ''"
                id="example-datatable"
            >
                <thead>
                    <tr>
                        <!--
                      <th></th>
-->
                        <th *ngFor="let key of keys" class="report-header">{{ key | underscoreReplace }}</th>
                    </tr>
                </thead>
                <tbody *ngIf="reportData?.length > 0">
                    <tr *ngFor="let report of reportData">
                        <!--
            <td *ngFor="let item of report | keyvalue">{{ report[item.key] }}</td>
-->
                        <!--
                      <td></td>
-->
                        <td *ngFor="let key of keys">{{ report[key] }}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="reportData?.length === 0">
                    No data
                </tbody>
            </table>
        </div>
    </div>
</div>
