<!--Billing Milestone model popup starts-->

<div id="billing-milestone">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Billing Milestone</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeViewModal('Cross click')">
            <i class="icon close-icon"></i>
        </button>
    </div>
    <form class="project-summery-popup-form project-summery-form">
        <div class="modal-body" *ngIf="msData">
            <div class="row">
                <div class="col-md-4">
                    <table class="table project-table-1">
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold">Project Code</td>
                                <td>: {{ projectDetails?.projectCode }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Opp ID</td>
                                <td>: {{ projectDetails?.oppId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table project-table">
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold">Total Booking Amount($)</td>
                                <td>: {{ projectDetails?.amountUSD | currency: 'USD' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table project-table">
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold project-start-date">Project Start Date</td>
                                <td>: {{ projectDetails?.startDate | date: 'dd-MM-yyyy' }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Project End Date</td>
                                <td>: {{ projectDetails?.endDate | date: 'dd-MM-yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />

            <h5>{{ msData.bmMilestoneName }}</h5>
            <div class="row">
                <div class="col-md-6">
                    <table class="table project-table-1">
                        <tbody>
                            <!-- <tr>
                  <td>Product Code</td>
                  <td>:{{ msData.bmProjID }}</td>
              </tr>-->
                            <tr>
                                <td class="font-weight-semibold">
                                    Milestone
                                </td>
                                <td>: {{ msData.bmMilestoneName }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">MS Type</td>
                                <td>: {{ msData.bmTypeName }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Percentage(%)</td>
                                <td>: {{ msData.bmPercentage }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Risk</td>
                                <td>: {{ msData.bmRisk }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Amount($)</td>
                                <td>: {{ msData.bmAmount | currency: 'USD' }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Risk Remark</td>
                                <td>: {{ msData.bmRiskRemark }}</td>
                            </tr>

                            <tr>
                                <td class="font-weight-semibold">MS Baseline Date</td>
                                <td>: {{ msData.bmMsStartDate | date: 'dd-MM-yyyy' }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">MS Forecasted Date</td>
                                <td>: {{ msData.bmMsEndDate | date: 'dd-MM-yyyy' }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Actual Date</td>
                                <td>: {{ msData.bmActualDate | date: 'dd-MM-yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table project-table-1">
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold">PO Number</td>
                                <td>: {{ msData.bmPoNum }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">PMS MS Reference Number</td>
                                <td>: {{ msData.bmPmsMsRefNo }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Triggered</td>
                                <td *ngIf="msData.bmTriggered">: {{ msData.bmTriggered === 'N' ? 'NO' : 'YES' }}</td>
                                <td *ngIf="!msData.bmTriggered">:</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Rag</td>
                                <td class="green-box" *ngIf="msData?.bmRagTag == 'green'">
                                    :
                                    <ul>
                                        <li></li>
                                    </ul>
                                </td>
                                <td class="red-box" *ngIf="msData?.bmRagTag == 'red'">
                                    :
                                    <ul>
                                        <li></li>
                                    </ul>
                                </td>
                                <td class="yellow-box" *ngIf="msData?.bmRagTag == 'amber'">
                                    :
                                    <ul>
                                        <li></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Invoice Number</td>
                                <td>: {{ msData.bmInvoiceNumber }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Invoice Date</td>
                                <td>: {{ msData.bmInvoiceDate | date: 'dd-MM-yyyy' }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Invoice Amount($)</td>
                                <td>: {{ (msData.bmInvoiceAmount ? msData.bmInvoiceAmount : 0) | currency: 'USD' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table project-table-1 dependency-table" *ngIf="msData.conversionAnalysis.length > 0">
                        <thead>
                            <tr>
                                <th>Dependency name</th>
                                <th>Dependency Owner</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dep of msData.conversionAnalysis">
                                <td *ngIf="dep.dependency">{{ dep.dependency }}</td>
                                <td>{{ dep.dependencyOwner }}</td>
                                <td>
                                    <section>
                                        <table>
                                            <tr *ngFor="let det of dep.details">
                                                <td *ngIf="det.crnNo && dep.dependencyId === 1" class="dependency-padding pr-3">
                                                    Crn no: {{ det.crnNo }}
                                                </td>
                                                <td *ngIf="dep.dependencyId !== 3" class="dependency-padding pr-3">
                                                    Date: {{ det.resolutionDate | date: 'dd-MM-yyyy' }}
                                                </td>
                                                <td class="dependency-padding pr-3">Remarks: {{ det.remarks }}</td>
                                            </tr>
                                        </table>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" *ngIf="showTriggerBtn" class="btn btn-success filled-btn" (click)="triggerMs(msData.bmID)">
                Trigger
            </button>
            <button
                type="button"
                class="btn btn-success filled-btn"
                *appHasRole="'BILLING-UPDATE'"
                (click)="openEditBillingModal('EDIT', msData.bmForcasted, msData.bmID)"
            >
                Edit
            </button>
            <button
                [hidden]="milestoneData.forcastedId !== 1"
                *appHasRole="'BILLING-DELETE'"
                type="button"
                class="btn btn-success filled-btn"
                (click)="openDeleteModal(msData.bmID, milestoneData.forcastedId)"
            >
                delete
            </button>
        </div>
    </form>
</div>
