<div id="Billing" class=" tab-pane active">
    <div class="card-body">
        <h2 class="table-title float-left">Billing backlog waterfall report</h2>
        <div class="text-right">
            <button
                type="button"
                class="btn btn-sm filled-btn btn-filled-no-hover"
                (click)="exportBilling()"
                [disabled]="billingBacklog?.length === 0"
            >
                <i class="icon excel-icon"></i> Export Excel
            </button>
        </div>
        <!--<button type="button" class="project-summery-button" (click)="viewHistory()">
      view
      history
    </button>-->
        <div class="table-responsive gatepass-table billing-backlog-parent-table billing-backlog-report-table">
            <table id="first-table example" datatable [dtOptions]="dtOptions[0]" class="table table-bordered billing-backlog-table">
                <thead>
                    <tr>
                        <th class="opp-id" style="border-left: 1px solid #dee2e6 !important;">OPP ID</th>
                        <th>BOOKING QTR</th>
                        <th>YEAR</th>
                        <th>BOOKING DATE</th>
                        <th>REGION</th>
                        <th>PROJECT CODE</th>
                        <th>OPP NAME</th>
                        <th>PROJECT TYPE</th>
                        <th>ENTITY</th>
                        <th>PROJECT BOOKING</th>
                        <th>MNT BOOKING</th>
                        <th>GRAND TOTAL</th>
                        <th>TOTAL {{ currentYear - 1 }} BILLING</th>
                        <th>BILLING BACKLOG {{ currentYear - 1 }}</th>
                        <th>Q1 BILLING</th>
                        <th *ngIf="currentQtr == 'Q1'">TOTAL BILLING {{ currentQtr }}</th>
                        <th>Q2 BILLING</th>
                        <th *ngIf="currentQtr == 'Q2'">TOTAL BILLING {{ currentQtr }}</th>
                        <th>Q3 BILLING</th>
                        <th *ngIf="currentQtr == 'Q3'">TOTAL BILLING {{ currentQtr }}</th>
                        <th>Q4 BILLING</th>
                        <th *ngIf="currentQtr == 'Q4'">TOTAL BILLING {{ currentQtr }}</th>
                        <th>Total {{ currentYear }} BILLING</th>
                        <th>{{ currentYear + 1 }} BILLING</th>
                        <th>{{ currentYear + 2 }} BILLING</th>
                        <th>BUSINESS LINE</th>
                        <th>BIG DATA ANALYTICS</th>
                        <th>ROAMING</th>
                        <th>ROAMING ANALYTICS</th>
                        <th>SECURITY</th>
                        <th>TEST FACTORY</th>
                        <th>TOTAL OF BUSINESS LINE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of billingBacklog">
                        <td>{{ b.oppId }}</td>
                        <td>{{ 'Q' + b.bookingQtr }}</td>
                        <td>{{ b.dealYear }}</td>
                        <td>{{ b.closeDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ b.region }}</td>
                        <td>{{ b.projectCode }}</td>
                        <td>{{ b.oppName ? b.oppName : '--' }}</td>
                        <td>{{ b.oppType }}</td>
                        <td>{{ b.entityCompanyCode ? b.entityCompanyCode : '--' }}</td>
                        <td>{{ b.projectBookingAmount | currency: 'USD' }}</td>
                        <td>{{ b.mntBookingAmount | currency: 'USD' }}</td>
                        <td>{{ b.grandTotalBooking | currency: 'USD' }}</td>
                        <td>{{ b[totalBillingLastYear] | currency: 'USD' }}</td>
                        <td>{{ b[billingBacklogLastYear] | currency: 'USD' }}</td>
                        <td>{{ b.Q1 | currency: 'USD' }}</td>
                        <td *ngIf="currentQtr == 'Q1'">{{ b[totalBillingCrntQtr] | currency: 'USD' }}</td>
                        <td>{{ b.Q2 | currency: 'USD' }}</td>
                        <td *ngIf="currentQtr == 'Q2'">{{ b[totalBillingCrntQtr] | currency: 'USD' }}</td>
                        <td>{{ b.Q3 | currency: 'USD' }}</td>
                        <td *ngIf="currentQtr == 'Q3'">{{ b[totalBillingCrntQtr] | currency: 'USD' }}</td>
                        <td>{{ b.Q4 | currency: 'USD' }}</td>
                        <td *ngIf="currentQtr == 'Q4'">{{ b[totalBillingCrntQtr] | currency: 'USD' }}</td>
                        <td>{{ b[billingCurrentYear] | currency: 'USD' }}</td>
                        <td>{{ b[billingNextYear] | currency: 'USD' }}</td>
                        <td>{{ b[biliingAfter2yr] | currency: 'USD' }}</td>
                        <td>{{ b.businessLines ? b.businessLines : '--' }}</td>
                        <td>{{ b.BigDataAnalytics ? b.BigDataAnalytics : '--' }}</td>
                        <td>{{ b.Roaming ? b.Roaming : '--' }}</td>
                        <td>{{ b.RoamingAnalytics ? b.RoamingAnalytics : '--' }}</td>
                        <td>{{ b.Security ? b.Security : '--' }}</td>
                        <td>{{ b.TestFactory ? b.TestFactory : '--' }}</td>
                        <td>{{ b.totalBusinessLines ? b.totalBusinessLines : 0 }}%</td>
                    </tr>
                </tbody>
                <tbody *ngIf="billingBacklog?.length == 0">
                    <tr>
                        <td colspan="31" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <h2 class="table-title float-left">Revenue backlog waterfall report</h2>
        <div class="text-right">
            <button
                type="button"
                class="btn btn-sm filled-btn btn-filled-no-hover"
                (click)="exportRevenue()"
                [disabled]="revenueBacklog?.length === 0"
            >
                <i class="icon excel-icon"></i> Export Excel
            </button>
        </div>
        <!--<button type="button" class="project-summery-button" (click)="viewHistory()">
      view
      history
    </button>-->
        <div class="table-responsive gatepass-table ">
            <!--table-->
            <table
                style="width: 100%"
                id="second-table example"
                datatable
                [dtOptions]="dtOptions[1]"
                class="table table-bordered revenue-backlog-table"
            >
                <thead>
                    <tr>
                        <th class="opp-id" style="border-left: 1px solid #dee2e6 !important;">OPP ID</th>
                        <th>DEAL QTR</th>
                        <th>DEAL YEAR</th>
                        <th>BOOKING DATE</th>
                        <th>REGION</th>
                        <th>PROJECT CODE</th>
                        <th>OPP NAME</th>
                        <th>PROJECT TYPE</th>
                        <th>CONVERSION ANALYSIS</th>
                        <!--
                                  <th>REVENUE PROFILE</th>
            -->
                        <th>CASH BASIS</th>
                        <th>ENTITY</th>
                        <th>STATUS</th>
                        <th>CURRENCY</th>
                        <th>AMOUNT</th>
                        <th>PROJECT BOOKING</th>
                        <th>MNT BOOKING</th>
                        <th>TOTAL BACKLOG {{ currentYear - 1 }}</th>
                        <th>TOTAL BACKLOG {{ currentYear }}</th>
                        <th>MNT BACKLOG {{ currentYear - 1 }}</th>
                        <th>MNT BACKLOG {{ currentYear }} BILLING</th>
                        <th>MNT Q1</th>
                        <th>MNT Q2</th>
                        <th>MNT Q3</th>
                        <th>MNT Q4</th>
                        <th>BUSINESS LINE</th>
                        <th>BIG DATA ANALYTICS</th>
                        <th>ROAMING</th>
                        <th>ROAMING ANALYTICS</th>
                        <th>SECURITY</th>
                        <th>TEST FACTORY</th>
                        <th>TOTAL OF BUSINESS LINE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of revenueBacklog">
                        <td>{{ b.oppId }}</td>
                        <td>{{ 'Q' + b.bookingQtr }}</td>
                        <td>{{ b.dealYear }}</td>
                        <td>{{ b.closeDate | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ b.region }}</td>
                        <td>{{ b.projectCode }}</td>
                        <td>{{ b.oppName ? b.oppName : '--' }}</td>
                        <td>{{ b.oppType }}</td>
                        <td>{{ b.conversionType }}</td>
                        <td>{{ b.revenueProfileCash === 1 ? 'YES' : 'NO' }}</td>
                        <td>{{ b.entityCompanyCode ? b.entityCompanyCode : '--' }}</td>
                        <td>{{ b.oppStatus }}</td>
                        <td>{{ b.currency }}</td>
                        <td>{{ b.amount | currency: 'USD' }}</td>
                        <td>{{ b.projectBookingAmount | currency: 'USD' }}</td>
                        <td>{{ b.mntBookingAmount | currency: 'USD' }}</td>
                        <td>{{ b[totalBacklogLastYr] | currency: 'USD' }}</td>
                        <td>{{ b[totalBacklogCrntYr] | currency: 'USD' }}</td>
                        <td>{{ b[mntBacklogLastYr] | currency: 'USD' }}</td>
                        <td>{{ b[mntBacklogCrntYr] | currency: 'USD' }}</td>
                        <td>{{ b.mntQ1 | currency: 'USD' }}</td>
                        <td>{{ b.mntQ2 | currency: 'USD' }}</td>
                        <td>{{ b.mntQ3 | currency: 'USD' }}</td>
                        <td>{{ b.mntQ4 | currency: 'USD' }}</td>
                        <td>{{ b.businessLines ? b.businessLines : '--' }}</td>
                        <td>{{ b.BigDataAnalytics ? b.BigDataAnalytics : '--' }}</td>
                        <td>{{ b.Roaming ? b.Roaming : '--' }}</td>
                        <td>{{ b.RoamingAnalytics ? b.RoamingAnalytics : '--' }}</td>
                        <td>{{ b.Security ? b.Security : '--' }}</td>
                        <td>{{ b.TestFactory ? b.TestFactory : '--' }}</td>
                        <td>{{ b.totalBusinessLines ? b.totalBusinessLines : 0 }}%</td>
                    </tr>
                </tbody>
                <tbody *ngIf="revenueBacklog?.length == 0">
                    <tr>
                        <td colspan="31" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
