.page-title {
    font-size: 16px;
    color: #365661;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin: 5px 0 11px;
    text-transform: uppercase;
}
.card-header {
    background: #fff;
}
.card-header:first-child {
    color: #17252a;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
}
.project-summery-form .form-group label {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #17252a;
}
input {
    outline: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
.project-summery-button {
    border: 1px solid #365661;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    background: #365661;
    color: #ffffff;
    padding: 9px 48px;
    margin: 12px auto 8px;
    margin-right: 3px;
}
.project-summery-button:hover {
    background: #365661;
    background: transparent;
    color: #365661;
}
.project-summery-button img {
    margin-right: 10px;
}
table.dataTable thead > tr > th.sorting_asc {
    color: #365661;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
}
table.dataTable thead > tr > th.sorting {
    color: #365661;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
}
table.table-bordered.dataTable tbody td {
    font-weight: 400;
    color: #365661;
    font-size: 14px;
}
table.table-bordered.dataTable tbody td.ageing-color {
    color: #ff0000;
}
.mobileum-footer p {
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
}
#wrapper #content-wrapper {
    padding-bottom: 0;
}
.project-summery-details .tab-content {
    border: 1px solid #365661;
}
h2 {
    color: #17252a;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.project-summery-details ul li .nav-link.active {
    background: #365661;
    color: #fff;
    font-size: 13px;
    border: 1px solid #365661;
    border-radius: 0;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
}
.project-summery-details ul li {
    border: 1px solid #365661;
    border-bottom: none;
}
.project-summery-details ul li a {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    color: #365661;
}
.project-summery-details ul li a:hover {
    color: #365661;
}
#consolidated-bm .modal-header,
#create-bm-pop .modal-header,
#delete-popup .modal-header,
#billing-history .modal-header,
#billing-milestone .modal-header {
    background: #6f97a8;
}
#consolidated-bm .modal-header h4.modal-title,
#create-bm-pop .modal-header h4.modal-title,
#delete-popup .modal-header h4.modal-title,
#billing-history .modal-header h4.modal-title,
#billing-milestone .modal-header {
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 600;
}
@media (min-width: 992px) {
    .modal-lg.project-summery-popup {
        max-width: 1200px !important;
    }
}
.project-summery-form h3 {
    font-size: 14px;
    color: #17252a;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 23px;
}
.project-summery-popup .table-bordered thead th {
    color: #365661;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
}
.project-summery-popup .ageing-color {
    color: #ff0000;
}
.project-summery-popup .table-bordered td {
    font-weight: 400;
    color: #365661;
    font-size: 14px;
}
/* .project-summery-popup .table-responsive
  {
      border: 1px solid #dee2e6;
  } */
.b-select-wrap {
    border: none;
    color: #1092c9;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}

.b-select-wrap::after {
    content: url(/../../../assets/images/dropdown-icon.png);
    position: absolute;
    right: 0px;
    top: -15px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    font-size: 35px;
}

.b-select {
    padding: 5px 15px;
    background-color: white;
    border: 1px solid #365661;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0.5;
    line-height: 23px;
    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    appearance: none; /* for modern browsers */
}
.b-select:focus {
    border: 1px solid #365661;
}

/* remove default caret for ie */
.b-select::-ms-expand {
    display: none;
}
.delete-conformation p {
    font-size: 18px;
    color: #17252a;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 10px;
}
.delete-conformation {
    padding: 20px;
}
.modal-content {
    border: none;
}

table.project-table td,
table.project-table-1 td {
    border-top: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #17252a;
    padding: 3px;
}
#consolidated-bm .project-table,
#create-bm-pop .project-table,
#billing-history .project-table,
#billing-milestone .project-table,
#content-wrapper .project-table {
    max-width: 230px;
}
#billing-milestone .project-table-1 {
    max-width: 380px;
}

/*responsive css*/
@media (min-width: 768px) and (max-width: 991px) {
    .b-select-wrap::after {
        right: 14px;
    }
}
@media (max-width: 767px) {
    .project-summery-details ul {
        display: block;
    }
    .project-summery-button {
        padding: 9px 27px;
        font-size: 12px;
    }
}

/* data table css*/

.dataTables_wrapper {
    margin-bottom: 0 !important;
}

#first-table thead .project-type,
#first-table thead .opp-id,
#second-table thead .status {
    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
}

#first-table thead th {
    min-width: 10rem !important;
}
