<h4 class="page-title">REPORTS LIST</h4>
<div class="card mb-4">
    <div class="card-body" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
        <div class="report-sec">
            <span class="pull-right" title="Add Reports" (click)="openAddOrEditReportModal('ADD')"
                ><i class="fa fa-plus-circle add-more-icon" aria-hidden="true"></i>
            </span>
            <div class="mt-2">
                <table
                    id="first-table example"
                    datatable
                    [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger"
                    #db
                    class="table table-bordered billing-backlog-table"
                >
                    <thead>
                        <tr>
                            <th>Report Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let report of existingReports">
                            <td>{{ report.report_meta_name }}</td>
                            <td>
                                <a href="javascript:void(0);" (click)="openViewReportModal(report.report_meta_id, report.report_meta_name)"
                                    ><i class="icon view-icon mr-2"></i>
                                </a>
                                <a
                                    href="javascript:void(0);"
                                    (click)="openAddOrEditReportModal('EDIT', report.report_meta_id, report.report_meta_name)"
                                >
                                    <i class="icon edit-icon mr-2"></i>
                                </a>
                                <a href="javascript:void(0);" (click)="openDeleteModal(report.report_meta_id)">
                                    <i class="icon delete-icon mr-2"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="existingReports?.length == 0">
                        <tr>
                            <td colspan="2" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
