<!--Create Billing Milestone model popup starts-->
<div id="create-bm-pop">
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Project Code : {{ LOBProjectCode }}</h4>
                <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
                    <img src="../../../../../../assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive gatepass-table">
                                <table class="table table-bordered dataTable top-right-border" id="example">
                                    <thead>
                                        <tr>
                                            <th>SL No</th>
                                            <th>LOB Name</th>
                                            <th>LOB Value</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="LOBList.length != 0">
                                        <tr *ngFor="let x of LOBList; let index = index">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ x.lobName }}</td>
                                            <td>{{ x.lobValue }}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="LOBList.length == 0">
                                        <tr>
                                            <td colspan="3" class="no-data-available">No data!</td>
                                        </tr>
                                    </tbody>

                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Create Billing Milestone model popup Ends-->
