i.icon {
    display: inline-block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.menu-home-icon {
    background-image: url(../src/assets/images/home-icon.png);
    width: 22px;
    height: 22px;
}
.menu-projects-icon {
    background-image: url(../src/assets/images/projects-icon.png);
    width: 22px;
    height: 22px;
}
.menu-reports-icon {
    background-image: url(../src/assets/images/reports-icon.png);
    width: 22px;
    height: 22px;
}
.menu-users-icon {
    background-image: url(../src/assets/images/users-icon.png);
    width: 22px;
    height: 22px;
}
.menu-master-icon {
    background-image: url(../src/assets/images/master-data-icon.png);
    width: 22px;
    height: 22px;
}
.menu-setting-icon {
    background-image: url(../src/assets/images/setting-icon.png);
    width: 22px;
    height: 22px;
}

.mobileum-list-icon {
    background-image: url(../src/assets/images/bullet-icon.png);
    width: 9px;
    height: 9px;
}
.line-chart-blue {
    background-image: url(../src/assets/images/line-chart-blue.png);
    width: 16px;
    height: 16px;
}
.bar-chart-blue {
    background-image: url(../src/assets/images/bar-chart-blue.png);
    width: 16px;
    height: 16px;
}
.view-icon {
    background-image: url(../src/assets/images/view-icon.png);
    width: 16px;
    height: 13px;
}
.edit-icon {
    background-image: url(../src/assets/images/edit-icon.png);
    width: 12px;
    height: 12px;
}
.delete-icon {
    background-image: url(../src/assets/images/delete-icon.png);
    width: 11px;
    height: 14px;
}
.faq-icon {
    background-image: url(../src/assets/images/faq-icon.png);
    width: 16px;
    height: 16px;
}
.import-icon {
    background-image: url(../src/assets/images/import-icon.png);
    width: 17px;
    height: 16px;
}
.close-icon {
    background-image: url(../src/assets/images/close-icon.png);
    width: 14px;
    height: 14px;
}
.excel-icon {
    background-image: url(../src/assets/images/excel-icon.png);
    width: 17px;
    height: 16px;
}

a i.icon {
    cursor: pointer;
}
.w-150 {
    width: 150px;
}
.vertical-middle {
    vertical-align: middle;
}
.btn + .btn {
    margin-right: 5px;
}
.text-right .btn + .btn {
    margin-left: 5px;
    margin-right: 0px;
}
.btn.btn-sm {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 20px;
}
.btn.filled-btn {
    background-color: #365661 !important;
    color: #fff !important;
}

.btn.filled-btn:hover {
    background-color: #fff !important;
    color: #365661 !important;
    border-color: #365661;
}

.btn.filled-btn:focus {
    background-color: #fff !important;
    color: #365661 !important;
    border-color: #365661;
}

.btn-filled-no-hover.btn.filled-btn:hover {
    background-color: #365661 !important;
    color: #fff !important;
}
.btn.dropdown-toggle {
    padding: 5px 20px;
}
.btn.btn-success {
    border: 1px solid #365661;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    background: transparent;
    color: #365661;
    padding: 6px 48px;
}
.btn.btn-success:hover {
    background: #365661;
    color: #ffffff;
}

.btn.btn-success:focus {
    background: #365661;
    color: #ffffff;
}

.btn.btn-success:focus {
    background: #365661;
    color: #ffffff;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    background-color: #365661;
    border-color: #365661;
}
.b-select-wrap {
    border: none;
    color: #1092c9;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}
.b-select-wrap::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    width: 25px;
    height: 100%;
    pointer-events: none;
    background: url(assets/images/dropdown-icon.png) no-repeat;
    background-position: 50%;
}
.b-select {
    border: 1px solid #9babb0;
    outline: none;
    border-radius: 4px;
    opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.b-select:focus {
    border: 1px solid #365661;
}
.b-select::-ms-expand {
    display: none;
}
.card-header.card-header-title {
    font-size: 15px;
    font-weight: 600;
    color: #17252a;
}
.form-group label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.custom-list-group .list-group-item {
    padding: 0px 5px;
    border: 0px;
    cursor: pointer;
}
.custom-list-icon p {
    padding-left: 20px;
    position: relative;
}
.custom-list-icon i.icon {
    position: absolute;
    top: 6px;
    left: 0;
}
.td-options {
    display: inline-flex;
    vertical-align: middle;
}
.ng-select.ng-select-single .ng-select-container {
    min-height: 33px;
    height: 33px;
}
.mobileum-footer p {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
table.project-table td,
table.project-table-1 td {
    border-top: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #17252a;
    padding: 3px;
}
.btn-del {
    background: red !important;
    outline: 0;
    color: #ffffff !important;
    border: 0;
    margin-right: 1rem;
}
.table td,
.table th {
    padding: 9px;
}
.table thead th {
    font-size: 14px;
    font-weight: 500;
}

/*Modal Header*/
.modal-content .modal-header {
    background: #6f97a8;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 11px 1rem;
}
.modal-content .modal-body {
    max-height: calc(100vh - 200px);
    overflow: auto;
}
.modal-content .modal-footer {
    justify-content: flex-start;
}
.modal.fade.in.show {
    background-color: rgba(0, 0, 0, 0.5);
}
/*div#create-bm-pop {background-color: rgba(0,0,0,0.5);}*/
.modal-backdrop.fade.in.show {
    display: none !important;
}

/*project module sec*/
.project-module-sec h2 {
    color: #17252a;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 5px;
}
.project-summery-details .mat-tab-body-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn.filled-btn:active {
    background-color: #365661 !important;
    color: #fff !important;
}
