@import '~@ng-select/ng-select/themes/default.theme.css';

/*Error msg*/
.error {
    color: #f44336 !important;
    font-size: 13px;
    text-align: left !important;
}

.has-danger {
    border: 1px solid #f44336 !important;
}

.has-success {
    border: 1px solid green !important;
    border-radius: 5px;
}

.has-success .calander-icon {
    border-right: 1px solid green !important;
}

.has-danger .calander-icon {
    border-right: 1px solid #f44336 !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 46px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.smaller {
    font-size: 0.7rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.navbar-nav .form-inline .input-group {
    width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
    color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-item .nav-link:focus {
    outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
    position: absolute;
    margin-left: 0.75rem;
    top: 0.3rem;
    font-weight: 400;
    font-size: 0.5rem;
}

@media (min-width: 768px) {
    .navbar-nav .form-inline .input-group {
        width: auto;
    }
}

.sidebar {
    width: 90px !important;
    background-color: #212529;
    min-height: calc(100vh - 73px);
}

.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
}

.sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}

.sidebar .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

.sidebar .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active,
.sidebar .nav-item .nav-link:focus,
.sidebar .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}

@media (min-width: 768px) {
    .sidebar {
        width: 265px !important;
    }

    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 265px;
    }

    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
        display: inline;
    }

    .sidebar .nav-item .dropdown-menu {
        position: static !important;
        margin: 0 1rem;
        top: 0;
    }

    .sidebar .nav-item.dropdown .dropdown-toggle::after {
        display: block;
    }

    .sidebar.toggled {
        overflow: visible;
        width: 90px !important;
    }

    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }

    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 90px;
    }

    .sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: block;
    }

    .sidebar.toggled .nav-item .dropdown-menu {
        position: absolute !important;
        -webkit-transform: none !important;
        transform: none !important;
        left: calc(90px + 0.5rem) !important;
        margin: 0;
    }

    .sidebar.toggled .nav-item .dropdown-menu.dropup {
        bottom: 0;
        top: auto !important;
    }

    .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
}

.card-login {
    max-width: 25rem;
}

.card-register {
    max-width: 40rem;
}

.form-label-group {
    position: relative;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 90px);
    height: 80px;
    background-color: #e9ecef;
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    footer.sticky-footer {
        width: calc(100% - 225px);
    }
}

body.sidebar-toggled footer.sticky-footer {
    width: 100%;
}

@media (min-width: 768px) {
    body.sidebar-toggled footer.sticky-footer {
        width: calc(100% - 90px);
    }
}

body {
    background: #f5f5f5;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.form-control {
    border-color: #dddddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-control:focus {
    border-color: #dddddd;
    box-shadow: none;
}

.select_box select:focus {
    box-shadow: none;
    outline: none;
}

select:focus {
    box-shadow: none;
    outline: none;
}

.btn:focus,
.btn.focus {
    box-shadow: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.card {
    box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.1);
}

.page-link:focus {
    box-shadow: none;
}

/******* Header and Nav start *******/
@media (min-width: 768px) {
    .sidebar.toggled .nav-item .nav-link span {
        display: none;
    }
}

nav.navbar {
    background: #365661;
    padding: 18px 30px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    max-width: 150px;
    margin-right: 40px;
}

#sidebarToggle {
    padding: 0px;
    margin-right: 35px;
    background: none;
}

.fa-bars:before {
    color: #fff;
    font-size: 18px;
}

.sidebar {
    background-color: #fff;
}

.navbar .navbar-nav .fa {
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
}

.dropdown-menu.dropdown-menu-right.show {
    padding: 13px 20px 5px 20px;
    min-width: 250px;
    margin-top: 20px;
}

.dropdown-divider {
    margin: 0px;
}

a.dropdown-item {
    font-size: 14px;
    padding: 10px 0px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: transparent;
}

a.dropdown-item.change-property:hover {
    background: #6c6e70;
    color: #fff;
}

.dropdown-item .fa {
    float: right;
    margin-right: 10px;
}

.profile-li {
    background: #6f97a8;
    padding: 25px 0px 25px 30px;
}

.profile-div img {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-txt {
    float: left;
    margin: 6px 10px 0px;
}

.user-txt h5 {
    font-size: 14px;
    color: #fff;
    margin: 3px 0px;
}

.user-txt h6 {
    font-size: 12px;
    color: #fff;
    margin-bottom: 0px;
}

.navbar-nav .nav-item.active .nav-link {
    color: #365661 !important;
}

.sidebar .nav-item .nav-link:active,
.sidebar .nav-item .nav-link:focus,
.sidebar .nav-item .nav-link:hover {
    color: #365661 !important;
}

.sidebar .nav-item .nav-link:active {
    font-weight: 600 !important;
}

.sidebar .nav-item.active .nav-link .fa {
    color: #6c6e70;
}

.sidebar .nav-item .nav-link span {
    margin-left: 8px;
    font-size: 14px;
}

.sidebar .nav-item .nav-link {
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
}

.sidebar .nav-item .nav-link {
    color: #666666 !important;
    display: inline-flex;
    align-items: center;
}

.sidebar .nav-item .nav-link .fa {
    font-size: 18px;
}

.sidebar.toggled .nav-item .nav-link {
    text-align: left;
    padding: 15px 30px;
    width: 90px;
}

@media (max-width: 767px) {
    nav.navbar {
        padding: 10px 15px;
    }

    #sidebarToggle {
        margin-right: 10px;
    }

    .navbar-brand {
        margin-top: -7px;
    }

    .navbar-brand img {
        max-width: 80px;
    }

    .sidebar .nav-item .nav-link {
        font-size: 14px;
        padding: 10px 5px;
    }
}

/******* Header and Nav end *******/
/******* Dashboard end *******/
.page-title {
    font-size: 16px;
    font-weight: 700;
    color: #365661;
    line-height: 26px;
    margin: 5px 0 11px;
    text-transform: uppercase;
}

.card-header {
    background: #fff;
}

/******* Dashboard end *******/

/* custom selectbox */
.select_box {
    width: 100%;
    overflow: hidden;
    border: 1px solid #dddddd;
    position: relative;
    padding: 0;
    border-radius: 5px;
}

.select_box select {
    width: 100%;
    height: 100%;
    border: 0;
    position: relative;
    z-index: 99;
    padding: 5px 15px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.select_box:after {
    content: url(../src/assets/images/arrow.png);
    width: 14px;
    height: 8px;
    position: absolute;
    top: 5px;
    right: 13px;
    z-index: 98;
}

/* custom selectbox */

/* custom radio */
.radio-box {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: normal;
}

.radio-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #333;
}

.radio-box:hover input ~ .checkmark {
    background-color: #fff;
}

.radio-box input:checked ~ .checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.radio-box input:checked ~ .checkmark:after {
    display: block;
}

.radio-box .checkmark:after {
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
}

/* custom radio */

/* custom file */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.upload-btn-wrapper input[type='file'] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.upload-btn-wrapper img {
    float: left;
}

.upload-btn-wrapper span {
    margin: 5px 0px 0px 10px;
}

.upload-btn-wrapper span {
    margin: 2px 0px 0px 12px;
    float: left;
}

/* custom file */

body {
    height: 100vh !important;
}

/*Data table css*/
.dataTables_empty {
    display: none;
}

.table-bordered td:last-child,
.table-bordered th:last-child {
    border-right: 0;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 9px 10px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

select {
    word-wrap: normal;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2px 11px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: pointer;
    border: 0;
    background: #ededed;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: 1px solid #979797;
    background: #6f97a8 !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

/* mat group css */
.mat-tab-label {
    font-family: 'Poppins', sans-serif !important;
    height: 42px !important;
    opacity: 1 !important;
    color: #365661;
    padding: 0px 22px !important;
    min-width: auto !important;
}

.mat-tab-group {
    font-family: 'Poppins', sans-serif !important;
}

.mat-tab-labels {
    margin-bottom: -1px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #365661;
}

.table[_ngcontent-serverApp-c8] {
    margin: 0px;
}

::ng-deep .dark-modal .modal-dialog {
    max-width: 80% !important;
}

.bs-datepicker {
    margin-top: 3px;
}

.bs-datepicker-container {
    padding: 0px;
}

.theme-green .bs-datepicker-head {
    background-color: #365661;
}

.theme-green .bs-datepicker-body table td.week span {
    color: #365661;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*='select-']:after,
.theme-green .bs-datepicker-body table td[class*='select-'] span:after {
    background-color: #365661;
}

.action-icon {
    cursor: pointer;
}

.sidebar .sub-menu .nav-item .nav-link {
    padding: 5px 30px !important;
}

.sidebar .nav-item .sub-menu {
    list-style: none;
}

.highcharts-legend-item path.highcharts-graph {
    display: none;
}

.navbar-nav .nav-item.active ul li a {
    color: #666666 !important;
    font-size: 14px;
    text-decoration: none;
}

.navbar-nav .nav-item.active ul li {
    list-style: none;
    padding: 5px 30px;
}

.uploadfile-btn {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.uploadfile-btn input[type='file'] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8px;
    max-width: 100%;
    z-index: 9999;
    height: 100%;
    cursor: pointer;
}

.uploadfile-btn input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
    text-indent: 9999px;
    overflow: hidden;
    cursor: pointer;
}

.sidebar-toggled .sub-menu {
    display: none;
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    background: none;
}

.sidebar-toggled .sub-menu {
    display: none;
}

.sidebar-toggled .user-txt {
    display: none;
}

.sidebar-toggled .profile-li {
    padding-left: 20px;
}

.sidebar .nav-item .sub-menu {
    margin-top: -10px;
    margin-bottom: -10px;
}

.no-data-available {
    text-align: center;
    border: 1px solid #dee2e6 !important;
}

.table-loader {
    color: #365661;
}

button:disabled,
button[disabled] {
    background: #365661;
    background: transparent;
    color: #365661;
    cursor: not-allowed;
}

.project-summery-button {
    font-size: 11px !important;
}

.cur-pointer {
    cursor: pointer;
}

.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-link:not(.open-submenu) + .sub-menu {
    display: none;
}

.nav-link.active-route:not(.open-submenu) + .sub-menu {
    display: block;
}

.sidebar.toggled .nav-item .sub-menu {
    position: absolute;
    z-index: 9;
    width: 250px;
    top: 0;
    padding: 0;
    padding-top: 15px;
    left: 100px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    margin: 0px;
}

.sidebar.toggled .sub-menu .nav-item .nav-link {
    width: 100%;
}

.sidebar.toggled .nav-item .sub-menu:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.highcharts-root .highcharts-title {
    visibility: hidden;
}

.project-start-date {
    width: 50%;
}

table.table {
    font-size: 14px;
}

table.table ul {
    margin-bottom: 0px;
}

table.table thead {
    background: #f5f5f5;
}

.table-responsive > .table-bordered {
    border-right: 1px solid #dee2e6;
}

.table th,
.table td.text-center {
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_length {
    font-size: 13px;
}

.dataTables_wrapper .dataTables_length select {
    margin-left: 5px;
}

.font-weight-semibold {
    font-weight: 500 !important;
}

table.table.project-table td:not(.font-weight-semibold) {
    color: #565656 !important;
}

.dataTables_wrapper .dataTables_info {
    font-size: 12px;
}

h4.modal-title {
    font-size: 18px !important;
    font-weight: 500 !important;
}

label.control-label {
    font-size: 13px !important;
    margin-bottom: 5px;
    font-weight: 500 !important;
    line-height: normal !important;
}

.modal-content {
    border: 0px;
}

.project-summery-popup label.col-form-label {
    font-size: 14px;
}

.project-summery-popup .modal-footer {
    justify-content: flex-start;
}

.card-header-title .project-summery-button {
    padding: 5px 30px !important;
    margin: 0px !important;
    margin-right: 3px !important;
}

.project-summery-popup .project-summery-button {
    margin-right: 5px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 7px 10px;
    font-size: 14px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input input {
    font-size: 14px;
}

img.ngx-loading-logo.center-center {
    width: auto !important;
    height: 30px !important;
    top: calc((50% - 30px) - 5px);
    -webkit-animation: 1s linear infinite sk-threeStrings-rotateTwo;
    animation: 1s linear infinite sk-threeStrings-rotateTwo;
}

.b-select {
    padding-right: 25px;
    font-size: 13px;
}

.btn-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 86, 97, 0.2);
}

.blink-live-circle {
    animation: blinker 0.2s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
    font-size: 15px;
}

@keyframes blinker {
    from {
        color: #b20000;
    }

    to {
        color: #ff0000;
    }
}

.billing-backlog-table thead th,
.revenue-backlog-table thead th {
    min-width: 10rem !important;
}

table.dataTable.billing-backlog-table thead th {
    padding: 0.6rem !important;
}

.table-responsive.gatepass-table.billing-backlog-parent-table .dataTables_wrapper.no-footer,
.table-responsive.gatepass-table.revenue-backlog-parent-table .dataTables_wrapper.no-footer {
    position: unset;
}

.table-responsive.gatepass-table.billing-backlog-parent-table,
.table-responsive.gatepass-table.revenue-backlog-parent-table {
    position: unset;
}

.billing-backlog-parent-table .dataTables_wrapper .dataTables_paginate,
.revenue-backlog-parent-table .dataTables_wrapper .dataTables_paginate {
    position: absolute !important;
    right: 23px !important;
    margin-top: 0;
    font-size: 13px;
}

.billing-backlog-parent-table .dataTables_wrapper .dataTables_paginate .paginate_button,
.revenue-backlog-parent-table .dataTables_wrapper .dataTables_paginate .paginate_button {
    line-height: 19px;
}

.billing-backlog-parent-table .dataTables_wrapper .dataTables_length {
    position: absolute;
    margin-top: -42px;
}

.billing-backlog-parent-table .dataTables_wrapper .dataTables_filter {
    position: absolute;
    right: 23px;
    margin-top: -42px;
}

.revenue-backlog-parent-table .dataTables_wrapper .dataTables_length {
    position: absolute;
    margin-top: -33px;
}

.revenue-backlog-parent-table .dataTables_wrapper .dataTables_filter {
    position: absolute;
    right: 23px;
    margin-top: -33px;
}

.billing-backlog-parent-table .dataTables_wrapper .dataTables_info {
    position: absolute;
    margin-top: 0;
}

.revenue-backlog-parent-table .dataTables_wrapper .dataTables_info {
    position: absolute;
    margin-top: 0;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ngx-foreground-spinner {
    display: none;
}

.billing-backlog-parent-table .dataTables_wrapper .dataTables_processing,
.revenue-backlog-parent-table .dataTables_wrapper .dataTables_processing {
    top: 63%;
}

.import-file {
    outline: none;
}
.billing-backlog-report-table .dataTables_wrapper .dataTables_processing {
    top: 19%;
}

.sidebar .nav-item .nav-link:focus,
.active-route .sidebar .nav-item .nav-link {
    color: #365661 !important;
    font-weight: 600 !important;
}

.tab-index + .tab-index {
    margin-left: 5px;
}

.project-summery-button:focus {
    background: transparent !important;
    color: #365661 !important;
    border: 1px solid #365661 !important;
}

/*
// scrollbar width changes
div::-webkit-scrollbar {
  width: 5px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/

.active-route a {
    font-weight: 600 !important;
}

th {
    vertical-align: middle !important;
}

.graph-loader-css {
    height: 400px;
    line-height: 400px;
    vertical-align: middle;
}

.hand-cursor {
    cursor: pointer;
}

.updated-chart-text {
    font-size: 10px;
}

.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.sample-file-sec {
    margin-top: 10px;
}
