<!--<p>
  project-details works!
</p>
<button  [routerLink]="['', 'projects', 'summary', '123','revenue']" >revenue</button>-->
<!-- DataTables Example -->
<h4 class="page-title">PROJECT SUMMARY</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        SUMMARY
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table project-table">
                    <tbody>
                        <tr>
                            <td class="font-weight-semibold">Total Bill</td>
                            <td>: {{ TotalBill | currency: 'USD' }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Total Revenue:</td>
                            <td>: {{ projectDetails?.totalRevenue | currency: 'USD' }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Project Code</td>
                            <td>: {{ projectDetails?.projectCode }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Opp ID</td>
                            <td>: {{ projectDetails?.oppId }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Opp Name</td>
                            <td>: {{ projectDetails?.opportunityName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table project-table">
                    <tbody>
                        <tr>
                            <td class="font-weight-semibold">Total Unbilled</td>
                            <td>: {{ TotalUnbilled | currency: 'USD' }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Revenue Backlog</td>
                            <td>: {{ RevenueBacklog | currency: 'USD' }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Total Booking Amount($)</td>
                            <td>: {{ projectDetails?.amountUSD | currency: 'USD' }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold project-start-date">Project Start Date</td>
                            <td [ngClass]="projectDetails?.startDate ? '' : 'text-left'">
                                : {{ projectDetails?.startDate | date: 'dd-MM-yyyy' }}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-semibold">Project End Date</td>
                            <td [ngClass]="projectDetails?.endDate ? '' : 'text-left'">
                                : {{ projectDetails?.endDate | date: 'dd-MM-yyyy' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <mat-tab-group class="project-summery-details mt-3">
            <mat-tab label="Project Details">
                <ng-template matTabContent>
                    <div class="project-module-sec tab-content">
                        <app-project-summary
                            (projectUpdated)="onChanged($event)"
                            [projectDetails]="projectDetails"
                            *ngIf="projectDetails"
                        ></app-project-summary>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Billing" *appHasRole="'BILLING'">
                <ng-template matTabContent>
                    <div class="project-module-sec tab-content">
                        <app-billing [projectDetails]="projectDetails" *ngIf="projectDetails"></app-billing>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Deal Distribution" *appHasRole="'DEAL DISTRIBUTION'">
                <ng-template matTabContent>
                    <div class="project-module-sec tab-content">
                        <app-deal-distribution [projectDetails]="projectDetails" *ngIf="projectDetails"></app-deal-distribution>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Revenue" *appHasRole="'REVENUE'">
                <ng-template matTabContent>
                    <div class="project-module-sec tab-content">
                        <app-revenue [projectDetails]="projectDetails" *ngIf="projectDetails"></app-revenue>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Revenue Forecast" *appHasRole="'TIMELIVE'">
                <ng-template matTabContent>
                    <div class="project-module-sec tab-content">
                        <app-timelive [projectDetails]="projectDetails" *ngIf="projectDetails"></app-timelive>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="SWDep">
                <ng-template matTabContent>
                    <div class="project-module-sec tab-content">
                        <app-sw-dep [projectDetails]="projectDetails" *ngIf="projectDetails"></app-sw-dep>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Reports">
                <ng-template matTabContent>
                    <div class="project-module-sec tab-content">
                        <app-reports [projectDetails]="projectDetails" *ngIf="projectDetails"></app-reports>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
