<!-- DataTables Example -->
<h4 class="page-title">Opportunity Deal Type</h4>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <span class="mt-1 d-inline-block">
            Opportunity Deal Type
        </span>
        <div class="float-right text-right">
            <button class="btn btn-sm filled-btn" type="button" (click)="addOpportunity()" *appHasRole="'OPPURTUNITY DEAL TYPE-CREATE'">
                Add Opportunity Deal Type
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive gatepass-table">
            <div class="custom-search-filter">
                <div class="input-group">
                    <label for="search-input" class="pt-1">Search: </label>
                    <input
                        type="text"
                        id="search-input"
                        style="height: inherit"
                        [(ngModel)]="searchData"
                        class="form-control search-input"
                        aria-label="Amount (to the nearest dollar)"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text search-icon" (click)="tableSearch()" *ngIf="searchData"
                            ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <span class="input-group-text search-icon" (click)="tableReset()" *ngIf="isSearched"
                            ><i class="fa fa-refresh" aria-hidden="true"></i
                        ></span>
                    </div>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" #db id="example">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>Opportunity Name</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="OpportunityList?.length != 0">
                    <tr *ngFor="let x of OpportunityList; let index = index">
                        <td>{{ pageLength * pageIndex + index + 1 }}</td>
                        <td>{{ x.ot_name }}</td>
                        <td>{{ x.ot_created_date ? (x.ot_created_date | date: 'dd-MM-yyyy') : '--' }}</td>
                        <td>{{ x.ot_updated_date ? (x.ot_updated_date | date: 'dd-MM-yyyy') : '--' }}</td>
                        <td class="text-center">
                            <!--<a [routerLink]="['', 'projects', 'summary', '123']">
                <img src="../../../../assets/images/view-icon.png" class="img-fluid">
              </a>-->
                            <a href="javascript:void(0);" (click)="editOpportunity(x)" *appHasRole="'OPPURTUNITY DEAL TYPE-UPDATE'">
                                <i class="icon edit-icon mr-2"></i>
                            </a>
                            <a href="javascript:void(0);" (click)="openDeletePopup(x.ot_id)" *appHasRole="'OPPURTUNITY DEAL TYPE-DELETE'">
                                <i class="icon delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="OpportunityList?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #editopportunity="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="opportunityForm" (ngSubmit)="addUpdateOpportunity()">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        {{ opportunityId.value ? 'Edit Opportunity Deal Type' : 'Add New Opportunity Deal Type' }}
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelOpportunity()">
                        <i class="icon close-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 mx-auto">
                        <div class="form-group row mt-3 mb-4">
                            <label class="col-md-4 col-form-label" for="oppo-name">
                                <span class="asteriskField">
                                    Opportunity Name : *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="opportunityName"
                                    id="oppo-name"
                                    placeholder="Opportunity name"
                                    [ngClass]="{
                                        'has-danger':
                                            opportunityName.invalid &&
                                            (opportunityName.dirty || opportunityName.touched || isFormSubmitted),
                                        'has-success': opportunityName.valid && (opportunityName.dirty || opportunityName.touched)
                                    }"
                                />
                                <div
                                    class="error"
                                    *ngIf="opportunityName.errors && (opportunityName.dirty || opportunityName.touched || isFormSubmitted)"
                                >
                                    <span *ngIf="opportunityName.errors.required">Opportunity name is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success filled-btn" type="submit">Save</button>
                    <button class="btn btn-success filled-btn" type="button" (click)="cancelOpportunity()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    bsModal
    id="consolidated-bm"
    #confirmdialog="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-child-name"
>
    <div class="modal-dialog modal-md project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete Opportunity Deal Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">
                    <i class="icon close-icon"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-conformation text-center">
                    <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteopportunity()">delete</button>
                    <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="cancelDelete()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
