<!--delete popup starts-->
<div id="delete-popup">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete Report</h4>
        <button type="button" class="close">
            <i class="icon close-icon" (click)="activeModal.dismiss('Cross click')"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="delete-conformation text-center">
            <p class="mt-4 mb-4">Are you sure you want to delete this item?</p>
            <button type="button" class="btn btn-success filled-btn mt-2 mb-2 mr-1" (click)="deleteReport()">delete</button>
            <button type="button" class="btn btn-success filled-btn mt-2 mb-2" (click)="activeModal.dismiss('Cancel')">cancel</button>
        </div>
    </div>
</div>
<!--delete popup Ends-->
