<h4 class="page-title">Billing</h4>

<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row align-items-center">
            <div class="col-6">
                Historical View LOB <span class="updated-chart-text">(Updated {{ lobTimeStamp }} ago)</span>
            </div>

            <div class="col-6">
                <div class="text-right">
                    <!--<button class="view-buttons" type="button">Download</button>-->
                    <button class="btn btn-sm filled-btn" type="button" (click)="RedirectBillingForecast()">Billing Forecast</button>
                    <button class="btn btn-sm filled-btn" type="button" (click)="RedirectBillingBacklog()">Backlog</button>
                </div>
            </div>
            <div class="w-150 ml-3">
                <select class="form-control" [(ngModel)]="selectedYear" name="selectedYear" (change)="selectedYearOnChange(selectedYear)">
                    <option *ngFor="let i of yearList" [value]="i.id">{{ i.value }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="graph-section">
        <div class="historical-view-sec">
            <div class="mt-5">
                <mat-tab-group class="project-summery-details">
                    <mat-tab label="Chart">
                        <ng-template matTabContent>
                            <div class="project-module-sec tab-content">
                                <highcharts-chart
                                    *ngIf="showBillingRevenueDashboardChartOptions"
                                    [Highcharts]="Highcharts"
                                    [options]="billingReportDashboardSecondOptions"
                                    style="width: 100%; height: 400px; display: block;"
                                    [oneToOne]="secondDashboardoneToOneFlag"
                                    [(update)]="updatebillingReportDashboardSecondViewChart"
                                ></highcharts-chart>
                                <div *ngIf="!showBillingRevenueDashboardChartOptions" class="text-center graph-loader-css">
                                    <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Table">
                        <ng-template matTabContent>
                            <div class="project-module-sec tab-content" style="padding-top:20px ">
                                <div class="mb-3 mr-1">
                                    <div class="text-right">
                                        <button
                                            type="button"
                                            class="btn btn-sm filled-btn btn-filled-no-hover"
                                            (click)="chartExportService.export('billing-lob-dashboard', 'Billing Lob')"
                                        >
                                            <i class="icon excel-icon"></i> Export Excel
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive gatepass-table">
                                    <table class="table table-bordered" width="100%" cellspacing="0" id="billing-lob-dashboard">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="4" class="text-center">Q1</th>
                                                <th colspan="4" class="text-center">Q2</th>
                                                <th colspan="4" class="text-center">Q3</th>
                                                <th colspan="4" class="text-center">Q4</th>
                                                <th class="text-center">Total</th>
                                                <th>Last Year Total</th>
                                                <th>Growth</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th *ngFor="let i of tableMonthList; let index = index">{{ i }}</th>

                                                <th>Total</th>
                                                <th>Last Year Total</th>
                                                <th>Growth</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let i of billingDashboardSecondList; let index = index">
                                            <tr>
                                                <td>{{ i.name }}</td>
                                                <td *ngFor="let sub of i.data; let ind = index">
                                                    <span *ngIf="ind !== i.data.length - 1"> {{ sub | currency: 'USD' }} </span>
                                                    <span *ngIf="ind === i.data.length - 1">
                                                        {{ sub ? sub.toFixed(2) : 'NA' }} <span *ngIf="sub">%</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row">
            <div class="col-6 no-padding">
                Billing Report Dashboard <span class="updated-chart-text">(Updated {{ historyBillingDashboardTimeStamp }} ago)</span>
            </div>
            <!--<div class="col-9 no-padding">
  <div class="float-right">
    <button class="view-buttons" type="button">Download</button>
  </div>
</div>-->
        </div>
    </div>
    <div class="card-body">
        <div class="graph-section">
            <div class="historical-view-sec">
                <div class="mt-1">
                    <mat-tab-group class="project-summery-details">
                        <mat-tab label="Chart">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content">
                                    <highcharts-chart
                                        *ngIf="showBillingReportDashboardChartOptions"
                                        [Highcharts]="Highcharts"
                                        [options]="billingReportDashboardOneOptions"
                                        style="width: 100%; height: 400px; display: block;"
                                        [oneToOne]="oneDashboardoneToOneFlag"
                                        [(update)]="updatebillingReportDashboardOneViewChart"
                                    ></highcharts-chart>
                                    <div *ngIf="!showBillingReportDashboardChartOptions" class="text-center graph-loader-css">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Table">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content" style="padding-top:20px ">
                                    <div class="mb-3 mr-1">
                                        <div class="text-right">
                                            <button
                                                type="button"
                                                class="btn btn-sm filled-btn btn-filled-no-hover"
                                                (click)="chartExportService.export('billing-report-dashboard', 'Billing Report Dashboard')"
                                            >
                                                <i class="icon excel-icon"></i> Export Excel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive gatepass-table">
                                        <table class="table table-bordered" width="100%" cellspacing="0" id="billing-report-dashboard">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="4" class="text-center">Q1</th>
                                                    <th colspan="4" class="text-center">Q2</th>
                                                    <th colspan="4" class="text-center">Q3</th>
                                                    <th colspan="4" class="text-center">Q4</th>
                                                    <th class="text-center">Total</th>
                                                    <!-- <th>Last Year Total</th>
                                                    <th>Growth</th>-->
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th *ngFor="let i of tableMonthList">{{ i }}</th>
                                                    <th>Total</th>
                                                    <!--<th>Last Year Total</th>
                                                    <th>Growth</th>-->
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let i of billingDashboardOneList; let index = index">
                                                <tr>
                                                    <td>{{ i.name }}</td>
                                                    <td
                                                        *ngFor="let sub of i.data; let ind = index"
                                                        [hidden]="ind === i.data.length - 1 || ind === i.data.length - 2"
                                                    >
                                                        <span *ngIf="ind !== i.data.length - 1"> {{ sub | currency: 'USD' }} </span>
                                                        <span *ngIf="ind === i.data.length - 1">
                                                            {{ sub ? sub.toFixed(2) : 'NA' }} <span *ngIf="sub">%</span></span
                                                        >
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row">
            <div class="col-6 no-padding">
                History View <span class="updated-chart-text">(Updated {{ historyTimeStamp }} ago)</span>
            </div>
            <!--<div class="col-9 no-padding">
  <div class="float-right">
    <button class="view-buttons" type="button">Download</button>
  </div>
</div>-->
        </div>
    </div>
    <div class="card-body">
        <div class="graph-section">
            <div class="historical-view-sec">
                <div class="mt-3">
                    <mat-tab-group class="project-summery-details">
                        <mat-tab label="Chart">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content">
                                    <highcharts-chart
                                        *ngIf="showHistoryChartOptions"
                                        [Highcharts]="Highcharts"
                                        [options]="historyChartOptions"
                                        style="width: 100%; height: 400px; display: block;"
                                        [oneToOne]="historyoneToOneFlag"
                                        [(update)]="updateHistoricalViewChart"
                                    ></highcharts-chart>
                                    <div *ngIf="!showHistoryChartOptions" class="text-center graph-loader-css">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Table">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content" style="padding-top:20px ">
                                    <div class="mb-3 mr-1">
                                        <div class="text-right">
                                            <button
                                                type="button"
                                                class="btn btn-sm filled-btn btn-filled-no-hover"
                                                (click)="chartExportService.export('billing-history', 'Billing History')"
                                            >
                                                <i class="icon excel-icon"></i> Export Excel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive gatepass-table">
                                        <table class="table table-bordered" width="100%" cellspacing="0" id="billing-history">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="4" class="text-center">Q1</th>
                                                    <th colspan="4" class="text-center">Q2</th>
                                                    <th colspan="4" class="text-center">Q3</th>
                                                    <th colspan="4" class="text-center">Q4</th>
                                                    <th class="text-center">Total</th>
                                                    <th>Last Year Total</th>
                                                    <th>Growth</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th *ngFor="let i of tableMonthList">{{ i }}</th>
                                                    <th>Total</th>
                                                    <th>Last Year Total</th>
                                                    <td>Growth</td>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let i of billingHistoryList; let index = index">
                                                <tr>
                                                    <td>{{ i.name }}</td>
                                                    <td *ngFor="let sub of i.data; let ind = index">
                                                        <span *ngIf="ind !== i.data.length - 1"> {{ sub | currency: 'USD' }} </span>
                                                        <span *ngIf="ind === i.data.length - 1">
                                                            {{ sub ? sub.toFixed(2) : 'NA' }} <span *ngIf="sub">%</span></span
                                                        >
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row">
            <div class="col-6 no-padding">
                History Entity View <span class="updated-chart-text">(Updated {{ entityTimeStamp }} ago)</span>
            </div>
            <!--<div class="col-9 no-padding">
<div class="float-right">
<button class="view-buttons" type="button">Download</button>
</div>
</div>-->
        </div>
    </div>
    <div class="card-body">
        <div class="graph-section">
            <div class="historical-view-sec">
                <div class="mt-3">
                    <mat-tab-group class="project-summery-details">
                        <mat-tab label="Chart">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content">
                                    <highcharts-chart
                                        *ngIf="showBillingEntityChartOptions"
                                        [Highcharts]="Highcharts"
                                        [options]="historyEntityChartOptions"
                                        style="width: 100%; height: 400px; display: block;"
                                        [oneToOne]="historyEntityOneToOneFlag"
                                        [(update)]="updateHistoryEnityViewChart"
                                    ></highcharts-chart>
                                    <div *ngIf="!showBillingEntityChartOptions" class="text-center graph-loader-css">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Table">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content" style="padding-top:20px ">
                                    <div class="mb-3 mr-1">
                                        <div class="text-right">
                                            <button
                                                type="button"
                                                class="btn btn-sm filled-btn btn-filled-no-hover"
                                                (click)="chartExportService.export('billing-history-entity', 'Billing History Entity')"
                                            >
                                                <i class="icon excel-icon"></i> Export Excel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive gatepass-table">
                                        <table class="table table-bordered" width="100%" cellspacing="0" id="billing-history-entity">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="4" class="text-center">Q1</th>
                                                    <th colspan="4" class="text-center">Q2</th>
                                                    <th colspan="4" class="text-center">Q3</th>
                                                    <th colspan="4" class="text-center">Q4</th>
                                                    <th class="text-center">Total</th>
                                                    <th>Last Year Total</th>
                                                    <th>Growth</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th *ngFor="let i of tableMonthList">{{ i }}</th>
                                                    <th>Total</th>
                                                    <th>Last Year Total</th>
                                                    <td>Growth</td>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let i of billingHistoryEntityList; let index = index">
                                                <tr>
                                                    <td>{{ i.name }}</td>
                                                    <td *ngFor="let sub of i.data; let ind = index">
                                                        <span *ngIf="ind !== i.data.length - 1"> {{ sub | currency: 'USD' }} </span>
                                                        <span *ngIf="ind === i.data.length - 1">
                                                            {{ sub ? sub.toFixed(2) : 'NA' }} <span *ngIf="sub">%</span></span
                                                        >
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header card-header-title">
        <div class="row">
            <div class="col-6 no-padding">
                History Region View <span class="updated-chart-text">(Updated {{ regionTimeStamp }} ago)</span>
            </div>
            <!--<div class="col-9 no-padding">
<div class="float-right">
<button class="view-buttons" type="button">Download</button>
</div>
</div>-->
        </div>
    </div>
    <div class="card-body">
        <div class="graph-section">
            <div class="historical-view-sec">
                <div class="mt-3">
                    <mat-tab-group class="project-summery-details">
                        <mat-tab label="Chart">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content">
                                    <highcharts-chart
                                        *ngIf="showBillingRegionChartOptions"
                                        [Highcharts]="Highcharts"
                                        [options]="billingHistoryRegionOptions"
                                        style="width: 100%; height: 400px; display: block;"
                                        [oneToOne]="historyRegionOneToOneFlag"
                                        [(update)]="updateHistoryRegionViewChart"
                                    ></highcharts-chart>
                                    <div *ngIf="!showBillingRegionChartOptions" class="text-center graph-loader-css">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw table-loader"></i>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Table">
                            <ng-template matTabContent>
                                <div class="project-module-sec tab-content" style="padding-top:20px ">
                                    <div class="mb-3 mr-1">
                                        <div class="text-right">
                                            <button
                                                type="button"
                                                class="btn btn-sm filled-btn btn-filled-no-hover"
                                                (click)="chartExportService.export('billing-history-region', 'Billing History Region')"
                                            >
                                                <i class="icon excel-icon"></i> Export Excel
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive gatepass-table">
                                        <table class="table table-bordered" width="100%" cellspacing="0" id="billing-history-region">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="4" class="text-center">Q1</th>
                                                    <th colspan="4" class="text-center">Q2</th>
                                                    <th colspan="4" class="text-center">Q3</th>
                                                    <th colspan="4" class="text-center">Q4</th>
                                                    <th class="text-center">Total</th>
                                                    <th>Last Year Total</th>
                                                    <th>Growth</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th *ngFor="let i of tableMonthList">{{ i }}</th>
                                                    <th>Total</th>
                                                    <th>Last Year Total</th>
                                                    <td>Growth</td>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let i of billingRegionList; let index = index">
                                                <tr>
                                                    <td>{{ i.name }}</td>
                                                    <td *ngFor="let sub of i.data; let ind = index">
                                                        <span *ngIf="ind !== i.data.length - 1"> {{ sub | currency: 'USD' }} </span>
                                                        <span *ngIf="ind === i.data.length - 1">
                                                            {{ sub ? sub.toFixed(2) : 'NA' }}<span *ngIf="sub">%</span></span
                                                        >
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="card mb-4">
  <div class="card-header card-header-title">
    <div class="row">
      <div class="col-3 no-padding">Entity Wise Split</div>

    </div>
  </div>

  <div class="card-body">
    <div class="graph-section">
      <div class="col-12 historical-view-sec">
        <div class="mt-5">
          <mat-tab-group class="project-summery-details">
            <mat-tab label="Chart">
              <ng-template matTabContent>
                <div class="project-module-sec tab-content">
                  <highcharts-chart [Highcharts]="Highcharts"
                                    [options]="historyChartOptions"
                                    style="width: 100%; height: 400px; display: block;"
                                    [(update)]="updateHistoricalViewChart"></highcharts-chart>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Table">
              <ng-template matTabContent>
                <div class="project-module-sec tab-content" style="padding-top:30px ">
                  <div class="table-responsive gatepass-table">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Billing</th>
                          <th>Revenue</th>
                          <th>SW Dependencies</th>
                          <th>Paper Work</th>
                          <th class="text-center">Risk</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="red-box text-center">
                            <ul>
                              <li></li>
                            </ul>
                          </td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                        </tr>
                        <tr>
                          <td class="yellow-box text-center">
                            <ul>
                              <li></li>
                            </ul>
                          </td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                        </tr>
                        <tr>
                          <td class="green-box text-center">
                            <ul>
                              <li></li>
                            </ul>
                          </td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                          <td>$ 4521.4</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>-->
