<!--Billing Milestone model popup starts-->

<div id="billing-milestone">
    <div class="modal-dialog modal-lg project-summery-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Details</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <img src="../../../../assets/images/close-icon.png" class="img-fluid" />
                </button>
            </div>
            <div class="modal-body">
                <h5 class="mt-1 page-title">Project Details</h5>
                <div class="row">
                    <div class="col-md-4">
                        <table class="table project-table">
                            <tbody>
                                <tr>
                                    <td>Project Code</td>
                                    <td>: {{ projectDetails?.projectCode }}</td>
                                </tr>
                                <tr>
                                    <td>Opp ID</td>
                                    <td>: {{ projectDetails?.oppId }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table project-table">
                            <tbody>
                                <tr>
                                    <td>General Manager</td>
                                    <td>: {{ projectDetails?.gmName | titlecase }}</td>
                                </tr>

                                <tr>
                                    <td>Account Manager</td>
                                    <td>: {{ projectDetails?.accMName | titlecase }}</td>
                                </tr>

                                <tr>
                                    <td>Technical Account Manager</td>
                                    <td>: {{ projectDetails?.tamName | titlecase }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table project-table">
                            <tbody>
                                <tr>
                                    <td>Project Start Date</td>
                                    <td>: {{ projectDetails?.startDate | date: 'dd-MM-yyyy' }}</td>
                                </tr>
                                <tr>
                                    <td>Project End Date</td>
                                    <td>: {{ projectDetails?.endDate | date: 'dd-MM-yyyy' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h5 class="mt-1 page-title">Milestone Details</h5>
                <div class="row">
                    <div class="col-md-4">
                        <table class="table project-table">
                            <tbody>
                                <tr>
                                    <td>Milestone</td>
                                    <td>: {{ milestoneData?.bmMilestoneName }}</td>
                                </tr>
                                <tr>
                                    <td>Dependencies</td>
                                    <td>: {{ milestoneData?.bmDependencies }}</td>
                                </tr>
                                <tr>
                                    <td>Dependency Owner</td>
                                    <td>: {{ milestoneData?.bmDependencyOwner | titleCase }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table project-table">
                            <tbody>
                                <tr>
                                    <td>Milestone Start Date</td>
                                    <td>: {{ milestoneData?.bmMsStartDate | date: 'dd-MM-yyyy' }}</td>
                                </tr>
                                <tr>
                                    <td>Milestone End Date</td>
                                    <td>: {{ milestoneData?.bmMsEndDate | date: 'dd-MM-yyyy' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div class="status-btns" *ngIf="shouldDisplayApprovalButton(milestoneData)">
                            <button
                                type="button"
                                class="project-summery-button pms-milestone-finalize"
                                (click)="accepetLevel(milestoneData.bmID, userLevelType, 0, milestoneData.bmForcasted)"
                                [disabled]="forecastedMilestoneAcceptDisabledValue === true"
                            >
                                Approve Level{{ userLevelType }}
                            </button>
                            <button
                                type="button"
                                class="project-summery-button pms-milestone-finalize"
                                (click)="rejectMilestone(milestoneData.bmID, userLevelType, 0, milestoneData.bmForcasted)"
                                [disabled]="forecastedMilestoneAcceptDisabledValue === true"
                            >
                                Reject Level{{ userLevelType }}
                            </button>
                            <button
                                *ngIf="userLevelType === 1"
                                type="button"
                                class="project-summery-button pms-milestone-finalize"
                                (click)="sendToLevel2(milestoneData.bmID, userLevelType, 0, milestoneData.bmForcasted)"
                                [disabled]="forecastedMilestoneAcceptDisabledValue === true"
                            >
                                Send to Level2
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
